openapi: 3.0.3
info:
  title: Dental Pre-Care Estimate API
  version: 1.0.0
  description: Invokes the Dental Pre-Care Estimate GraphQL API. This API validates a claim before submission
    by running a `Claims Pre‑Check` against payer rules, X12 formatting, eligibility, and adjudication
    logic.
servers:
- url: https://sandbox-apigw.optum.com/oihub/dental
paths:
  /claim/precare/v1:
    post:
      summary: Dental Claim Pre-Check (GraphQL)
      operationId: dentalClaimPrecheck
      parameters:
      - in: header
        name: apim-gateway-client-id
        description: API Gateway client identifier
        required: true
        schema:
          type: string
      - in: header
        name: providerTaxId
        description: Provider Tax ID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: GraphQL query string
                  example: "query getClaimPrecheck($input: ClaimInput!) {\n  claimPreCheck(input: $input)\
                    \ {\n    transactionId\n    x12ResponseData\n    responseType\n    x12Response277CA\n\
                    \    x12Response835\n    message\n    statusCode\n  }\n}\n"
                variables:
                  type: object
                  properties:
                    input:
                      type: object
                      properties:
                        payerId:
                          type: string
                          example: '52133'
                        x12RequestData:
                          type: string
                          description: Raw 837 X12 request payload
                          example: ISA*00*...~GS*HC*...
              required:
              - query
              - variables
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      claimPreCheck:
                        type: object
                        properties:
                          transactionId:
                            type: string
                          x12ResponseData:
                            type: string
                          responseType:
                            type: string
                          x12Response277CA:
                            type: string
                          x12Response835:
                            type: string
                          message:
                            type: string
                          statusCode:
                            type: integer
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      security:
      - bearerAuth: []
  /claim/precare/v1/healthcheck:
    get:
      summary: Health check
      operationId: dentalClaimPrecheckHealth
      responses:
        '200':
          description: Service is healthy
      security:
      - bearerAuth: []
components:
  schemas: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter a Bearer access token. The API Explorer applies the Bearer scheme.
security:
- bearerAuth: []
x-readme:
  explorer-enabled: true
  proxy-enabled: true
