openapi: 3.0.0
info:
  version: 1.0.0
  description: API for RTS Payer Dental Claim Actions
  title: Real Dental Claim Submission API
servers:
- url: https://sandbox-apigw.optum.com
paths:
  /py/oihub/claim/dnt/submit/v1/graphql:
    post:
      parameters:
      - name: providerTaxId
        in: header
        description: Provider Tax ID
        required: false
        schema:
          type: string
          example: '123456789'
      - name: x-optum-consumer-correlation-id
        in: header
        description: 'Correlation ID can be used to trigger the Mock API call for dental claim submission.
          Use "test_" in order to hit the Mock flow. Example correlation ID : test_dnt-claim-submission-200_success'
        required: false
        schema:
          type: string
          example: 4d4a8964-e5fa-42dc-a37d-12345789
      requestBody:
        content:
          application/json:
            schema:
              description: GraphQL request with query and variables for Dental Claim Submission
              type: object
              required:
              - query
              - variables
              properties:
                query:
                  type: string
                  description: GraphQL mutation query string
                  example: 'mutation claimActions($input: ClaimSubmissionInput!) { claimSubmission(input:
                    $input) { transactionId x12Response277CA message statusCode } }'
                variables:
                  type: object
                  description: Variables for the GraphQL query
                  required:
                  - input
                  properties:
                    input:
                      description: Claim submission input data
                      $ref: '#/components/schemas/ClaimSubmissionInput'
            examples:
              SubmitDentalClaim:
                summary: Submit Dental Claim Request
                value:
                  query: 'mutation claimActions($input: ClaimSubmissionInput!) { claimSubmission(input:
                    $input) { transactionId x12Response277CA message statusCode } }'
                  variables:
                    input:
                      x12RequestData: ISA*00*          *00*          *ZZ*DENTAL123      *ZZ*PAYER456       *260113*1430*^*00501*000000001*0*P*:~GS*HC*DENTAL123*PAYER456*20260113*1430*1*X*005010X224A2~ST*837*0001*005010X224A2~BHT*0019*00*D001*20260113*1430*CH~NM1*41*2*ABC
                        DENTAL*****XX*1234567890~PER*IC*CONTACT*TE*5551234567~NM1*40*2*DELTA DENTAL*****46*98765~HL*1**20*1~PRV*BI*PXC*1223G0001X~NM1*85*2*ABC
                        DENTAL*****XX*1234567890~N3*555 DENTAL DR~N4*CITY*ST*12345~REF*EI*123456789~HL*2*1*22*0~SBR*P*18*******CI~NM1*IL*1*SMITH*JANE****MI*ABC123456~N3*456
                        ELM ST~N4*CITY*ST*12345~DMG*D8*19800101*F~NM1*PR*2*DELTA DENTAL*****PI*98765~CLM*D001*150***11:B:1*Y*A*Y*Y~DTP*431*D8*20260110~REF*D9*REF789~HI*ABK:K0210~LX*1~SV3*AD:D0120*150**1~TOO*JP*4~DTP*472*D8*20260110~SE*23*0001~GE*1*1~IEA*1*000000001~
                      payerId: '88848'
        required: true
      tags:
      - Dental Claim Actions
      responses:
        '200':
          content:
            application/json:
              examples:
                SubmitDentalClaim:
                  summary: Dental Claim Submission Response
                  value:
                    transactionId: '8841512345678901'
                    x12Response277CA: ISA*00*          *00*          *ZZ*87726          *ZZ*B00099999805   *250911*1927*^*00501*000000000*0*P*:~GS....~GE*1*0~IEA*1*000000000~
                    message: Claim submitted successfully. Refer 277CA for validation outcomes.
                    statusCode: '000'
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      claimSubmissionResponse:
                        description: ''
                        $ref: '#/components/schemas/ClaimSubmissionResponse'
                  errors:
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: Error code identifying the specific error
                        description:
                          type: string
                          description: Detailed error message
                    description: List of errors that occurred during Dental Claim Actions
                    type: array
          description: '**SubmitDentalClaim**




            **Success Response:**


            * 000 - Dental claim submitted successfully. Refer 277CA for validation outcomes.




            **Error Codes (Global Codes):**


            * REQ_401 - Unauthorized: Missing/invalid/expired credentials or token


            * REQ_422 - Validation failed: Request is syntactically valid but fails semantic validation


            * REQ_500 - Internal server error: Unexpected error


            * REQ_503 - Service unavailable: Downstream service is currently unavailable


            * REQ_504 - Gateway timeout: Upstream dependency timed out


            * GTW_06 - TA1 Rejection: TA1 acknowledgment indicates envelope failure


            * GTW_08 - Unknown Document: Gateway does not recognize document structure


            * GTW_11 - Service Failure: General processing error at the downstream service


            * GTW_12 - Downstream Timeout: Payer system failed to respond within SLA


            * GTW_13 - Persistence Error: Internal storage failure at the gateway


            * GTW_14 - Ack Failure: Failure generating downstream 999/277 files


            * GTW_15 - Config Error: Downstream environment configuration mismatch


            * EDI_200 - Wrong Claim Type: Expected 837D (Dental)


            * EDI_203 - Batch Not Allowed: Multiple ST-SE segments detected. Single-claim submissions
            only


            * EDI_206 - Invalid segment: One or more segments are invalid, out of order, or not allowed

            '
        '401':
          content:
            application/json:
              example:
                statusCode: 401
                message: Unauthorized
          description: Unauthorized
        '500':
          content:
            application/json:
              example:
                statusCode: 500
                message: Internal server error
          description: Internal Server Error
      description: 'The Dental Claim Action API facilitates dental claim submission in X12 format and
        returns responses in the 277CA format. It provides a flexible GraphQL endpoint to streamline end-to-end
        dental claim action processing. Below operation is supported: <strong>SubmitDentalClaim:</strong>
        Validates if the dental claim submitted is eligible for claim submission and upon validation if
        the claim is eligible for submission, claim will be submitted.'
      summary: Dental Claim Actions API
      operationId: dntClaimActions
      security:
      - bearerAuth: []
  /py/oihub/claim/dnt/submit/v1/health-check:
    get:
      responses:
        '200':
          description: Service is healthy
        '500':
          description: Service is unhealthy
      operationId: healthCheck
      tags:
      - HealthCheck
      summary: Health Check Endpoint
      security:
      - bearerAuth: []
components:
  schemas:
    ClaimSubmissionInput:
      type: object
      description: ClaimSubmissionInput
      properties:
        x12RequestData:
          example: ISA*00*          *00*          *ZZ*SENDER ID       *ZZ*RECEIVER ID    *231012*1200*U*00501*000000001*0*P*:~
            GS*HP*SENDERAPP*RECEIVERAPP*20231012*1200*000000001*X*005010X222A1~ ST*837*0001*005010X222A1~
            [... BHT, HL, PRV, N1, N3, N4, CLM, CAS, PLB, HI, DMG, and other 837 segments...] SE*32*0001~
            GE*1*000000001~ IEA*1*000000001~
          description: EDI837 X12 formatted claim data
          type: string
        payerId:
          example: '88848'
          description: payer ID
          type: string
    ClaimSubmissionResponse:
      type: object
      description: ClaimSubmissionResponse
      properties:
        transactionId:
          example: '8841512345678901'
          description: unique transactionID created by the payer for the claim submission request.
          type: string
        x12Response277CA:
          example: ISA*00*          *00*          *ZZ*87726          *ZZ*B00099999805   *250911*1927*^*00501*000000000*0*P*:~GS....~GE*1*0~IEA*1*000000000~
          description: edi x12-277 claim acknowledgement.
          type: string
        message:
          example: Claim submitted successfully. Refer 277CA for validation outcomes.
          description: Message describing the final outcome of the claim submission process.
          type: string
        statusCode:
          example: '000'
          description: status code for the submission process.
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter a Bearer access token. The API Explorer applies the Bearer scheme.
security:
- bearerAuth: []
x-readme:
  explorer-enabled: true
  proxy-enabled: true
