openapi: 3.0.1
info:
  title: Enhanced Eligibility API
  description: 'Enhanced Eligibility provides real-time eligibility verification for medical benefit inquiries
    and optional Coverage Discovery workflows when additional coverage needs to be researched asynchronously.


    Timing guidance:

    - Real-Time Eligibility is synchronous, but payer and clearinghouse response time dominate the end-to-end
    latency.

    - The OI Enterprise gateway times out at 110 seconds for this API.

    - Request deduplication is customer-configurable and determines whether a request is sent to the clearinghouse
    or short-circuited by replaying a prior transaction response.

    - RTCOB and Coverage Insight also use a separate non-configurable 72-hour request cache. When that
    cache is hit, the path is marked as skipped instead of creating a new downstream submission.

    - Coverage Discovery is asynchronous because some paths involve chained clearinghouse work and additional
    connected workflow dependencies.

    - Most non-Coverage-Insight discovery paths are near real time relative to traditional discovery workflows.

    - Customers with strict turnaround sensitivity should evaluate Coverage Insight enrollment carefully.

    - Coverage Discovery paths and add-ons are enabled per customer and are not included automatically.


    Primary integration patterns:

    1. Submit a real-time eligibility request as normalized JSON or as a JSON request body with `x12`
    set to the X12 270 payload, and receive a normalized JSON response.

    2. If enrolled in Coverage Discovery, inspect the real-time response `link` header for related discovery
    task resources when discovery is automatically triggered from the real-time request/response.

    3. For advanced use cases, submit Coverage Discovery requests directly when you already possess a
    processed canonical eligibility request and, when needed, a processed eligibility response, and want
    asynchronous follow-up processing using a callback URL or by polling the discovery task resource.

    4. When using direct discovery, the X12 workflow is often easier than the canonical JSON workflow
    because it accepts the processed `x12-270` and `x12-271` rather than requiring mapping into both canonical
    models.

    '
  version: v0.2.0
servers:
- url: https://sandbox-apigw.optum.com
  description: Sandbox server (uses test data)
- url: https://apigw.optum.com
  description: Production server (uses live data)
tags:
- name: Eligibility Requests
  description: 'Submit new real-time eligibility transactions. These endpoints accept either a normalized
    JSON request or a JSON request body with `x12` set to the X12 270 payload, and return a normalized
    JSON eligibility response. When a customer is enrolled in integrated Coverage Discovery, these operations
    may also return related discovery task links in the response headers.

    '
- name: Eligibility Transactions
  description: 'Retrieve previously processed real-time eligibility transactions. Use these endpoints
    to list transactions, filter by status, date range, patient details, or correlation metadata, and
    fetch a single transaction record by id for audit, troubleshooting, and downstream workflows.

    '
- name: Coverage Discovery
  description: 'Create and retrieve asynchronous Coverage Discovery tasks. Coverage Discovery paths and
    add-ons are enabled per customer and are not included automatically. These endpoints support direct
    submission using either normalized eligibility data or JSON bodies containing X12 payloads, dry-run
    validation of enrolled discovery paths, polling for task status, and callback-based delivery of completed
    discovery results.

    '
- name: Healthcheck
  description: 'Verify service availability for the Enhanced Eligibility workflow. Use this endpoint to
    confirm the API is reachable and the underlying system is healthy before or during integration operations.

    '
paths:
  /rcm/eligibility/v1:
    post:
      operationId: postEligibility
      tags:
      - Eligibility Requests
      summary: Submit a new eligibility request
      security:
      - oAuth:
        - create_txn
      description: "## Overview\nProvided a valid request, this endpoint submits a new real-time transaction\
        \ for processing.\nThe submitted provider NPI must be a valid NPI and follow standard NPI validation\
        \ rules. If no valid NPI is identified for the request, the transaction returns `status.value`\
        \ of `processing_error` with this message: `No valid NPI identified for this request. Please reach\
        \ out to the Enhanced Eligibility team if assistance is needed.`\nThe response is JSON and includes\
        \ the raw `x12-271` response string so clients can extract the payer's original EDI response if\
        \ needed.\nReal-time response time is driven primarily by payer and clearinghouse latency. The\
        \ OI Enterprise gateway times out at 110 seconds for this API.\nIf your organization is enrolled\
        \ in deduplication, that feature is evaluated before clearinghouse submission. Deduplication is\
        \ customer-configurable, including the lookback window and whether prior-month requests are excluded.\
        \ When a duplicate is found, the clearinghouse is skipped and the transaction `sourceType` is\
        \ `duplicate`.\n## Coverage Discovery Integration\nIf you are enrolled in Coverage Discovery at\
        \ the time of the request and your configured discovery conditions are met, the Coverage Discovery\
        \ workflow will be started automatically. Common examples include real-time responses with `status.value`\
        \ of `ineligible` or `patient_unknown`, or response-side HMO plan information that qualifies an\
        \ HMO discovery path. In this scenario, the response `link` header contains one or more related\
        \ Coverage Discovery task resource paths, e.g.:\n`</coverage-discovery/0716e3e8-87ee-11ee-b9d1-0242ac120002>;\
        \ title=\"coverage discovery - Task 1\"; rel=\"related\", </coverage-discovery/0e565a58-87ee-11ee-b9d1-0242ac120002>;\
        \ title=\"coverage discovery - Task 2\"; rel=\"related\"`\nParse this header as RFC 8288-style\
        \ link values. When more than one discovery task is created, multiple related links may be returned\
        \ in the same header.\nWhen discovery is triggered from this JSON real-time endpoint, the submitted\
        \ request body is used as the `canonicalEligibilityRequest` later referenced by Coverage Discovery.\
        \ If response-side facts are needed, the normalized real-time response body is used as `canonicalEligibilityResponse`.\n\
        Each related resource can be retrieved through the `/coverage-discovery/{id}` endpoint.\nIf conditions\
        \ are not met, the `link` response header will not contain any related `/coverage-discovery` references.\n\
        ### Callback Solution With Consolidated Real-Time Eligibility and Coverage Discovery Responses\n\
        If you are enrolled in the consolidated callback capability, you may receive the **Real-Time Eligibility\
        \ (RTE)** response together with the **Coverage Discovery** response.\nWhen enabled, the abbreviated\
        \ eligibility transaction will be included in the corresponding Coverage Discovery record.\n\n\
        \ ⚠️ **Note:** This integrated response is **only available via callback** and **only if your\
        \ organization is enrolled in this capability**.\n\nRefer to the `/coverage-discovery/{id}` response\
        \ examples for data model references.\nFor predictable Sandbox canned-response testing, use the\
        \ Sandbox Mock Scenarios guidance. JSON Sandbox requests continue to use the normal supported\
        \ Sandbox request values."
      parameters:
      - $ref: '#/components/parameters/header-correlation-id'
      - $ref: '#/components/parameters/header-subtenant-id'
      - in: header
        name: x-optum-eligibility-disable-value-add
        schema:
          type: array
          items:
            type: string
            enum:
            - deduplication
            example: deduplication
          example: deduplication
        description: (Optional) A comma-delimited list of strings that disable value-added features on
          a request-by-request basis. `deduplication` disables the customer-configured request deduplication
          feature for that request only. If you specify a value-added feature that you are not enrolled
          in, it will be ignored.
      requestBody:
        $ref: '#/components/requestBodies/EligibilityRequest'
      responses:
        '200':
          $ref: '#/components/responses/EligibilityResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
  /rcm/eligibility/v1/real-time/x12:
    post:
      operationId: postEligibilityX12
      tags:
      - Eligibility Requests
      summary: Submit a new X12 270 eligibility request
      security:
      - oAuth:
        - create_txn
      description: "## Overview\nProvided a valid request, this endpoint accepts a JSON body whose `x12`\
        \ field contains the raw EDI X12 270 payload and submits a new real-time transaction for processing.\n\
        The provider NPI sent in the X12 270 must be a valid NPI and follow standard NPI validation rules.\
        \ If no valid NPI is identified for the request, the transaction returns `status.value` of `processing_error`\
        \ with this message: `No valid NPI identified for this request. Please reach out to the Enhanced\
        \ Eligibility team if assistance is needed.`\nThe response uses the same normalized JSON model\
        \ returned by the JSON real-time endpoint. Both real-time endpoints return JSON, and that JSON\
        \ includes the raw `x12-271` response string so clients can extract the payer's original EDI response\
        \ if needed.\nReal-time response time is driven primarily by payer and clearinghouse latency.\
        \ The OI Enterprise gateway times out at 110 seconds for this API.\nIf your organization is enrolled\
        \ in deduplication, that feature is evaluated before clearinghouse submission. Deduplication is\
        \ customer-configurable, including the lookback window and whether prior-month requests are excluded.\
        \ When a duplicate is found, the clearinghouse is skipped and the transaction `sourceType` is\
        \ `duplicate`.\n## Coverage Discovery Integration\nIf you are enrolled in Coverage Discovery at\
        \ the time of the request and your configured discovery conditions are met, the Coverage Discovery\
        \ workflow will be started automatically. Common examples include real-time responses with `status.value`\
        \ of `ineligible` or `patient_unknown`, or response-side HMO plan information parsed from the\
        \ returned `x12-271`. In this scenario, the response `link` header contains one or more related\
        \ Coverage Discovery task resource paths, e.g.:\n`</coverage-discovery/0716e3e8-87ee-11ee-b9d1-0242ac120002>;\
        \ title=\"coverage discovery - Task 1\"; rel=\"related\", </coverage-discovery/0e565a58-87ee-11ee-b9d1-0242ac120002>;\
        \ title=\"coverage discovery - Task 2\"; rel=\"related\"`\nParse this header as RFC 8288-style\
        \ link values. When more than one discovery task is created, multiple related links may be returned\
        \ in the same header.\nWhen discovery is triggered from this X12 real-time endpoint, the submitted\
        \ `x12` value is used to derive the `canonicalEligibilityRequest` used by Coverage Discovery.\
        \ If response-side facts are needed, the normalized JSON response and its embedded `x12-271` are\
        \ used as `canonicalEligibilityResponse`.\nEach related resource can be retrieved through the\
        \ `/coverage-discovery/{id}` endpoint.\nIf conditions are not met, the `link` response header\
        \ will not contain any related `/coverage-discovery` references.\n### Callback Solution With Consolidated\
        \ Real-Time Eligibility and Coverage Discovery Responses\nIf you are enrolled in the consolidated\
        \ callback capability, you may receive the **Real-Time Eligibility (RTE)** response together with\
        \ the **Coverage Discovery** response.\nWhen enabled, the abbreviated eligibility transaction\
        \ will be included in the corresponding Coverage Discovery record.\n\n ⚠️ **Note:** This integrated\
        \ response is **only available via callback** and **only if your organization is enrolled in this\
        \ capability**.\n\nRefer to the `/coverage-discovery/{id}` response examples for data model references.\n\
        ## Sandbox Mock Testing\nIn the Sandbox environment, you can optionally send `x-optum-rcmelig-mock-scenarios`\
        \ to trigger a canned X12 mock response. This header is Sandbox-only, the value must be an exact\
        \ case-sensitive match, and the payer id in `NM1*PR*2 ... PI*` must align to the selected scenario."
      parameters:
      - $ref: '#/components/parameters/header-correlation-id'
      - $ref: '#/components/parameters/header-subtenant-id'
      - in: header
        name: x-optum-rcmelig-mock-scenarios
        required: false
        schema:
          type: string
        description: (Sandbox only) Optional canned-response selector for X12 mock testing. The value
          must be an exact case-sensitive scenario string.
      - in: header
        name: x-optum-eligibility-disable-value-add
        schema:
          type: array
          items:
            type: string
            enum:
            - deduplication
            example: deduplication
          example: deduplication
        description: (Optional) A comma-delimited list of strings that disable value-added features on
          a request-by-request basis. `deduplication` disables the customer-configured request deduplication
          feature for that request only. If you specify a value-added feature that you are not enrolled
          in, it will be ignored.
      requestBody:
        $ref: '#/components/requestBodies/EligibilityRequestX12'
      responses:
        '200':
          $ref: '#/components/responses/EligibilityResponseX12'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
  /rcm/eligibility/v1/transactions:
    get:
      tags:
      - Eligibility Transactions
      summary: Find all eligibility transactions
      security:
      - oAuth:
        - read_txn
      description: 'Returns matching eligibility transactions. You can use the query parameters listed
        below to filter the results. If no query parameters are provided, all eligibility transactions
        will be returned in paginated form.

        '
      parameters:
      - $ref: '#/components/parameters/header-correlation-id'
      - $ref: '#/components/parameters/query-status'
      - $ref: '#/components/parameters/query-correlationid'
      - $ref: '#/components/parameters/query-patientFirstName'
      - $ref: '#/components/parameters/query-patientLastName'
      - $ref: '#/components/parameters/query-patientAccountNumber'
      - $ref: '#/components/parameters/query-medicalRecordNumber'
      - $ref: '#/components/parameters/query-memberId'
      - $ref: '#/components/parameters/query-patientDateOfBirth'
      - $ref: '#/components/parameters/query-npi'
      - $ref: '#/components/parameters/query-payerId'
      - $ref: '#/components/parameters/query-start-date-time'
      - $ref: '#/components/parameters/query-end-date-time'
      - $ref: '#/components/parameters/query-sort-txns'
      - $ref: '#/components/parameters/query-offset'
      - $ref: '#/components/parameters/query-limit'
      - $ref: '#/components/parameters/query-return-total-count'
      responses:
        '200':
          description: OK
          headers:
            x-optum-tenant-id:
              $ref: '#/components/headers/tenantid'
            x-optum-correlation-id:
              $ref: '#/components/headers/correlationid'
            x-optum-trace-id:
              $ref: '#/components/headers/traceid'
            link:
              $ref: '#/components/headers/link'
            x-total-count:
              $ref: '#/components/headers/total-count'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
  /rcm/eligibility/v1/transactions/{id}:
    get:
      tags:
      - Eligibility Transactions
      summary: Find eligibility transaction by ID
      security:
      - oAuth:
        - read_txn
      description: Returns an individual transaction with the corresponding ID, if found.
      parameters:
      - $ref: '#/components/parameters/header-correlation-id'
      - $ref: '#/components/parameters/path-txn-id'
      responses:
        '200':
          description: OK
          headers:
            x-optum-tenant-id:
              $ref: '#/components/headers/tenantid'
            x-optum-correlation-id:
              $ref: '#/components/headers/correlationid'
            x-optum-trace-id:
              $ref: '#/components/headers/traceid'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/UnprocessableEntityError'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
  /rcm/eligibility/v1/coverage-discovery:
    post:
      operationId: postDiscovery
      tags:
      - Coverage Discovery
      summary: Submit new discovery task(s)
      security:
      - oAuth:
        - create_coveragediscovery
      description: "\n## Overview\n\n__You must be enrolled in the Coverage Discovery feature in order\
        \ to use this system.__\n\nCoverage Discovery paths and add-ons are enabled per customer and are\
        \ not included automatically.\n\nCoverage Discovery is an async process that initializes discovery\
        \ paths based on the task(s) enabled for the customer and on the details of the provided `canonicalEligibilityRequest`\
        \ and, when available, `canonicalEligibilityResponse`. `canonicalEligibilityRequest` is always\
        \ required. `canonicalEligibilityResponse` is optional for request-only qualification paths, but\
        \ should be supplied when path qualification or request-building depends on response-side facts\
        \ such as response status, payer context, HMO plan information, or Medicare QMB/MBI data. This\
        \ direct JSON workflow is intended for advanced use cases where the client already has the processed\
        \ canonical eligibility models available. If successful, the initial response is either a 202\
        \ Accepted receipt for a single record or a 207 Multi-Status response if more than one record\
        \ was produced from the request and the customer has more than one enabled task.\n\nCoverage Discovery\
        \ is asynchronous because some paths involve chained clearinghouse work and additional connected\
        \ workflow dependencies. Most non-Coverage-Insight paths are near real time relative to traditional\
        \ discovery workflows. Customers with strict turnaround sensitivity should evaluate Coverage Insight\
        \ enrollment carefully.\nCoverage Discovery paths may also participate in customer-configured\
        \ deduplication. This can be enabled per path rather than uniformly across every path. RTCOB and\
        \ Coverage Insight additionally use a separate non-configurable 72-hour request cache. When that\
        \ cache is hit, the path is added to `discoveryPaths.skipped` instead of creating a new downstream\
        \ submission.\nTo test if the request meets conditions to generate tasks, see the Dry Run section.\
        \ \n\nSupported task types are `serial` and `chained`. In `serial` tasks, multiple qualified paths\
        \ may be initialized under the same task. In `chained` tasks, later paths may depend on the outcome\
        \ of earlier paths.\n\n## Async Delivery Flow\n\n1. Submit the Coverage Discovery request.\n2.\
        \ If `dryRun` is `false`, the API accepts work for asynchronous processing.\n3. For single-task\
        \ execution, a `202 Accepted` response includes a `location` header for the created discovery\
        \ task resource.\n4. For multi-task execution, a `207 Multi-Status` response returns per-task\
        \ results, and accepted items include an `href` for each created task resource.\n5. If you provide\
        \ `callbackUrl`, your callback endpoint later receives the completed task payload asynchronously.\n\
        6. If needed, you can poll `/coverage-discovery/{id}` using the task resource returned in `location`\
        \ or `href`.\n\n## Dry Run\nTo validate that your request meets expected conditions for the paths\
        \ enabled for your customer, include `dryRun = true` in the request body. In dry-run mode, the\
        \ request does not execute discovery, does not create task records, and does not send a callback.\
        \ Instead, the endpoint validates the request against the enrolled discovery paths. The response\
        \ indicates which paths qualified and which did not.\n\nIf successful, the first response is a\
        \ receipt with either a 200 status for a single task or 207 if the request produced more than\
        \ one per-task outcome. If no paths qualify, a 422 will be returned for a single task, and a 207\
        \ for multi-task responses that include one or more 422 results (see `DryRunMultiStatusMixedResponse`\
        \ example).\n\n### Callback API\nDue to the long-running nature of the discovery process, completed\
        \ task responses can be communicated asynchronously to `request.callbackUrl` when `callbackUrl`\
        \ is supplied. `callbackUrl` is optional on standalone Coverage Discovery request bodies, including\
        \ when `dryRun` is `true`. If `callbackUrl` is omitted, use the task resource returned in `location`\
        \ or `href` to poll for completion. If this is your first time using callbacks via Swagger, check\
        \ out the __\"Callbacks\"__ tab next to __\"Parameters\"__.\n\nWhen supplied, the API specified\
        \ in the `callbackUrl` that will receive the asynchronous response once discovery finishes must\
        \ meet the customer-specific whitelisting requirements defined by your team. Please reach out\
        \ to support if you need to configure whitelisting. This API must meet the callback structure\
        \ documented in the \"CustomerCallbacks\" tab.\n\nYour callback implementation should treat deliveries\
        \ as asynchronous webhook-style notifications and should be prepared to process the same task\
        \ idempotently if a delivery is retried. The callback payload uses the same `CoverageDiscoveryTask`\
        \ model returned by `GET /coverage-discovery/{id}`. The most important fields for most clients\
        \ are the task `id`, task `status`, any error or failure details, and the embedded real-time eligibility\
        \ content when callback consolidation is enabled.\n\nIf you are unsure about the details of your\
        \ request and how they might produce eligible discovery paths, you can use `dryRun` to test the\
        \ request without executing any transactions. When `dryRun` is enabled, the response is synchronous\
        \ and the callback is not invoked.\n"
      parameters:
      - $ref: '#/components/parameters/header-correlation-id'
      - $ref: '#/components/parameters/header-subtenant-id'
      requestBody:
        $ref: '#/components/requestBodies/DiscoveryRequest'
      callbacks:
        response:
          '{$request.body#/callbackUrl}':
            post:
              parameters:
              - $ref: '#/components/parameters/header-tenant-id'
              - $ref: '#/components/parameters/header-correlation-id'
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CoverageDiscoveryTask'
                    examples:
                      Successful Serial Task:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialSuccess'
                      Successful Serial Task With Real Time Response:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialSuccessRealTime'
                      Successful Chained Task:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskChainedSuccess'
                      Failure Serial Task:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialFailure'
                      Failure Serial Task With Real Time Response:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialFailureRealTime'
                      Failure Chained Task:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskChainedFailure'
              responses:
                '204':
                  description: Return `204 No Content` after successfully accepting and processing the
                    callback payload.
      responses:
        '200':
          $ref: '#/components/responses/DiscoveryDryRunResponse'
        '202':
          $ref: '#/components/responses/DiscoveryAcceptedResponse'
        '207':
          $ref: '#/components/responses/DiscoveryMultiStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/UnprocessableEntityDiscoveryError'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
    get:
      operationId: getAllDiscoveries
      tags:
      - Coverage Discovery
      summary: Find all discovery tasks
      security:
      - oAuth:
        - read_coveragediscovery
      description: 'Retrieves discovery tasks based on the supplied query parameters. When no parameters
        are provided, the endpoint returns the full set of discovery tasks, delivered in paginated form.

        '
      parameters:
      - $ref: '#/components/parameters/header-correlation-id'
      - $ref: '#/components/parameters/query-correlationid'
      - $ref: '#/components/parameters/query-task-status'
      - $ref: '#/components/parameters/query-start-date-time'
      - $ref: '#/components/parameters/query-end-date-time'
      - $ref: '#/components/parameters/query-sort-discovery'
      - $ref: '#/components/parameters/query-offset'
      - $ref: '#/components/parameters/query-limit'
      responses:
        '200':
          description: OK
          headers:
            x-optum-tenant-id:
              $ref: '#/components/headers/tenantid'
            x-optum-correlation-id:
              $ref: '#/components/headers/correlationid'
            x-optum-trace-id:
              $ref: '#/components/headers/traceid'
            link:
              $ref: '#/components/headers/link'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoverageDiscoveryTask'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
  /rcm/eligibility/v1/coverage-discovery/x12:
    post:
      operationId: postDiscoveryX12
      tags:
      - Coverage Discovery
      summary: Submit new discovery task(s) with EDI
      security:
      - oAuth:
        - create_coveragediscovery
      description: '

        ## Overview


        __You must be enrolled in the Coverage Discovery feature in order to use this system.__


        Coverage Discovery paths and add-ons are enabled per customer and are not included automatically.


        Coverage Discovery is an async process that initializes discovery paths based on the task(s) enabled
        for the customer and on the details of the provided `x12-270` and `x12-271`. Both fields are required.
        This direct X12 workflow is often simpler than the canonical JSON discovery workflow because it
        allows clients to submit the processed X12 pair without mapping into two canonical models. If
        successful, the initial response is either a 202 Accepted receipt for a single record or a 207
        Multi-Status response if more than one record was produced from the request and the customer has
        more than one enabled task.


        Coverage Discovery is asynchronous because some paths involve chained clearinghouse work and additional
        connected workflow dependencies. Most non-Coverage-Insight paths are near real time relative to
        traditional discovery workflows. Customers with strict turnaround sensitivity should evaluate
        Coverage Insight enrollment carefully.

        Coverage Discovery paths may also participate in customer-configured deduplication. This can be
        enabled per path rather than uniformly across every path. RTCOB and Coverage Insight additionally
        use a separate non-configurable 72-hour request cache. When that cache is hit, the path is added
        to `discoveryPaths.skipped` instead of creating a new downstream submission.

        To test if the request meets conditions to generate tasks, see the Dry Run section.


        ## Async Delivery Flow


        1. Submit the Coverage Discovery request.

        2. If `dryRun` is `false`, the API accepts work for asynchronous processing.

        3. For single-task execution, a `202 Accepted` response includes a `location` header for the created
        discovery task resource.

        4. For multi-task execution, a `207 Multi-Status` response returns per-task results, and accepted
        items include an `href` for each created task resource.

        5. If you provide `callbackUrl`, your callback endpoint later receives the completed task payload
        asynchronously.

        6. If needed, you can poll `/coverage-discovery/{id}` using the task resource returned in `location`
        or `href`.


        ## Dry Run

        To validate that your request meets expected conditions for the paths enabled for your customer,
        include `dryRun = true` in the request body. In dry-run mode, the request does not execute discovery,
        does not create task records, and does not send a callback. Instead, the endpoint validates the
        request against the enrolled discovery paths. The response indicates which paths qualified and
        which did not.


        If successful, the first response is a receipt with either a 200 status for a single task or 207
        if the request produced more than one per-task outcome. If no paths qualify, a 422 will be returned
        for a single task, and a 207 for multi-task responses that include one or more 422 results (see
        `DryRunMultiStatusMixedResponse` example).


        ### Callback API

        Due to the long-running nature of the discovery process, completed task responses can be communicated
        asynchronously to `request.callbackUrl` when `callbackUrl` is supplied. `callbackUrl` is optional
        on standalone Coverage Discovery request bodies, including when `dryRun` is `true`. If `callbackUrl`
        is omitted, use the task resource returned in `location` or `href` to poll for completion.


        When supplied, the API specified in the `callbackUrl` that will receive the asynchronous response
        once discovery finishes must meet the customer-specific whitelisting requirements defined by your
        team. Please reach out to support if you need to configure whitelisting. This API must meet the
        callback structure documented in the "CustomerCallbacks" tab.


        Your callback implementation should treat deliveries as asynchronous webhook-style notifications
        and should be prepared to process the same task idempotently if a delivery is retried. The callback
        payload uses the same `CoverageDiscoveryTask` model returned by `GET /coverage-discovery/{id}`.
        The most important fields for most clients are the task `id`, task `status`, any error or failure
        details, and the embedded real-time eligibility content when callback consolidation is enabled.


        If you are unsure about the details of your request and how they might produce eligible discovery
        paths, you can use `dryRun` to test the request without executing any transactions. When `dryRun`
        is enabled, the response is synchronous and the callback is not invoked.

        '
      parameters:
      - $ref: '#/components/parameters/header-correlation-id'
      - $ref: '#/components/parameters/header-subtenant-id'
      requestBody:
        $ref: '#/components/requestBodies/DiscoveryRequestX12'
      callbacks:
        response:
          '{$request.body#/callbackUrl}':
            post:
              parameters:
              - $ref: '#/components/parameters/header-tenant-id'
              - $ref: '#/components/parameters/header-correlation-id'
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CoverageDiscoveryTask'
                    examples:
                      Successful Serial Task:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialSuccess'
                      Successful Serial Task With Real Time Response:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialSuccessRealTime'
                      Successful Chained Task:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskChainedSuccess'
                      Failure Serial Task:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialFailure'
                      Failure Serial Task With Real Time Response:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialFailureRealTime'
                      Failure Chained Task:
                        $ref: '#/components/examples/GetCoverageDiscoveryTaskChainedFailure'
              responses:
                '204':
                  description: Return `204 No Content` after successfully accepting and processing the
                    callback payload.
      responses:
        '200':
          $ref: '#/components/responses/DiscoveryDryRunResponse'
        '202':
          $ref: '#/components/responses/DiscoveryAcceptedResponse'
        '207':
          $ref: '#/components/responses/DiscoveryMultiStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/UnprocessableEntityDiscoveryError'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
  /rcm/eligibility/v1/coverage-discovery/{id}:
    get:
      operationId: getDiscoveryById
      tags:
      - Coverage Discovery
      summary: Find discovery task by ID
      security:
      - oAuth:
        - read_coveragediscovery
      description: Returns an individual discovery response with the corresponding ID, if found.
      parameters:
      - $ref: '#/components/parameters/header-correlation-id'
      - $ref: '#/components/parameters/path-discovery-task-id'
      responses:
        '200':
          $ref: '#/components/responses/DiscoveryResponse'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/UnprocessableEntityError'
        5XX:
          $ref: '#/components/responses/UnexpectedError'
  /rcm/eligibility/v1/healthcheck:
    get:
      tags:
      - Healthcheck
      summary: Validate the status of the system
      description: A healthcheck of the Enhanced Eligibility workflow
      security:
      - oAuth:
        - read_healthcheck
      operationId: healthcheck
      responses:
        '200':
          $ref: '#/components/responses/HealthcheckHealthyResponse'
        '401':
          $ref: '#/components/responses/PermissionDeniedError'
        '500':
          $ref: '#/components/responses/HealthcheckUnhealthyResponse'
components:
  securitySchemes:
    oAuth:
      type: oauth2
      description: This API uses OAuth 2 with the client_credentials grant flow. [More info](https://api.example.com/docs/auth)
      flows:
        clientCredentials:
          tokenUrl: /apip/auth/v2/token
          scopes:
            read_txn: read transactions
            create_txn: submit a new transaction request
            read_coveragediscovery: read coverage discovery tasks
            create_coveragediscovery: submit a new coverage discovery task
            read_healthcheck: check the status of the system
  parameters:
    header-tenant-id:
      in: header
      name: x-optum-tenant-id
      schema:
        type: string
        example: 9fb77454-8c58-4345-aa50-43f133e06d20
      required: true
      description: The unique ID of the tenant that invoking user belongs to. Used to enforce data tenancy.
    header-correlation-id:
      in: header
      name: x-optum-correlation-id
      schema:
        type: string
        example: 9fb77454-8c58-4345-aa50-43f133e06d20
      required: false
      description: (Optional) A unique identifier value that is attached to the response that allow reference
        to the original request. Differs from `x-optum-trace-id` as the correlation-id is stored within
        the datastore for future queryability.
    header-subtenant-id:
      in: header
      name: x-optum-subtenant-id
      schema:
        type: string
        example: 5e2f9f4f-6f1d-4b37-92b5-6c5a9d1f8a21
      required: false
      description: (Optional) Identifies an Optum-assigned sub-tenant configuration for your organization.
        Include this header only when Optum has provided a value for a specific enabled customer configuration.
        Clients must not generate or infer this value.
    header-trace-id:
      in: header
      name: x-optum-trace-id
      schema:
        type: string
        example: 9fb77454-8c58-4345-aa50-43f133e06d20
      required: false
      description: (Optional) A unique identifier value that is attached to the response that allow reference
        to the original request
    query-task-status:
      in: query
      name: status
      required: false
      explode: false
      schema:
        type: string
        enum:
        - success
        - failure
        - pending
        example: pending
        description: (Optional) When provided, only discovery tasks with the specified status will be
          returned. Valid values are 'success', 'failure', and 'pending'.
    query-status:
      in: query
      name: status
      required: false
      explode: false
      schema:
        type: array
        items:
          enum:
          - eligible
          - ineligible
          - payer_unavailable
          - payer_not_in_system
          - processing_error
          - patient_unknown
      description: (Optional) The status of the eligibility transaction. Valid values match `Transaction.status.value`.
    query-start-date-time:
      in: query
      name: startDateTime
      required: false
      schema:
        type: string
        example: '2017-07-21T17:32:28Z'
      description: (Optional) The start date for the report. Start date must be before the end date
    query-end-date-time:
      in: query
      name: endDateTime
      required: false
      schema:
        type: string
        example: '2017-09-21T17:32:28Z'
      description: (Optional) The end date for the report. Must occur after the provided start date
    query-sort-txns:
      in: query
      name: sort
      required: false
      explode: false
      schema:
        type: array
        items:
          enum:
          - processedDate
          - -processedDate
        example:
        - -processedDate
      description: (Optional) The property to order the results of the report by. Defaults to '-processedDate',
        negative sign is 'desc'
    query-sort-discovery:
      in: query
      name: sort
      required: false
      explode: false
      schema:
        type: array
        items:
          enum:
          - startDateTime
          - -startDateTime
        example:
        - -startDateTime
      description: (Optional) The property to order the results of the report by. Defaults to '-startDateTime',
        negative sign is 'desc'
    query-offset:
      in: query
      name: offset
      required: false
      schema:
        type: integer
      description: (Optional) Pagination. The offset number to retrieve, which is determined by the limit.
        For example,if limit is 30 and offset is 0, then the response data will include records 1~30;
        If offset is 30 and limit is 30 then the response data will include records 30~59.
    query-limit:
      in: query
      name: limit
      schema:
        type: integer
        nullable: true
        minimum: 1
        maximum: 100
        example: 30
      description: (Optional) Number of transactions to return per page. Must be greater than 0 and less
        than or equal to 100. Defaults to 30.
    query-return-total-count:
      in: query
      name: returnTotalCount
      schema:
        type: boolean
        nullable: true
        example: true
      description: (Optional) Whether or not to return the total number of records matching the supplied
        query parameters under the x-total-number HTTP response header. Defaults to false
    query-correlationid:
      in: query
      name: correlationId
      schema:
        type: string
        example: 9fb77454-8c58-4345-aa50-43f133e06d20
      description: (Optional) The correlationId associated with the original request.
    query-patientFirstName:
      in: query
      name: patientFirstName
      schema:
        type: string
        example: Jane
      description: (Optional) Patient's first name.
    query-patientLastName:
      in: query
      name: patientLastName
      schema:
        type: string
        example: Doe
      description: (Optional) Patient's last name.
    query-patientAccountNumber:
      in: query
      name: patientAccountNumber
      schema:
        type: string
        example: '38300904'
      description: (Optional) Patient's account number.
    query-medicalRecordNumber:
      in: query
      name: medicalRecordNumber
      schema:
        type: string
        example: '194570'
      description: (Optional) Medical Record Number.
    query-memberId:
      in: query
      name: memberId
      schema:
        type: string
        example: XKY933M53442
      description: (Optional) Member Id.
    query-patientDateOfBirth:
      in: query
      name: patientDateOfBirth
      schema:
        type: string
        example: '1995-01-15'
      description: (Optional) Patient's date of birth.
    query-npi:
      in: query
      name: npi
      schema:
        type: string
        example: '1234567893'
      description: (Optional) NPI of the primary care provider.
    query-payerId:
      in: query
      name: payerId
      schema:
        type: string
        example: '12345'
      description: (Optional) Payer ID (CHC ID).
    path-txn-id:
      in: path
      name: id
      description: The unique ID of the target transaction
      required: true
      schema:
        type: string
        example: 36743735-3303-4d9d-9f21-20dd5f6d7ab2
    path-discovery-task-id:
      in: path
      name: id
      description: The unique ID of the target discovery task
      required: true
      schema:
        type: string
        example: 36743735-3303-4d9d-9f21-20dd5f6d7ab2
  headers:
    tenantid:
      schema:
        type: string
        example: 9fb77454-8c58-4345-aa50-43f133e06d20
      description: The unique ID of the tenant that invoking user belongs to. Used to enforce data tenancy.
    correlationid:
      schema:
        type: string
        example: 9fb77454-8c58-4345-aa50-43f133e06d20
      description: A unique identifier value that is attached to the response that allow reference to
        the original request. Differs from `x-optum-trace-id` as the correlation-id is stored within the
        datastore for future queryability.
    subtenantid:
      schema:
        type: string
        example: 5e2f9f4f-6f1d-4b37-92b5-6c5a9d1f8a21
      description: (Optional) Identifies an Optum-assigned sub-tenant configuration for your organization.
        Include this header only when Optum has provided a value for a specific enabled customer configuration.
        Clients must not generate or infer this value.
    location:
      schema:
        type: string
        example: /coverage-discovery/09876z5y-43x2-1w09-v8u7-tr6543s210qp
      description: Relative path of the created Coverage Discovery task resource. Clients can `GET` this
        path to poll task status when they are not relying solely on callback delivery.
    link:
      schema:
        type: string
        example: </?limit=30&offset=2>; rel="next"
      description: RFC 8288-style pagination link header used by list endpoints such as `GET /transactions`
        and `GET /coverage-discovery`. This header is separate from the related-task `link` header used
        by real-time eligibility responses.
    rte-link:
      schema:
        type: string
        example: </coverage-discovery/0716e3e8-87ee-11ee-b9d1-0242ac120002>; title="coverage discovery
          - Default Discovery Task"; rel="related", </coverage-discovery/0e565a58-87ee-11ee-b9d1-0242ac120002>;
          title="coverage discovery - Chained Discovery Task"; rel="related"
      description: (Optional) RFC 8288-style related-resource link header returned by real-time eligibility
        POST responses when Coverage Discovery task(s) are spawned. The header may include one or more
        related task paths. Each related path can be used with `GET /coverage-discovery/{id}` to retrieve
        task status. If you are enrolled in Coverage Discovery and this header is absent, no Coverage
        Discovery task was initiated for that transaction.
    traceid:
      schema:
        type: string
        example: 9fb77454-8c58-4345-aa50-43f133e06d20
      description: A unique identifier value that is attached to the response that allow reference to
        the original request.
    total-count:
      schema:
        type: string
        example: '1440'
      description: The total number of records associated with the query. For example, with the query
        `?correlationId=123456579`, `x-total-count` returns the total amount of records associated with
        the given correlationId.
  requestBodies:
    EligibilityRequest:
      description: New real-time eligibility transaction request. `controlNumber` is optional; when omitted,
        Enhanced Eligibility generates one. `encounter.dateOfService` is required. The submitted provider
        NPI must be valid and follow standard NPI validation rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EligibilityRequest'
          examples:
            Eligibility Request Minimal:
              $ref: '#/components/examples/EligibilityRequestMinimal'
            Eligibility Request Expanded:
              $ref: '#/components/examples/EligibilityRequestExpanded'
            RTE JSON Request Feeding Coverage Discovery:
              $ref: '#/components/examples/RTEEligibilityRequestCoverageDiscoveryCandidate'
            RTE JSON Request Feeding HMO Discovery:
              $ref: '#/components/examples/RTEEligibilityRequestHMOCandidate'
      required: true
    EligibilityRequestX12:
      description: New real-time eligibility transaction request using a JSON body whose `x12` field contains
        an X12 270 payload. The provider NPI in the X12 270 must be valid and follow standard NPI validation
        rules.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EligibilityRequestX12'
          examples:
            RTE X12 Request Feeding Coverage Discovery:
              $ref: '#/components/examples/RTEEligibilityRequestX12CoverageDiscoveryCandidate'
            RTE X12 Request Feeding HMO Discovery:
              $ref: '#/components/examples/RTEEligibilityRequestX12HMOCandidate'
      required: true
    DiscoveryRequest:
      description: New Coverage Discovery request using normalized eligibility request and response payloads.
      content:
        application/json:
          schema:
            type: object
            description: '`canonicalEligibilityRequest` is required. `callbackUrl` is optional for standalone
              Coverage Discovery requests. `canonicalEligibilityResponse` is optional for request-only
              qualification paths, but should be supplied when path qualification or request-building
              depends on response-side facts such as response status, payer context, HMO plan information,
              or Medicare QMB/MBI data. Set `dryRun` to `true` to validate paths without creating discovery
              records.'
            required:
            - canonicalEligibilityRequest
            properties:
              canonicalEligibilityRequest:
                $ref: '#/components/schemas/EligibilityRequest'
              canonicalEligibilityResponse:
                allOf:
                - $ref: '#/components/schemas/Transaction'
                - type: object
                  properties:
                    metadata:
                      type: object
                      properties:
                        canonicalizerVersion:
                          type: string
                          example: 1.0.0
                          description: version of the clearinghouse to canonical mapper
                        clearinghouse:
                          type: string
                          enum:
                          - CLR
                          - CI
                          - IMN
                          example: IMN
                          description: clearinghouse that processed the request
                        clearinghouseRequest:
                          type: string
                          description: A stringified version of the JSON request sent to the clearinghouse
                          example: '{"type":"clearinghouseRequest","foo":"bar"}'
                        clearinghouseResponse:
                          type: string
                          description: A stringified version of the JSON response received from the clearinghouse
                          example: '{"type":"clearinghouseResponse","foo":"bar"}'
                        customerRequest:
                          type: string
                          description: A stringified version of the JSON request sent by the customer
                          example: '{"type":"customerRequest","foo":"bar"}'
                        x12-270:
                          type: string
                          description: The received 270 message for the transaction
                      description: Data captured during the processing of an Eligibility Transaction.
                - description: Optional canonical transaction response that was previously processed by
                    the RCMC Eligibility engine. Supply this when the configured paths rely on response-side
                    facts. HMO is a response-required path.
              callbackUrl:
                type: string
                example: http://customer.apis.healthcare.com/rcmc/eligibility/coverage-discovery/responses
                description: 'Optional URL of the consumer-owned API that will receive an asynchronous
                  callback once discovery finishes. If omitted, use the task resource returned in `location`
                  or `href` to poll for completion. When `dryRun` is `true`, the callback is not invoked.
                  If supplied, the URL must meet the customer-specific whitelisting requirements defined
                  by your team and the callback structure documented in the "CustomerCallbacks" tab. Your
                  callback handler should be prepared to process retries idempotently.

                  '
              dryRun:
                type: boolean
                example: false
                description: When set to true, no discovery paths will be initialized, but instead will
                  evaluate the request and respond with the discovery paths that are configured and meet
                  validation requirements. Use this as a tool to test the request input.
          examples:
            Coverage Discovery Request:
              $ref: '#/components/examples/CoverageDiscoveryRequest'
            Coverage Discovery Request Request Only:
              $ref: '#/components/examples/CoverageDiscoveryRequestRequestOnly'
            Coverage Discovery Request HMO Response Driven:
              $ref: '#/components/examples/CoverageDiscoveryRequestHMO'
            Coverage Discovery Request Medicare Response Driven:
              $ref: '#/components/examples/CoverageDiscoveryRequestMedicareQMB'
            Dry Run Request:
              $ref: '#/components/examples/CoverageDiscoveryRequestDryRun'
    DiscoveryRequestX12:
      description: New Coverage Discovery request using raw X12 request and response payloads.
      content:
        application/json:
          schema:
            type: object
            description: '`x12-270` and `x12-271` are required. `callbackUrl` is optional for standalone
              Coverage Discovery requests. These fields represent the original eligibility inquiry and
              response in raw X12 form. Set `dryRun` to `true` to validate paths without creating discovery
              records.'
            required:
            - x12-270
            - x12-271
            properties:
              x12-270:
                type: string
                description: Raw X12 270 eligibility inquiry payload. The provider NPI in the X12 270
                  must be valid and follow standard NPI validation rules.
              x12-271:
                type: string
                description: Raw X12 271 eligibility response payload.
              callbackUrl:
                type: string
                example: http://customer.apis.healthcare.com/rcmc/eligibility/coverage-discovery/responses
                description: 'Optional URL of the consumer-owned API that will receive an asynchronous
                  callback once discovery finishes. If omitted, use the task resource returned in `location`
                  or `href` to poll for completion. When `dryRun` is `true`, the callback is not invoked.
                  If supplied, the URL must meet the customer-specific whitelisting requirements defined
                  by your team and the callback structure documented in the "CustomerCallbacks" tab. Your
                  callback handler should be prepared to process retries idempotently.

                  '
              dryRun:
                type: boolean
                example: false
                description: When set to true, no discovery paths will be initialized, but instead will
                  evaluate the request and respond with the discovery paths that are configured and meet
                  validation requirements. Use this as a tool to test the request input.
          examples:
            Coverage Discovery Request:
              $ref: '#/components/examples/CoverageDiscoveryRequestX12'
            Dry Run Request:
              $ref: '#/components/examples/CoverageDiscoveryRequestX12DryRun'
  responses:
    BadRequestError:
      description: Bad request.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
          - Failed Precondition - Field 'example' is required
    PermissionDeniedError:
      description: Unauthorized.
      headers:
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: invalid_product
              error_description:
                type: string
                example: Permission Denied.
              traceId:
                type: string
                example: 942537e6-d544-ed7c-469b-a27efc4a6cff
    NotFoundError:
      description: Not found.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
          - Not Found - record not found
    UnexpectedError:
      description: Unexpected error.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ForbiddenError:
      description: Forbidden.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
          - invalid tenant id
    UnprocessableEntityError:
      description: Unprocessable Entity.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
          - Unprocessable Entity - Unable to deserialize record
    UnprocessableEntityDiscoveryError:
      description: Unprocessable Entity.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
          - 'Unprocessable Resource - Task chained discover task: No discovery paths qualified for execution.
            Please use the dryRun field to validate your input produces the expected paths prior to submitting
            the next request.'
    ConflictError:
      description: Conflict.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    EligibilityResponse:
      description: OK. Returns the normalized real-time eligibility response. If Coverage Discovery was
        automatically started, the response `link` header contains related discovery task resource path(s).
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
        link:
          $ref: '#/components/headers/rte-link'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Transaction'
          examples:
            RTE Response Patient Unknown:
              $ref: '#/components/examples/RTEEligibilityResponsePatientUnknown'
            RTE Response Ineligible:
              $ref: '#/components/examples/RTEEligibilityResponseIneligible'
            RTE Response HMO:
              $ref: '#/components/examples/RTEEligibilityResponseHMO'
    EligibilityResponseX12:
      description: OK. Returns a normalized JSON representation of the X12 271 response, not a raw X12
        payload.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
        link:
          $ref: '#/components/headers/rte-link'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionMedicare'
          examples:
            RTE Response Patient Unknown:
              $ref: '#/components/examples/RTEEligibilityResponsePatientUnknown'
            RTE Response Ineligible:
              $ref: '#/components/examples/RTEEligibilityResponseIneligible'
            RTE Response HMO:
              $ref: '#/components/examples/RTEEligibilityResponseHMO'
    DiscoveryAcceptedResponse:
      description: Accepted. The request was accepted for asynchronous Coverage Discovery processing.
        Use the `location` header to poll the created task resource if needed.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
        location:
          $ref: '#/components/headers/location'
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                example: d0747d80-ed4e-4af9-b127-1277fb472c44
                description: Unique identifier of the newly created task record.
              name:
                type: string
                example: serial discover task
                description: Customer-appointed name that ascribes meaning and/or business need for task.
                  Defined during enrollment. If no name is provided by customer, the Product team will
                  provide a default value.
    DiscoveryMultiStatusResponse:
      description: Multi-Status. The request produced multiple per-task outcomes. Each item contains the
        task-specific status and, for accepted items, an `href` to the created discovery task resource.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            type: array
            description: List of per-task results returned when a request produces multiple task outcomes.
            items:
              $ref: '#/components/schemas/DiscoveryMultiStatusItem'
          examples:
            MultiStatus Response:
              $ref: '#/components/examples/MultiStatusResponseSuccess'
            DryRun MultiStatus Response:
              $ref: '#/components/examples/DryRunMultiStatusSuccessful'
            DryRun MultiStatus Mixed Response:
              $ref: '#/components/examples/DryRunMultiStatusMixedResponse'
    DiscoveryDryRunResponse:
      description: OK. Synchronous dry-run validation result. No Coverage Discovery task record was created
        and no callback will be delivered.
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-subtenant-id:
          $ref: '#/components/headers/subtenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CoverageDiscoveryDryRunResult'
          examples:
            DryRun Serial Response Two Tasks Pending:
              $ref: '#/components/examples/DryRunSerialTwoPending'
            DryRun Serial Response All Pending:
              $ref: '#/components/examples/DryRunSerialAllPending'
    DiscoveryResponse:
      description: OK
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CoverageDiscoveryTask'
          examples:
            Successful Serial Task:
              $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialSuccess'
            Successful Serial Task With Real Time Response:
              $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialSuccessRealTime'
            Successful Chained Task:
              $ref: '#/components/examples/GetCoverageDiscoveryTaskChainedSuccess'
            Failure Serial Task:
              $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialFailure'
            Failure Serial Task With Real Time Response:
              $ref: '#/components/examples/GetCoverageDiscoveryTaskSerialFailureRealTime'
            Failure Chained Task:
              $ref: '#/components/examples/GetCoverageDiscoveryTaskChainedFailure'
    HealthcheckHealthyResponse:
      description: OK
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                example: ok
    HealthcheckUnhealthyResponse:
      description: Internal Server Error
      headers:
        x-optum-tenant-id:
          $ref: '#/components/headers/tenantid'
        x-optum-correlation-id:
          $ref: '#/components/headers/correlationid'
        x-optum-trace-id:
          $ref: '#/components/headers/traceid'
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                example: unhealthy
  schemas:
    Error:
      description: The base object model for errors returned from the workflow
      type: array
      items:
        type: string
        example: Internal - An unknown error occurred
    CoverageDiscoveryDryRunPath:
      type: object
      properties:
        name:
          type: string
          description: The configured discovery path name.
        description:
          type: string
          description: A brief description of the discovery path.
        reason:
          type: string
          description: Why the path failed validation or is included in the returned set.
    CoverageDiscoveryDryRunResult:
      type: object
      description: Synchronous validation result returned when `dryRun` is `true`. No task record is created.
      properties:
        successful:
          type: array
          description: Discovery paths whose rules validated successfully during the dry run.
          items:
            $ref: '#/components/schemas/CoverageDiscoveryDryRunPath'
        unsuccessful:
          type: array
          description: Discovery paths that failed validation during the dry run.
          items:
            $ref: '#/components/schemas/CoverageDiscoveryDryRunPath'
        pending:
          type: array
          description: Discovery paths that would be attempted if the request were executed.
          items:
            $ref: '#/components/schemas/CoverageDiscoveryDryRunPath'
    DiscoveryAcceptedReceipt:
      type: object
      description: Accepted task creation receipt.
      properties:
        id:
          type: string
          description: Unique identifier of the newly created task record.
        name:
          type: string
          description: Customer-appointed name that ascribes meaning and/or business need for the task.
    DiscoveryMultiStatusItem:
      type: object
      description: Per-task result returned within a 207 response.
      properties:
        status:
          type: integer
          description: HTTP status code associated with the individual task result.
        body:
          oneOf:
          - $ref: '#/components/schemas/DiscoveryAcceptedReceipt'
          - $ref: '#/components/schemas/CoverageDiscoveryDryRunResult'
          - type: string
            description: Error message for the individual task result.
        href:
          type: string
          description: Relative resource path for a created task. Present for accepted task-creation results.
    EligibilityRequest:
      type: object
      description: Standalone JSON representation of a standard 270 eligibility request. This schema is
        fully inlined into this spec so the API definition stands on its own.
      required:
      - subscriber
      - encounter
      properties:
        submitterTransactionIdentifier:
          type: string
          description: BHT03
        controlNumber:
          type: string
          minLength: 9
          maxLength: 9
          description: 'Segment: ISA, Element: ISA13, Notes: Optional. If omitted, Enhanced Eligibility
            generates the Interchange Control Number. When supplied, it must be exactly 9 positive unsigned
            numeric characters.'
          example: '123456789'
        tradingPartnerServiceId:
          type: string
          minLength: 0
          maxLength: 80
          description: 'Loop: 2100A Segment: NM1, Element: NM109, Notes: we send this as MN108 as PI'
          example: serviceId
        tradingPartnerName:
          type: string
          minLength: 0
          maxLength: 80
          description: 'Loop: 2100A, Segment: NM1, Element: NM103, Notes: organizational name'
        provider:
          type: object
          properties:
            organizationName:
              type: string
              minLength: 0
              maxLength: 60
              description: 'Loop: 2100B Segment: NM1, Element: NM103'
              example: provider_name
            firstName:
              type: string
              minLength: 0
              maxLength: 35
              description: 'Loop: 2100B Segment: NM1, Element: NM104'
            lastName:
              type: string
              minLength: 0
              maxLength: 60
              description: 'Loop: 2100B Segment: NM1, Element: NM103'
            npi:
              type: string
              minLength: 0
              maxLength: 80
              description: 'Loop: 2100B Segment: NM1, Element: NM109, Notes: NM108=XX Centers for Medicare
                and Medicaid Services National Provider Identifier. The submitted value must be a valid
                NPI and follow standard NPI validation rules.'
              example: '1234567893'
            serviceProviderNumber:
              type: string
              minLength: 0
              maxLength: 80
              description: 'Loop: 2100B Segment: NM1, Element: NM109, Notes: NM108=SV Service Provider
                Number'
              example: '54321'
            payorId:
              type: string
              minLength: 0
              maxLength: 80
              description: 'Loop: 2100B Segment: NM1, Element: NM109, Notes: NM108=PI Payor Identification'
            taxId:
              type: string
              minLength: 0
              maxLength: 80
              description: 'Loop: 2100B Segment: NM1, Element: NM109, Notes: NM108=FI Federal Taxpayer''s
                Identification Number'
            ssn:
              type: string
              minLength: 0
              maxLength: 80
              description: 'Loop: 2100B Segment: NM1, Element: NM109, Notes: NM108=34 Social Security
                Number'
            pharmacyProcessorNumber:
              type: string
              minLength: 0
              maxLength: 80
              description: 'Loop: 2100B Segment: NM1, Element: NM109, Notes: NM108=PP Pharmacy Processor
                Number'
            servicesPlanID:
              type: string
              minLength: 0
              maxLength: 80
              description: 'Loop: 2100B Segment: NM1, Element: NM109, Notes: NM108=XV Centers for Medicare
                and Medicaid Services PlanID'
            employersId:
              type: string
              minLength: 0
              maxLength: 80
              description: 'Loop: 2100B Segment: NM1, Element: NM109, Notes: NM108=24 Employer''s Identification
                Number'
            providerCode:
              type: string
              description: 'Loop: 2100B Segment: PRV, Element: PRV01'
              example: AD
              enum:
              - AD
              - AT
              - BI
              - CO
              - CV
              - H
              - HH
              - LA
              - OT
              - P1
              - P2
              - PC
              - PE
              - R
              - RF
              - SB
              - SK
              - SU
            referenceIdentification:
              type: string
              description: 'Loop: 2100B Segment: PRV, Element: PRV03'
              example: 54321g
            providerType:
              type: string
              description: 'Loop: 2100B Segment: NM1, Element: NM101'
              enum:
              - payer
              - third-party administrator
              - employer
              - hospital
              - facility
              - gateway provider
              - plan sponsor
              - provider
        portalUsername:
          type: string
          minLength: 0
          maxLength: 50
          description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: User Identification REF01=JD'
        portalPassword:
          type: string
          minLength: 0
          maxLength: 50
          description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: Personal Identification Number
            (PIN) REF01=4A'
        informationReceiverName:
          type: object
          properties:
            stateLicenceNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=0B State License Number'
            medicareProviderNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=1C Medicare Provider
                Number'
            medicaidProviderNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=1D Medicaid Provider
                Number'
            facilityIdNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=1J Facility ID Number'
            contactNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=CT Contact Number'
            devicePinNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=EL Electronic Device
                Pin Number'
            submitterIdNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=EO Submitter Identification
                Number'
            nationalProviderIdentifier:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=HPI Centers for Medicare
                and Medicaid Services National Provider Identifier'
            providerPlanNetworkIdNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=N5 Provider Plan Network
                Identification Number'
            facilityNetworkIdNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=N7 Facility Network
                Identification Number'
            priorIdentifierNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=Q4 Prior Identifier
                Number'
            socialSecurityNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=SY Social Security
                Number'
            federalTaxpayerIdentificationNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF02, Notes: REF01=TJ Federal Taxpayer''s
                Identification Number'
            informationReceiverAdditionalIdentifierState:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100B, Segment: REF, Element: REF03, Notes: REF01=0B REF02=stateLicenceNumber'
            address:
              type: object
              properties:
                address1:
                  type: string
                  minLength: 0
                  maxLength: 55
                  description: 'Segment: N3, Element: N301, Notes: Required, Address Information'
                  example: 123 address1
                address2:
                  type: string
                  minLength: 0
                  maxLength: 55
                  description: 'Segment: N3, Element: N302, Notes: Address Information'
                city:
                  type: string
                  minLength: 0
                  maxLength: 30
                  description: 'Segment: N4, Element: N401, Notes: Required, city'
                  example: city1
                state:
                  type: string
                  minLength: 0
                  maxLength: 2
                  description: 'Segment: N4, Element: N402, Notes: state example: TN, WA'
                  example: wa
                postalCode:
                  type: string
                  minLength: 0
                  maxLength: 15
                  description: 'Segment: N4, Element: N403'
                  example: '981010000'
                countryCode:
                  type: string
                  description: 'Segment: N4, Element: N404'
                locationIdentifier:
                  type: string
                  description: 'Segment: N4, Element: N406'
                countrySubDivisionCode:
                  type: string
                  description: 'Segment: N4, Element: N407, Notes: Country SubDivision Code'
        subscriber:
          type: object
          properties:
            birthSequenceNumber:
              type: string
              minLength: 0
              maxLength: 9
              pattern: ^[0-9]+$
              description: 'Loop: 2100C Segment: INS, Element: INS17, Notes: Birth Sequence Number'
            caseNumber:
              type: string
              minLength: 0
              maxLength: 50
              pattern: ^[A-Za-z0-9]+$
              description: 'Loop: 2100C Segment: REF, Element: REF02, Notes: REF01=3H Case Number'
            medicaidRecipientIdentificationNumber:
              type: string
              minLength: 0
              maxLength: 80
              pattern: ^[A-Za-z0-9]+$
              description: 'Loop: 2110C Segment: REF, Element: REF02, Notes: REF01=NQ Medicaid Recipient
                Identification Number'
            spendDownAmount:
              type: string
              minLength: 0
              maxLength: 18
              description: 'Loop: 2110C Segment: ATM, Element: ATM02, Notes: ATM01=R Spend Down'
            spendDownTotalBilledAmount:
              type: string
              minLength: 0
              maxLength: 18
              description: 'Loop: 2110C Segment: ATM, Element: ATM02, Notes: ATM01=PB Billed Amount'
            coverageLevelCode:
              type: string
              minLength: 0
              maxLength: 3
              description: 'Loop: 2110C Segment: EQ, Element: EQ03, Notes: Retired, Not Used'
            memberId:
              type: string
              minLength: 0
              maxLength: 80
              pattern: ^[A-Za-z0-9-]+$
              description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM109, Notes: NM108=MI'
              example: '0000000000'
            firstName:
              type: string
              minLength: 0
              maxLength: 35
              description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM104'
              example: johnOne
            middleName:
              type: string
              minLength: 0
              maxLength: 25
              description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM105'
            lastName:
              type: string
              minLength: 0
              maxLength: 60
              description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM103'
              example: doeOne
            suffix:
              type: string
              minLength: 0
              maxLength: 10
              description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM107'
            gender:
              type: string
              minLength: 0
              maxLength: 1
              description: 'Loop: 2100C and 2100D, Segment: DMG, Element: DMG03'
              example: M
              enum:
              - M
              - F
            dateOfBirth:
              type: string
              description: 'Loop: 2100C and 2100D, Segment: DMG, Element: DMG02, Notes: date of birth
                in YYYYMMDD'
              example: '18800102'
            ssn:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=SY Social
                Security Number'
            groupNumber:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=6P Group
                Number'
              example: '1111111111'
            idCard:
              type: string
              minLength: 0
              maxLength: 50
              description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=HJ Identity
                Card Number'
            providerCode:
              type: string
              description: 'Loop: 2100C and 2100D, Segment: PRV, Element: PRV01'
              enum:
              - AD
              - AT
              - BI
              - CO
              - CV
              - H
              - HH
              - LA
              - OT
              - P1
              - P2
              - PC
              - PE
              - R
              - RF
              - SK
              - SU
            referenceIdentificationQualifier:
              type: string
              description: 'Loop: 2100C and 2100D, Segment: PRV, Element: PRV02'
              enum:
              - 9K
              - D3
              - EI
              - HPI
              - PXC
              - SY
              - TJ
            providerIdentifier:
              type: string
              minLength: 0
              maxLength: 50
              pattern: ^[A-Za-z0-9]+$
              description: 'Loop: 2100C and 2100D, Segment: PRV, Element: PRV03, Notes: Provider Identifier'
            beginningCardIssueDate:
              type: string
              description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=RD8
                Retired'
            endCardIssueDate:
              type: string
              description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=RD8
                Retired'
            idCardIssueDate:
              type: string
              description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=D8
                Retired'
            planIssueDate:
              type: string
              description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=D8
                Retired'
            beginningPlanIssueDate:
              type: string
              description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=RD8
                Retired'
            endPlanIssueDate:
              type: string
              description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=RD8
                Retired'
            healthCareCodeInformation:
              type: array
              minItems: 0
              maxItems: 8
              description: 'Loop: 2100C and 2100D, Segment: HI, Notes: Health Care Diagnosis'
              items:
                type: object
                properties:
                  diagnosisTypeCode:
                    type: string
                    description: 'Loop: 2100C and 2100D, Segment: HI, Element: HI01-1, Notes: Diagnosis
                      Type Code'
                    enum:
                    - BK
                    - ABK
                    - BF
                    - ABF
                  diagnosisCode:
                    type: string
                    minLength: 0
                    maxLength: 30
                    pattern: ^[A-Za-z0-9]+$
                    description: 'Loop: 2100C and 2100D, Segment: HI, Element: HI01-2, Notes: Diagnosis
                      Code'
            address:
              type: object
              properties:
                address1:
                  type: string
                  minLength: 0
                  maxLength: 55
                  description: 'Segment: N3, Element: N301, Notes: Required, Address Information'
                  example: 123 address1
                address2:
                  type: string
                  minLength: 0
                  maxLength: 55
                  description: 'Segment: N3, Element: N302, Notes: Address Information'
                city:
                  type: string
                  minLength: 0
                  maxLength: 30
                  description: 'Segment: N4, Element: N401, Notes: Required, city'
                  example: city1
                state:
                  type: string
                  minLength: 0
                  maxLength: 2
                  description: 'Segment: N4, Element: N402, Notes: state example: TN, WA'
                  example: wa
                postalCode:
                  type: string
                  minLength: 0
                  maxLength: 15
                  description: 'Segment: N4, Element: N403'
                  example: '981010000'
                countryCode:
                  type: string
                  description: 'Segment: N4, Element: N404'
                locationIdentifier:
                  type: string
                  description: 'Segment: N4, Element: N406'
                countrySubDivisionCode:
                  type: string
                  description: 'Segment: N4, Element: N407, Notes: Country SubDivision Code'
            additionalIdentification:
              type: object
              properties:
                planNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=18 Plan
                    Number'
                policyNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=1L Group
                    or Policy Number'
                memberIdentificationNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=1W Member
                    Identification Number'
                contractNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=CT Contract
                    Number'
                medicalRecordIdentificationNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=EA Medical
                    Record Identification Number'
                patientAccountNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=EJ Patient
                    Account Number'
                healthInsuranceClaimNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=F6 Health
                    Insurance (HIC) Number'
                identificationCardSerialNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=GH Identification
                    Card Serial Number'
                insurancePolicyNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=IG Insurance
                    Policy Number'
                planNetworkIdentificationNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=N6 Plan
                    Network Identification Number'
                agencyClaimNumber:
                  type: string
                  minLength: 0
                  maxLength: 50
                  description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=Y4 Agency
                    Claim Number'
        dependents:
          type: array
          minItems: 1
          description: 'Loop: 2000D, Notes: Dependent Detail'
          items:
            type: object
            properties:
              birthSequenceNumber:
                type: string
                minLength: 0
                maxLength: 9
                pattern: ^[0-9]+$
                description: 'Loop: 2100D Segment: INS, Element: INS17, Notes: Birth Sequence Number'
              individualRelationshipCode:
                type: string
                description: 'Loop: 2100D Segment: INS, Element: INS02'
                enum:
                - '01'
                - '19'
                - '34'
              issueNumber:
                type: string
                minLength: 0
                maxLength: 50
                description: 'Loop: 2100D Segment: REF, Element: REF02, Notes: REF01=IF Issue Number'
              eligibilityCategory:
                type: string
                minLength: 0
                maxLength: 50
                description: 'Loop: 2100D Segment: REF, Element: REF02, Notes: REF01=MRC Eligibility Category'
              memberId:
                type: string
                minLength: 2
                maxLength: 80
                pattern: ^[A-Za-z0-9-]+$
                description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM109, Notes: NM108=MI'
                example: '0000000000'
              firstName:
                type: string
                minLength: 0
                maxLength: 35
                description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM104'
                example: janeOne
              middleName:
                type: string
                minLength: 0
                maxLength: 25
                description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM105'
              lastName:
                type: string
                minLength: 0
                maxLength: 60
                description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM103'
                example: doeOne
              suffix:
                type: string
                minLength: 0
                maxLength: 10
                description: 'Loop: 2100C and 2100D, Segment: NM1, Element: NM107'
              gender:
                type: string
                minLength: 0
                maxLength: 1
                description: 'Loop: 2100C and 2100D, Segment: DMG, Element: DMG03'
                example: F
                enum:
                - M
                - F
              dateOfBirth:
                type: string
                description: 'Loop: 2100C and 2100D, Segment: DMG, Element: DMG02, Notes: date of birth
                  in YYYYMMDD'
                example: '18160421'
              ssn:
                type: string
                minLength: 0
                maxLength: 50
                description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=SY Social
                  Security Number'
              groupNumber:
                type: string
                minLength: 0
                maxLength: 50
                description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=6P Group
                  Number'
                example: '1111111111'
              idCard:
                type: string
                minLength: 0
                maxLength: 50
                description: 'Loop: 2100C and 2100D, Segment: REF, Element: REF02, Notes: REF01=HJ Identity
                  Card Number'
              providerCode:
                type: string
                description: 'Loop: 2100C and 2100D, Segment: PRV, Element: PRV01'
                enum:
                - AD
                - AT
                - BI
                - CO
                - CV
                - H
                - HH
                - LA
                - OT
                - P1
                - P2
                - PC
                - PE
                - R
                - RF
                - SK
                - SU
              referenceIdentificationQualifier:
                type: string
                description: 'Loop: 2100C and 2100D, Segment: PRV, Element: PRV02'
                enum:
                - 9K
                - D3
                - EI
                - HPI
                - PXC
                - SY
                - TJ
              providerIdentifier:
                type: string
                minLength: 0
                maxLength: 50
                pattern: ^[A-Za-z0-9]+$
                description: 'Loop: 2100C and 2100D, Segment: PRV, Element: PRV03, Notes: Provider Identifier'
              beginningCardIssueDate:
                type: string
                description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=RD8
                  Retired'
              endCardIssueDate:
                type: string
                description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=RD8
                  Retired'
              idCardIssueDate:
                type: string
                description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=102, DTP02=D8
                  Retired'
              planIssueDate:
                type: string
                description: 'Loop: 2110C and 2110D, Segment: DTP, Element: DTP03, Notes: DTP01=291, DTP02=D8
                  Retired'
[...]
