openapi: 3.2.0
info:
  title: attachment Claim Actions API
  description: attachment
  version: 1.0.0
servers:
- url: https://sandbox-apigw.optum.com
tags:
- name: Claim Actions
paths:
  /oihub/claim/actions/v1:
    post:
      security:
      - oAuth:
        - read_healthcheck
      parameters:
      - name: providerTaxId
        in: header
        description: Provider Tax ID
        required: true
        schema:
          example: '123456789'
          type: string
      - name: x-optum-consumer-correlation-id
        in: header
        description: unique UUID to track the transaction
        required: false
        schema:
          example: 4d4a8964-e5fa-42dc-a37d-12345789
          type: string
      - name: environment
        in: header
        description: Environment
        required: false
        schema:
          example: sandbox
          type: string
      operationId: claimActions
      summary: Call Claim Actions API
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    description: List of errors that occurred during Claim Actions
                    items:
                      properties:
                        description:
                          description: Detailed error message
                          type: string
                        code:
                          description: Error code identifying the specific error
                          type: string
                      type: object
                  data:
                    properties:
                      claimSubmissionResponse:
                        $ref: '#/components/schemas/ClaimSubmissionResponse'
                        description: ''
                      claimTicketResponse:
                        $ref: '#/components/schemas/ClaimTicketResponse'
                        description: ''
                    type: object
                type: object
              examples:
                SubmitClaimAttachment:
                  value:
                    data:
                      submitClaimAttachment:
                        attachmentId: 1234-1111-46a9-111-11117Cu_prov_attch_2021-11
                  summary: Submit Attachment Response
        '400':
          description: Bad Request
          content:
            application/json:
              example:
                errors:
                - extensions:
                    classification: ValidationError
                  locations:
                  - line: 1
                    column: 87
                  message: 'Validation error (FieldUndefined@[claimSubmission/transactionId]) : Field ''transactionId'' in type ''ClaimSubmissionResponse'' is undefined'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                message: Unauthorized
                statusCode: 401
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                message: Internal server error
                statusCode: 500
      tags:
      - Claim Actions
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
              - map
              - operations
              - '0'
              type: object
              properties:
                '0':
                  type: string
                  description: The attachment file to upload
                  format: binary
                map:
                  type: string
                  description: Maps file fields in 'operations' to the file form fields.
                  example: '{"0": ["variables.file"]}'
                operations:
                  type: string
                  description: GraphQL mutation with variables.
                  example: "{\n  \"query\": \"mutation submitClaimAttachment($file: Upload!, $attachmentInput: AttachmentInput!) { submitClaimAttachment(file: $file,attachmentInput: $attachmentInput) { attachmentId } }\",\n  \"variables\":\n    {\n      \"file\": null,\n      \"attachmentInput\":\n        {\n          \"documentTypeCode\": \"M1\",\n          \"documentName\": \"ACN-AttachmentControlNumber\",\n          \"claimReceiptLocatorNumber\": \"9162500198765\",\n          \"claimNumber\": \"FE12345678\",\n          \"editCode\": \"EDIT123\",\n          \"expiryDate\": \"2025-12-31\",\n          \"claimActionIdentifier\": \"XXXX-AAAA-BBBB-CCCCC\",\n          \"ticketNumber\": \"PIQ-123456\",\n          \"payerId\": \"87726\"\n        }\n    }\n}\n"
components:
  schemas:
    ClaimTicketResponse:
      type: object
      description: Claim Ticket Response
      properties:
        ticketNumber:
          type: string
          description: payer generated unique identifier for the rework ticket
          example: PIQ-12345678
        ticketStatus:
          type: string
          description: status of the rework ticket
          example: Under Review
        referenceId:
          type: string
          description: reference ID for the ticket submission (internal use)
          example: REF-987654321
        preSignedUrl:
          type: string
          description: pre-signed URL link to upload bulk documents (as zip file) related to the rework ticket
          example: https://AWS-pre-signed-url
    ClaimSubmissionResponse:
      type: object
      description: Response model for Claim Submission operations
      properties:
        transactionId:
          type: string
          description: unique transactionID created by the payer for the claim submission request
          example: '8841512345678901'
        x12ResponseData:
          type: string
          description: EDI x12-999 acknowledgement for the claim
          example: ISA*00*          *00*          *ZZ*87726          *ZZ*B00099999805   *250911*1927*^*00501*000000000*0*P*:~GS*FA*87726_B2B*B00099999805*20250911*1927*0*X*005010X231A1~ST*999*0001*005010X231A1~AK1*HC*1*005010X222A1~AK2*837*0001*005010X222A1~IK5*A~AK9*A*1*1*1~SE*6*0001~GE*1*0~IEA*1*000000000~
        responseType:
          type: string
          description: value describing x12ResponseData type
          example: '837999'
        x12Response277CA:
          type: string
          description: EDI x12-277 claim acknowledgement
          example: ISA*00*          *00*          *ZZ*87726          *ZZ*B00099999805   *250911*1927*^*00501*000000000*0*P*:~GS*HN*87726_B2B*B00099999805*20250911*192706*0*X*005010X214~ST*277*0001*005010X214~BHT*0085*08*AB829992000298311665.1*20250911*192706*TH~HL*1**20*1~NM1*AY*2*INGENIXENS*****46*87726~TRN*1*AB829992000298311665.1~DTP*050*D8*20250911~DTP*009*D8*20250911~HL*2*1*21*1~NM1*41*2*B00099999805*****46*ENS~TRN*2*1~STC*A1:19*20250911*WQ*170~QTY*90*1~AMT*YU*170~HL*3*2*19*1~NM1*85*2*COVENANT MULTISPECIALTY GROUP, LLC*****XX*1942376918~TRN*1*1~QTY*QA*1~AMT*YU*170~HL*4*3*PT~NM1*QC*1*BROWN*ZIA****MI*963997463~TRN*2*CMG.126559~STC*A3:21*20250911*U*170********Prior auth validation could not be completed due to service failure~STC*A1:19*20250911*WQ*170********[BTH-V106 LOB Filters applied, ace was not called-Bypassing claim edits]~REF*D9*P3QAVH0FGU03H4~DTP*472*RD8*20241008-20241008~SE*26*0001~GE*1*0~IEA*1*000000000~
        message:
          type: string
          description: message describing the final outcome of the claim submission process
          example: Claim submitted successfully. Refer 277CA for validation outcomes.
        statusCode:
          type: string
          description: status code for the submission process
          example: '000'
  securitySchemes:
    oAuth:
      type: oauth2
      description: This API uses OAuth 2 with the client_credentials grant flow.
      flows:
        clientCredentials:
          tokenUrl: /apip/auth/sntl/v1/token
          scopes:
            read_txn: read transactions
            create_txn: submit a new transaction request
            read_coveragediscovery: read coverage discovery tasks
            create_coveragediscovery: submit a new coverage discovery task
            read_healthcheck: check the status of the system
