openapi: 3.2.0
info:
  title: Cross Community Rest APIs(XC-Rest) Document Retrieve API
  version: '1.49'
  description: Documentation for Cross Community API to query and retrieve patient data.
  contact:
    email: odx_ncc_foundation@optum.com
    name: ODX/NCC Foundation Team
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://gateway-nonprod.optuminsightplatform.com/odxcloudxcservicesint
  variables: {}
  description: XC-Rest APIs Internal Server(INT)
tags:
- name: documentRetrieve
paths:
  /api/xc/v1/clinical/document/retrieve:
    summary: Patient Document Retrieve API
    description: Performs the cross-community patient retrieve operation.
    post:
      summary: Retrieve patient document
      description: Retrieve the patient document based on the search criteria.
      operationId: documentRetrieve
      security:
      - bearerAuth: []
      requestBody:
        required: true
        description: 'DocumentRetrievalRequest: Request object that contains patient information used for patient document retrieve.'
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/DocumentRetrievalRequest'
            examples:
              documentRetrievalRequest:
                value: "<documentRetrievalRequest>\n\t<authorization>\n\t\t<subjectId>SampleHIEUser</subjectId>\n\t\t<organizationName>Sequoia HIE</organizationName>\n\t\t<organizationId>1.1.131.1</organizationId>\n\t\t<tenantId>3</tenantId>\n\t\t<tenantOid>1.4.3</tenantOid>\n\t\t<clientId>odxtst</clientId>\n\t\t<role>Medical Doctor</role>\n\t\t<purposeOfUse>TREATMENT</purposeOfUse>\n\t</authorization>\n    <documentLookup>\n        \t<homeCommunityId>urn:oid:1.1.131.1.2345.1</homeCommunityId>         \t\n            <repositoryUniqueId>2.3.4.5</repositoryUniqueId>\n            <documentUniqueId>16379.23963.011</documentUniqueId>\n    </documentLookup>\n    <additionalRetrievalParameters>\n        <maxPayloadSizeMB>1</maxPayloadSizeMB>\n        <includeStylesheet>Y</includeStylesheet>\n    </additionalRetrievalParameters>\n</documentRetrievalRequest>"
      responses:
        '202':
          description: Document retrieval success operation responses
          content:
            text/plain:
              schema:
                type: string
              examples:
                documenRetrieveSuccessResponse:
                  value: "--LeIt1Bk9QH6hqdw0r3maEiz4Sb-VwtZ-R6T\nContent-Disposition: form-data; name=\"0\"\nContent-Type: application/octet-stream\nContent-Length: 192838\n\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<?xml-stylesheet type=\"text/xsl\" href=\"CDA.xsl\"?>\n<ClinicalDocument xmlns=\"urn:hl7-org:v3\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:voc=\"urn:hl7-org:v3/voc\" xmlns:sdtc=\"urn:hl7-org:sdtc\">\n\t<realmCode code=\"US\"/>\n\t<typeId extension=\"POCD_HD000040\" root=\"2.16.840.1.113883.1.3\"/>\n\t<!-- CCD template ID, line 7-9 updated to test document header using template id value as invalid-->\n\t<templateId root=\"2.16.840.1.113883.10.20.22.1.2\" extension=\"2015-08-01\"/>\n\t<templateId root=\"2.16.840.1.113883.10.20.22.1.2\"/>\n\t<!-- Globally unique identifier for the document  -->\n\t<id extension=\"TT988\" root=\"2.16.840.1.113883.19.5.99999.1\"/>\n\t<code code=\"34133-9\" displayName=\"Summarization of Episode Note\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\"/>\n\t<!-- Title of this document -->\n\t<title>Patient Chart Summary</title>\n\t<effectiveTime value=\"201708151030-0800\"/>\n\t<confidentialityCode code=\"N\" displayName=\"normal\" codeSystem=\"2.16.840.1.113883.5.25\" codeSystemName=\"Confidentiality\"/>\n\t<languageCode code=\"en-US\"/>\n\t<setId extension=\"sTT988\" root=\"2.16.840.1.113883.19.5.99999.19\"/>\n\t<!-- Version of this document -->\n\t<versionNumber value=\"1\"/>\n\t<recordTarget>\n\t\t<patientRole>\n\t\t\t<id extension=\"1.9.1.617\" root=\"1.1.1.1\"/>\n\t\t\t<!-- Example Social Security Number using the actual SSN OID. -->\n\t\t\t<addr use=\"HP\">\n\t\t\t\t<streetAddressLine>191617 Test road</streetAddressLine>\n\t\t\t\t<city>City 191617</city>\n\t\t\t\t<state>NC</state>\n\t\t\t\t<postalCode>91617</postalCode>\n\t\t\t\t<country>USA</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"HP\" value=\"tel:+1-605-1234567\"/>\n\n\t\t\t<!-- HP is \"primary home\" from HL7 AddressUse 2.16.840.1.113883.5.1119 -->\n\t\t\t<patient>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Test</given>\n\t\t\t\t\t<family>TC191617</family>\n\t\t\t\t</name>\n\t\t\t\t<administrativeGenderCode code=\"M\" codeSystem=\"2.16.840.1.113883.5.1\" codeSystemName=\"AdministrativeGender\" codeSystemVersion=\"76\" displayName=\"Male\"/>\n\t\t\t\t<birthTime value=\"19800605\"/>\n\t\t\t\t<maritalStatusCode code=\"S\" codeSystem=\"2.16.840.1.113883.5.2\" codeSystemName=\"MaritalStatus\" codeSystemVersion=\"47\" displayName=\"Never Married\"/>\n\t\t\t\t<raceCode code=\"2106-3\" codeSystem=\"2.16.840.1.113883.5.104\" codeSystemName=\"Race\" codeSystemVersion=\"55\" displayName=\"White\"/>\n\t\t\t\t<ethnicGroupCode code=\"2186-5\" codeSystem=\"2.16.840.1.113883.5.50\" codeSystemName=\"Ethnicity\" codeSystemVersion=\"39\" displayName=\"Not Hispanic or Latino\"/>\n\t\t\t</patient>\n\t\t\t<providerOrganization>\n\t\t\t\t<id extension=\"219BX\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t<name>The DoctorsTogether Physician Group</name>\n\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-5000\"/>\n\t\t\t\t<addr>\n\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t<country>US</country>\n\t\t\t\t</addr>\n\t\t\t</providerOrganization>\n\t\t</patientRole>\n\t</recordTarget>\n\t<!-- The author represents the person who provides the content in the document -->\n\t<author>\n\t\t<time value=\"201308151030-0800\"/>\n\t\t<assignedAuthor>\n\t\t\t<id extension=\"5555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1004 Healthcare Drive </streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1004\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>ALICE</given>\n\t\t\t\t\t<given qualifier=\"CL\">Patty</given>\n\t\t\t\t\t<family>AMBER</family>\n\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t</assignedAuthor>\n\t</author>\n\t<!-- The dataEnterer transferred the content created by the author into the document -->\n\t<dataEnterer>\n\t\t<assignedEntity>\n\t\t\t<id extension=\"333777777\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1007 Healthcare Drive</streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1050\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Ellen</given>\n\t\t\t\t\t<family>Enter</family>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t</assignedEntity>\n\t</dataEnterer>\n\t<!-- The informant represents any sources of information for document content -->\n\t<informant>\n\t\t<assignedEntity>\n\t\t\t<id extension=\"888888888\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1007 Healthcare Drive</streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1003\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Harold</given>\n\t\t\t\t\t<family>Hippocrates</family>\n\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t\t<representedOrganization>\n\t\t\t\t<name>The DoctorsApart Physician Group</name>\n\t\t\t</representedOrganization>\n\t\t</assignedEntity>\n\t</informant>\n\t<informant>\n\t\t<assignedEntity>\n\t\t\t<id extension=\"222223333\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1025 Health Drive</streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1025\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Ramsey</given>\n\t\t\t\t\t<family>Reaction</family>\n\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t\t<representedOrganization>\n\t\t\t\t<name>The DoctorsApart Physician Group</name>\n\t\t\t</representedOrganization>\n\t\t</assignedEntity>\n\t</informant>\n\t<informant>\n\t\t<assignedEntity>\n\t\t\t<id extension=\"333444444\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1017 Health Drive</streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1017\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>William</given>\n\t\t\t\t\t<given qualifier=\"CL\">Bill</given>\n\t\t\t\t\t<family>Beaker</family>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t\t<representedOrganization>\n\t\t\t\t<name>Good Health Laboratory</name>\n\t\t\t</representedOrganization>\n\t\t</assignedEntity>\n\t</informant>\n\t<informant>\n\t\t<assignedEntity>\n\t\t\t<id extension=\"333222222\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1016 Health Drive</streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1016\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Susan</given>\n\t\t\t\t\t<family>Script</family>\n\t\t\t\t\t<suffix qualifier=\"AC\">Pharm.D.</suffix>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t\t<representedOrganization>\n\t\t\t\t<name>People's Pharmacy</name>\n\t\t\t</representedOrganization>\n\t\t</assignedEntity>\n\t</informant>\n\t<informant>\n\t\t<assignedEntity>\n\t\t\t<id extension=\"222334444\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1027 Health Drive</streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1027\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Patrick</given>\n\t\t\t\t\t<family>Pump</family>\n\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t\t<representedOrganization>\n\t\t\t\t<name>The DoctorsApart Physician Group</name>\n\t\t\t</representedOrganization>\n\t\t</assignedEntity>\n\t</informant>\n\t<informant>\n\t\t<relatedEntity classCode=\"PRS\">\n\t\t\t<!-- classCode \"PRS\" represents a person with personal relationship with the patient -->\n\t\t\t<code code=\"SPS\" displayName=\"SPOUSE\" codeSystem=\"2.16.840.1.113883.1.11.19563\" codeSystemName=\"Personal Relationship Role Type Value Set\"/>\n\t\t\t<relatedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Boris</given>\n\t\t\t\t\t<given qualifier=\"CL\">Bo</given>\n\t\t\t\t\t<family>Betterhalf</family>\n\t\t\t\t</name>\n\t\t\t</relatedPerson>\n\t\t</relatedEntity>\n\t</informant>\n\t<!-- The custodian represents the organization charged with maintaining the original source document -->\n\t<custodian>\n\t\t<assignedCustodian>\n\t\t\t<representedCustodianOrganization>\n\t\t\t\t<id extension=\"321CX\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t<name>Good Health HIE</name>\n\t\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1009\"/>\n\t\t\t\t<addr use=\"WP\">\n\t\t\t\t\t<streetAddressLine>1009 Healthcare Drive </streetAddressLine>\n\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t<country>US</country>\n\t\t\t\t</addr>\n\t\t\t</representedCustodianOrganization>\n\t\t</assignedCustodian>\n\t</custodian>\n\t<!-- The informationRecipient represents the intended recipient of the document -->\n\t<informationRecipient>\n\t\t<intendedRecipient>\n\t\t\t<informationRecipient>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Sara</given>\n\t\t\t\t\t<family>Specialize</family>\n\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t</name>\n\t\t\t</informationRecipient>\n\t\t\t<receivedOrganization>\n\t\t\t\t<name>The DoctorsApart Physician Group</name>\n\t\t\t</receivedOrganization>\n\t\t</intendedRecipient>\n\t</informationRecipient>\n\t<!-- The legalAuthenticator represents the individual who is responsible for the document -->\n\t<legalAuthenticator>\n\t\t<time value=\"20130815223615-0800\"/>\n\t\t<signatureCode code=\"S\"/>\n\t\t<assignedEntity>\n\t\t\t<id extension=\"5555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1004 Healthcare Drive </streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1004\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Patricia</given>\n\t\t\t\t\t<given qualifier=\"CL\">Patty</given>\n\t\t\t\t\t<family>Primary</family>\n\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t</assignedEntity>\n\t</legalAuthenticator>\n\t<!-- The authenticator represents the individual attesting to the accuracy of information in the document-->\n\t<authenticator>\n\t\t<time value=\"20130815221545-0800\"/>\n\t\t<signatureCode code=\"S\"/>\n\t\t<assignedEntity>\n\t\t\t<id extension=\"5555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t<addr>\n\t\t\t\t<streetAddressLine>1004 Healthcare Drive </streetAddressLine>\n\t\t\t\t<city>Portland</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1004\"/>\n\t\t\t<assignedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>Patricia</given>\n\t\t\t\t\t<given qualifier=\"CL\">Patty</given>\n\t\t\t\t\t<family>Primary</family>\n\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t</name>\n\t\t\t</assignedPerson>\n\t\t</assignedEntity>\n\t</authenticator>\n\t<!-- The participant represents supporting entities -->\n\t<participant typeCode=\"IND\">\n\t\t<!-- typeCode \"IND\" represents an individual -->\n\t\t<associatedEntity classCode=\"NOK\">\n\t\t\t<!-- classCode \"NOK\" represents the patient's next of kin-->\n\t\t\t<addr use=\"HP\">\n\t\t\t\t<streetAddressLine>2222 Home Street</streetAddressLine>\n\t\t\t\t<city>Beaverton</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>97867</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom value=\"tel:+1(555)555-2008\" use=\"MC\"/>\n\t\t\t<associatedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>ALICE</given>\n\t\t\t\t\t<given qualifier=\"CL\">Bo</given>\n\t\t\t\t\t<family>AMBER</family>\n\t\t\t\t</name>\n\t\t\t</associatedPerson>\n\t\t</associatedEntity>\n\t</participant>\n\t<!-- Entities playing multiple roles are recorded in multiple participants -->\n\t<participant typeCode=\"IND\">\n\t\t<associatedEntity classCode=\"ECON\">\n\t\t\t<!-- classCode \"ECON\" represents an emergency contact -->\n\t\t\t<addr use=\"HP\">\n\t\t\t\t<streetAddressLine>2222 Home Street</streetAddressLine>\n\t\t\t\t<city>Beaverton</city>\n\t\t\t\t<state>OR</state>\n\t\t\t\t<postalCode>97867</postalCode>\n\t\t\t\t<country>US</country>\n\t\t\t</addr>\n\t\t\t<telecom value=\"tel:+1(555)555-2008\" use=\"MC\"/>\n\t\t\t<associatedPerson>\n\t\t\t\t<name>\n\t\t\t\t\t<given>ANNA</given>\n\t\t\t\t\t<given qualifier=\"CL\">Bo</given>\n\t\t\t\t\t<family>AZURE</family>\n\t\t\t\t</name>\n\t\t\t</associatedPerson>\n\t\t</associatedEntity>\n\t</participant>\n\t<documentationOf>\n\t\t<serviceEvent classCode=\"PCPR\">\n\t\t\t<!-- The effectiveTime reflects the provision of care summarized in the document.\n\t\t\tIn this scenario, the provision of care summarized is the lifetime for the patient -->\n\t\t\t<effectiveTime>\n\t\t\t\t<low value=\"19750501\"/>\n\t\t\t\t<!-- The low value represents when the summarized provision of care began.\n\t\t\t\tIn this scenario, the patient's date of birth -->\n\t\t\t\t<high value=\"20130815\"/>\n\t\t\t\t<!-- The high value represents when the summarized provision of care being ended.\n\t\t\t\tIn this scenario, when chart summary was created -->\n\t\t\t</effectiveTime>\n\t\t\t<performer typeCode=\"PRF\">\n\t\t\t\t<functionCode code=\"PCP\" codeSystem=\"2.16.840.1.113883.5.88\" codeSystemName=\"ParticipationFunction\" displayName=\"Primary Care Provider\">\n\t\t\t\t\t<originalText>Primary Care Provider</originalText>\n\t\t\t\t</functionCode>\n\t\t\t\t<assignedEntity>\n\t\t\t\t\t<id extension=\"5555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t<addr>\n\t\t\t\t\t\t<streetAddressLine>1004 Healthcare Drive </streetAddressLine>\n\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t</addr>\n\t\t\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1004\"/>\n\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t<given>Patricia</given>\n\t\t\t\t\t\t\t<given qualifier=\"CL\">Patty</given>\n\t\t\t\t\t\t\t<family>Primary</family>\n\t\t\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t\t\t</name>\n\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t<representedOrganization>\n\t\t\t\t\t\t<id extension=\"219BX\" root=\"1.2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t<name>The DoctorsTogether Physician Group</name>\n\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-5000\"/>\n\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t<streetAddressLine>1004 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t</addr>\n\t\t\t\t\t</representedOrganization>\n\t\t\t\t</assignedEntity>\n\t\t\t</performer>\n\t\t</serviceEvent>\n\t</documentationOf>\n\t<!-- ******************************************************** CDA Body ******************************************************** -->\n\t<component>\n\t\t<structuredBody>\n\t\t\t<!-- ************* ADVANCE DIRECTIVES *************** -->\n\t\t\t<component>\n\t\t\t\t<section>\n\t\t\t\t\t<!-- *** Advance Directives section with entries required *** -->\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.21\" extension=\"2015-08-01\"/>\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.21\"/>\n\t\t\t\t\t<code code=\"42348-3\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\"/>\n\t\t\t\t\t<title>ADVANCE DIRECTIVES</title>\n\t\t\t\t\t<text>\n\t\t\t\t\t\t<table border=\"1\" width=\"100%\">\n\t\t\t\t\t\t\t<thead>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<th>Directive</th>\n\t\t\t\t\t\t\t\t\t<th>Description</th>\n\t\t\t\t\t\t\t\t\t<th>Verification</th>\n\t\t\t\t\t\t\t\t\t<th>Supporting Document(s)</th>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</thead>\n\t\t\t\t\t\t\t<tbody>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>Resuscitation status</td>\n\t\t\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t\t\t<content ID=\"AD1\">Do not resuscitate</content>\n\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t\t<td>Dr. Patricia Primary, Feb 19, 2011</td>\n\t\t\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t\t\t<linkHtml href=\"AdvanceDirective.b50b7910.pdf\">Advance directive</linkHtml>\n\t\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</tbody>\n\t\t\t\t\t\t</table>\n\t\t\t\t\t</text>\n\t\t\t\t\t<entry>\n\t\t\t\t\t\t<!-- *** Advance Directive Organizer (V2) template -->\n\t\t\t\t\t\t<organizer classCode=\"CLUSTER\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.108\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.108\"/>\n\t\t\t\t\t\t\t<id root=\"af6ebdf2-d996-11e2-a5b8-f23c91aec05e\"/>\n\t\t\t\t\t\t\t<code code=\"45473-6\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\" displayName=\"advance directive - living will\"/>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<author>\n\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t<time value=\"201308011235-0800\"/>\n\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t<id root=\"20cf14fb-b65c-4c8c-a54d-b0cca834c18c\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"163W00000X\" displayName=\"Registered nurse\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t<given>Nurse</given>\n\t\t\t\t\t\t\t\t\t\t\t<family>Nightingale</family>\n\t\t\t\t\t\t\t\t\t\t\t<suffix>RN</suffix>\n\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t\t<representedOrganization classCode=\"ORG\">\n\t\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5\"/>\n\t\t\t\t\t\t\t\t\t\t<name>Good Health Hospital</name>\n\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t<component>\n\t\t\t\t\t\t\t\t<!-- ** Advance Directive Observation (V3) ** -->\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.48\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.48\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"9b54c3c9-1673-49c7-aef9-b037ed72ed27\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"304251008\" displayName=\"Resuscitation\" codeSystemName=\"SNOMED-CT\" codeSystem=\"2.16.840.1.113883.6.96\">\n\t\t\t\t\t\t\t\t\t\t<originalText>\n\t\t\t\t\t\t\t\t\t\t\t<reference value=\"#AD1\"/>\n\t\t\t\t\t\t\t\t\t\t</originalText>\n\t\t\t\t\t\t\t\t\t\t<translation code=\"75320-2\" displayName=\"Advance directive\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\"/>\n\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t\t\t<low value=\"20110219\"/>\n\t\t\t\t\t\t\t\t\t\t<high nullFlavor=\"NA\"/>\n\t\t\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"304253006\" displayName=\"Do not resuscitate\" codeSystem=\"2.16.840.1.113883.6.96\"/>\n\t\t\t\t\t\t\t\t\t<author>\n\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t\t\t<time value=\"201308011235-0800\"/>\n\t\t\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"20cf14fb-b65c-4c8c-a54d-b0cca834c18c\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"163W00000X\" displayName=\"Registered nurse\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\n\t\t\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<given>Nurse</given>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<family>Nightingale</family>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<suffix>RN</suffix>\n\t\t\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t\t\t\t<representedOrganization classCode=\"ORG\">\n\t\t\t\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t<name>Good Health Hospital</name>\n\t\t\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t\t\t<participant typeCode=\"VRF\">\n\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.1.58\"/>\n\t\t\t\t\t\t\t\t\t\t<time value=\"201102019\"/>\n\t\t\t\t\t\t\t\t\t\t<participantRole>\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"20cf14fb-b65c-4c8c-a54d-b0cca834c18c\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t\t\t\t<playingEntity>\n\t\t\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<prefix>Dr.</prefix>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<family>Patricia</family>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<given>Primary</given>\n\t\t\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t\t\t</playingEntity>\n\t\t\t\t\t\t\t\t\t\t</participantRole>\n\t\t\t\t\t\t\t\t\t</participant>\n\t\t\t\t\t\t\t\t\t<participant typeCode=\"CST\">\n\t\t\t\t\t\t\t\t\t\t<participantRole classCode=\"AGNT\">\n\t\t\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1004 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1004\"/>\n\t\t\t\t\t\t\t\t\t\t\t<playingEntity>\n\t\t\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<prefix>Dr.</prefix>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<family>Patricia</family>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<given>Primary</given>\n\t\t\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t\t\t</playingEntity>\n\t\t\t\t\t\t\t\t\t\t</participantRole>\n\t\t\t\t\t\t\t\t\t</participant>\n\t\t\t\t\t\t\t\t\t<reference typeCode=\"REFR\">\n\t\t\t\t\t\t\t\t\t\t<seperatableInd value=\"false\"/>\n\t\t\t\t\t\t\t\t\t\t<externalDocument>\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"b50b7910-7ffb-4f4c-bbe4-177ed68cbbf3\"/>\n\t\t\t\t\t\t\t\t\t\t\t<text mediaType=\"application/pdf\">\n\t\t\t\t\t\t\t\t\t\t\t\t<reference value=\"AdvanceDirective.b50b7910.pdf\"/>\n\t\t\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t\t</externalDocument>\n\t\t\t\t\t\t\t\t\t</reference>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</component>\n\t\t\t\t\t\t</organizer>\n\t\t\t\t\t</entry>\n\t\t\t\t</section>\n\t\t\t</component>\n\t\t\t<!-- ***************** ALLERGIES *************** -->\n\t\t\t<component>\n\t\t\t\t<section>\n\t\t\t\t\t<!-- *** Allergies and Intolerances Section (entries required) (V3) *** -->\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.6.1\" extension=\"2015-08-01\"/>\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.6.1\"/>\n\t\t\t\t\t<code code=\"48765-2\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\"/>\n\t\t\t\t\t<title>ALLERGIES AND ADVERSE REACTIONS</title>\n\t\t\t\t\t<text>\n\t\t\t\t\t\t<table border=\"1\" width=\"100%\">\n\t\t\t\t\t\t\t<thead>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<th>Substance</th>\n\t\t\t\t\t\t\t\t\t<th>Reaction</th>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</thead>\n\t\t\t\t\t\t\t<tbody>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td ID=\"substance1\">Penicillin</td>\n\t\t\t\t\t\t\t\t\t<td ID=\"reaction1\">Nausea</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td ID=\"substance2\">Codeine</td>\n\t\t\t\t\t\t\t\t\t<td ID=\"reaction2\">Wheezing</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</tbody>\n\t\t\t\t\t\t</table>\n\t\t\t\t\t</text>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<act classCode=\"ACT\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t<!-- ** Allergy Concern Act (V3) ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.30\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<!--Critical Change-->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.30\"/>\n\t\t\t\t\t\t\t<id root=\"36e3e930-7b14-11db-9fe1-0800200c9a66\"/>\n\t\t\t\t\t\t\t<code code=\"CONC\" codeSystem=\"2.16.840.1.113883.5.6\"/>\n\t\t\t\t\t\t\t<!-- The statusCode represents the need to continue tracking the allergy -->\n\t\t\t\t\t\t\t<!-- This is of ongoing concern to the provider -->\n\t\t\t\t\t\t\t<statusCode code=\"active\"/>\n\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t<!-- The low value represents when the allergy was first recorded in the patient's chart -->\n\t\t\t\t\t\t\t\t<!-- Concern was documented on May 1, 1998 -->\n\t\t\t\t\t\t\t\t<low value=\"199805011145-0800\"/>\n\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t<author typeCode=\"AUT\">\n\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t<!-- Same as Concern effectiveTime/low -->\n\t\t\t\t\t\t\t\t<time value=\"199805011145-0800\"/>\n\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t<id extension=\"555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\">\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<!-- ** Allergy observation (V2) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.7\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.7\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"4adc1020-7b14-11db-9fe1-0800200c9a66\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"ASSERTION\" codeSystem=\"2.16.840.1.113883.5.4\"/>\n\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t\t<reference value=\"#allergytype1\"/>\n\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t<!-- Observation statusCode represents the status of the act of observing -->\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t\t\t<!-- The low value reflects the date of onset of the allergy -->\n\t\t\t\t\t\t\t\t\t\t<!-- Based on patient symptoms, presumed onset is May 1, 1998 -->\n\t\t\t\t\t\t\t\t\t\t<low value=\"19980501\"/>\n\t\t\t\t\t\t\t\t\t\t<!-- The high value reflects when the allergy was known to be resolved (and will generally be absent) -->\n\t\t\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"419199007\" displayName=\"Allergy to substance\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t<author typeCode=\"AUT\">\n\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t\t\t<time value=\"199805011145-0800\"/>\n\t\t\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t\t\t<id extension=\"222223333\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"207KA0200X\" displayName=\"Allergy\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t\t\t<participant typeCode=\"CSM\">\n\t\t\t\t\t\t\t\t\t\t<participantRole classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t\t\t<playingEntity classCode=\"MMAT\">\n\t\t\t\t\t\t\t\t\t\t\t\t<code code=\"70618\" displayName=\"Penicillin\" codeSystem=\"2.16.840.1.113883.6.88\" codeSystemName=\"RxNorm\"/>\n\t\t\t\t\t\t\t\t\t\t\t</playingEntity>\n\t\t\t\t\t\t\t\t\t\t</participantRole>\n\t\t\t\t\t\t\t\t\t</participant>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- ** Severity Observation  (V2)** -->\n\t\t\t\t\t\t\t\t\t\t\t<!-- When the Severity Observation is associated directly with an allergy it characterizes the allergy.\n\t\t\t\t\t\t\t\t\t\t\tWhen the Severity Observation is associated with a Reaction Observation it characterizes a Reaction. -->\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.8\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.8\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"SEV\" displayName=\"Severity Observation\" codeSystem=\"2.16.840.1.113883.5.4\" codeSystemName=\"ActCode\"/>\n\t\t\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t\t\t\t<reference value=\"#allergyseverity1\"/>\n\t\t\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"371924009\" displayName=\"Moderate to severe\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"MFST\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- ** Reaction Observation (V2) ** -->\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.9\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.9\"/>\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"4adc1020-7b14-11db-9fe1-0800200c9a64\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"ASSERTION\" codeSystem=\"2.16.840.1.113883.5.4\"/>\n\t\t\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t\t\t\t<reference value=\"#reaction1\"/>\n\t\t\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t\t\t\t\t<low value=\"200802260805-0800\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t<high value=\"200802281205-0800\"/>\n\t\t\t\t\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"422587007\" codeSystem=\"2.16.840.1.113883.6.96\" displayName=\"Nausea\"/>\n\t\t\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<!-- ** Severity observation ** -->\n\t\t\t\t\t\t\t\t\t\t\t\t\t<!-- When the Severity Observation is associated directly with an allergy it characterizes the allergy.\n\t\t\t\t\t\t\t\t\t\t\t\t\tWhen the Severity Observation is associated with a Reaction Observation it characterizes a Reaction. -->\n\t\t\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.8\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.8\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<code code=\"SEV\" displayName=\"Severity Observation\" codeSystem=\"2.16.840.1.113883.5.4\" codeSystemName=\"ActCode\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"255604002\" displayName=\"Mild\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"REFR\">\n\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"SEV\" displayName=\"Severity Observation\" codeSystem=\"2.16.840.1.113883.5.4\" codeSystemName=\"ActCode\"/>\n\t\t\t\t\t\t\t\t\t\t\t<informant>\n\t\t\t\t\t\t\t\t\t\t\t\t<assignedEntity>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<id extension=\"222334444\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1027 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel:+1(555)555-1027\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<given>Patrick</given>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<family>Pump</family>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<suffix qualifier=\"AC\">M.D.</suffix>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<representedOrganization>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<name>The DoctorsApart Physician Group</name>\n\t\t\t\t\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t\t\t\t\t</assignedEntity>\n\t\t\t\t\t\t\t\t\t\t\t</informant>\n\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t</act>\n\t\t\t\t\t</entry>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<act classCode=\"ACT\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t<!-- ** Allergy concern act ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.30\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<!--Critical Change-->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.30\"/>\n\t\t\t\t\t\t\t<id root=\"b03805bd-2eb6-4ab8-a9ff-473c6653971a\"/>\n\t\t\t\t\t\t\t<code code=\"CONC\" codeSystem=\"2.16.840.1.113883.5.6\"/>\n\t\t\t\t\t\t\t<!-- The statusCode represents the need to continue tracking the allergy -->\n\t\t\t\t\t\t\t<!-- This is of ongoing concern to the provider -->\n\t\t\t\t\t\t\t<statusCode code=\"active\"/>\n\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t<!-- The low value represents when the allergy was first recorded in the patient's chart -->\n\t\t\t\t\t\t\t\t<!-- Concern was documented on May 1, 1998 -->\n\t\t\t\t\t\t\t\t<low value=\"199805011145-0800\"/>\n\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t<author typeCode=\"AUT\">\n\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t<!-- Same as Concern effectiveTime/low -->\n\t\t\t\t\t\t\t\t<time value=\"199805011145-0800\"/>\n\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t<id extension=\"555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\">\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<!-- ** Allergy observation ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.7\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.7\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"901db0f8-9355-4794-81cd-fd951ef07917\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"ASSERTION\" codeSystem=\"2.16.840.1.113883.5.4\"/>\n\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t\t<reference value=\"#allergytype2\"/>\n\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t<!-- Observation statusCode represents the status of the act of observing -->\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t\t\t<!-- The low value reflects the date of onset of the allergy -->\n\t\t\t\t\t\t\t\t\t\t<low nullFlavor=\"UNK\"/>\n\t\t\t\t\t\t\t\t\t\t<!-- The high value reflects when the allergy was known to be resolved (and will generally be absent) -->\n\t\t\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"419199007\" displayName=\"Allergy to substance\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t<author typeCode=\"AUT\">\n\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t\t\t<time value=\"201010110915-0800\"/>\n\t\t\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t\t\t<id extension=\"222223333\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"207KA0200X\" displayName=\"Allergy\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t\t\t<participant typeCode=\"CSM\">\n\t\t\t\t\t\t\t\t\t\t<participantRole classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t\t\t<playingEntity classCode=\"MMAT\">\n\t\t\t\t\t\t\t\t\t\t\t\t<code code=\"2670\" displayName=\"Codeine\" codeSystem=\"2.16.840.1.113883.6.88\" codeSystemName=\"RxNorm\"/>\n\t\t\t\t\t\t\t\t\t\t\t</playingEntity>\n\t\t\t\t\t\t\t\t\t\t</participantRole>\n\t\t\t\t\t\t\t\t\t</participant>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"MFST\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- ** Reaction observation ** -->\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.9\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.9\"/>\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"38c63dea-1a43-4f84-ab71-1ffd04f6a1dd\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"ASSERTION\" codeSystem=\"2.16.840.1.113883.5.4\"/>\n\t\t\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t\t\t\t<reference value=\"#reaction2\"/>\n\t\t\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t\t\t\t\t<low nullFlavor=\"UNK\"/>\n\t\t\t\t\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"56018004\" displayName=\"Wheezing\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<!-- ** Severity observation ** -->\n\t\t\t\t\t\t\t\t\t\t\t\t\t<!-- When the Severity Observation is associated directly with an allergy it characterizes the allergy.\n\t\t\t\t\t\t\t\t\t\t\t\t\tWhen the Severity Observation is associated with a Reaction Observation it characterizes a Reaction. -->\n\t\t\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.8\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.8\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<code code=\"SEV\" displayName=\"Severity Observation\" codeSystem=\"2.16.840.1.113883.5.4\" codeSystemName=\"ActCode\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<reference value=\"#reactionseverity2\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"6736007\" displayName=\"Moderate\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- ** Severity observation ** -->\n\t\t\t\t\t\t\t\t\t\t\t<!-- When the Severity Observation is associated directly with an allergy it characterizes the allergy.\n\t\t\t\t\t\t\t\t\t\t\tWhen the Severity Observation is associated with a Reaction Observation it characterizes a Reaction. -->\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.8\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.8\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"SEV\" displayName=\"Severity Observation\" codeSystem=\"2.16.840.1.113883.5.4\" codeSystemName=\"ActCode\"/>\n\t\t\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t\t\t\t<reference value=\"#allergyseverity2\"/>\n\t\t\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"255604002\" displayName=\"Mild\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t</act>\n\t\t\t\t\t</entry>\n\t\t\t\t</section>\n\t\t\t</component>\n\t\t\t<!-- ************************ ENCOUNTERS *********************** -->\n\t\t\t<component>\n\t\t\t\t<section>\n\t\t\t\t\t<!-- *** Encounters section (entries required) (V3) *** -->\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.22.1\" extension=\"2015-08-01\"/>\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.22.1\"/>\n\t\t\t\t\t<code code=\"46240-8\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\" displayName=\"History of encounters\"/>\n\t\t\t\t\t<title>ENCOUNTERS</title>\n\t\t\t\t\t<text>\n\t\t\t\t\t\t<table border=\"1\" width=\"100%\">\n\t\t\t\t\t\t\t<thead>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<th>Encounter</th>\n\t\t\t\t\t\t\t\t\t<th>Performer</th>\n\t\t\t\t\t\t\t\t\t<th>Location</th>\n\t\t\t\t\t\t\t\t\t<th>Date</th>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</thead>\n\t\t\t\t\t\t\t<tbody>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td ID=\"Encounter1\"> Checkup Examination </td>\n\t\t\t\t\t\t\t\t\t<td>Performer Name</td>\n\t\t\t\t\t\t\t\t\t<td>Community Urgent Care Center</td>\n\t\t\t\t\t\t\t\t\t<td>September 27, 2012 at 1:00pm</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</tbody>\n\t\t\t\t\t\t</table>\n\t\t\t\t\t</text>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<encounter classCode=\"ENC\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t<!-- ** Encounter Activity (V3) ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.49\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.49\"/>\n\t\t\t\t\t\t\t<id root=\"2a620155-9d11-439e-92b3-5d9815ff4de8\" extension=\"25413-01\"/>\n\t\t\t\t\t\t\t<code code=\"99213\" displayName=\"Office outpatient visit 15 minutes\" codeSystemName=\"CPT-4\" codeSystem=\"2.16.840.1.113883.6.12\">\n\t\t\t\t\t\t\t\t<originalText>\n\t\t\t\t\t\t\t\t\t<reference value=\"#Encounter1\"/>\n\t\t\t\t\t\t\t\t</originalText>\n\t\t\t\t\t\t\t\t<!-- MAY MAY contain zero or one [0..1] translation (CONF:1198-32323)\n\t\t\t\t\t\t\t\tThe translation may exist to map the code of EncounterTypeCode (2.16.840.1.113883.3.88.12.80.32) valueset to the code of Encounter Planned (2.16.840.1.113883.11.20.9.52) valueset.\n\t\t\t\t\t\t\t\t<translation code=\"AMB\" codeSystem=\"2.16.840.1.113883.5.4\" displayName=\"Ambulatory\" codeSystemName=\"HL7 ActEncounterCode\"/>\n\t\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t<low  value=\"201701271300+0500\"/>\n\t\t\t\t\t\t\t\t<high  value=\"201702271300+0500\"/>\n\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t<performer>\n\t\t\t\t\t\t\t\t<assignedEntity>\n\t\t\t\t\t\t\t\t\t<!-- Provider NPI \"333444555\" -->\n\t\t\t\t\t\t\t\t\t<id extension=\"333444555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"59058001\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"General Physician\"/>\n\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t<given>ANNA</given>\n\t\t\t\t\t\t\t\t\t\t\t<family>AZURE</family>\n\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t</assignedEntity>\n\t\t\t\t\t\t\t</performer>\n\t\t\t\t\t\t\t<author>\n\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t<time value=\"201707061145-0800\"/>\n\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t<representedOrganization>\n\t\t\t\t\t\t\t\t\t\t<name>TestOrganization</name>\n\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t<participant typeCode=\"LOC\">\n\t\t\t\t\t\t\t\t<participantRole classCode=\"SDLOC\">\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.32\"/>\n\t\t\t\t\t\t\t\t\t<!-- Service Delivery Location template -->\n\t\t\t\t\t\t\t\t\t<code code=\"1160-1\" codeSystem=\"2.16.840.1.113883.6.259\" codeSystemName=\"HL7 HealthcareServiceLocation\" displayName=\"Urgent Care Center\"/>\n\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t<playingEntity classCode=\"PLC\">\n\t\t\t\t\t\t\t\t\t\t<code code=\"57259009\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"gallbladder bile\"/>\n\n\t\t\t\t\t\t\t\t\t\t<name>Good Health Urgent Care</name>\n\t\t\t\t\t\t\t\t\t</playingEntity>\n\t\t\t\t\t\t\t\t</participantRole>\n\t\t\t\t\t\t\t</participant>\n\t\t\t\t\t\t\t<entryRelationship typeCode=\"RSON\">\n\t\t\t\t\t\t\t\t<!-- ** Indivcation (V2) ** -->\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.19\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.19\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"db734647-fc99-424c-a864-7e3cda82e703\" extension=\"45665\"/>\n\t\t\t\t\t\t\t\t\t<!-- code is required; MAY be selected from ValueSet Problem Type (LOINC) urn:oid:2.16.840.1.113883.3.88.12.3221.7.2 STATIC 2014-09-02 (CONF:1098-31229) -->\n\t\t\t\t\t\t\t\t\t<code code=\"404684003\" displayName=\"Finding\" codeSystemName=\"SNOMED-CT\" codeSystem=\"2.16.840.1.113883.6.96\">\n\t\t\t\t\t\t\t\t\t\t<!--  of course this MAY be present\n\t\t\t\t\t\t\t\t\t\t<translation code=\"75321-0\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\" displayName=\"Clinical finding\"/>\n\t\t\t\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime>\n\t\t\t\t\t\t\t\t\t\t<low value=\"201209251130+0500\"/>\n\t\t\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"233604007\" displayName=\"Pneumonia\" codeSystem=\"2.16.840.1.113883.6.96\"/>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t</encounter>\n\t\t\t\t\t</entry>\n\t\t\t\t</section>\n\t\t\t</component>\n\t\t\t<!-- ************************ FAMILY HISTORY *********************** -->\n\t\t\t<component>\n\t\t\t\t<section>\n\t\t\t\t\t<!-- *** Family history section (V3) *** -->\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.15\" extension=\"2015-08-01\"/>\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.15\"/>\n\t\t\t\t\t<code code=\"10157-6\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\"/>\n\t\t\t\t\t<title>FAMILY HISTORY</title>\n\t\t\t\t\t<text>\n\t\t\t\t\t\t<paragraph>Father (deceased)</paragraph>\n\t\t\t\t\t\t<table border=\"1\" width=\"100%\">\n\t\t\t\t\t\t\t<thead>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<th>Diagnosis</th>\n\t\t\t\t\t\t\t\t\t<th>Age At Onset</th>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</thead>\n\t\t\t\t\t\t\t<tbody>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>Myocardial Infarction (cause of death)</td>\n\t\t\t\t\t\t\t\t\t<td>57</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>Diabetes</td>\n\t\t\t\t\t\t\t\t\t<td>40</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</tbody>\n\t\t\t\t\t\t</table>\n\t\t\t\t\t</text>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<organizer moodCode=\"EVN\" classCode=\"CLUSTER\">\n\t\t\t\t\t\t\t<!-- ** Family history organizer (V3) ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.45\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.45\"/>\n\t\t\t\t\t\t\t<id root=\"d42ebf70-5c89-11db-b0de-0855200c9a66\"/>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<subject>\n\t\t\t\t\t\t\t\t<relatedSubject classCode=\"PRS\">\n\t\t\t\t\t\t\t\t\t<code code=\"FTH\" displayName=\"Father\" codeSystemName=\"FamilyRelationshipRoleType\" codeSystem=\"2.16.840.1.113883.5.111\">\n\t\t\t\t\t\t\t\t\t\t<!--\n\t\t\t\t\t\t\t\t\t\t<translation code=\"9947008\" displayName=\"Biological father\" codeSystemName=\"SNOMED\" codeSystem=\"2.16.840.1.113883.6.96\"/>\n\t\t\t\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t<subject>\n\t\t\t\t\t\t\t\t\t\t<sdtc:id root=\"2.16.840.1.113883.19.5.99999.2\" extension=\"99999999\"/>\n\t\t\t\t\t\t\t\t\t\t<administrativeGenderCode code=\"M\" codeSystem=\"2.16.840.1.113883.1.11.1\" displayName=\"Male\"/>\n\t\t\t\t\t\t\t\t\t\t<birthTime value=\"1910\"/>\n\t\t\t\t\t\t\t\t\t\t<!-- Example use of sdtc extensions included below in comments -->\n\t\t\t\t\t\t\t\t\t\t<!-- <sdtc:deceasedInd value=\"true\"/> <sdtc:deceasedTime value=\"1967\"/> -->\n\t\t\t\t\t\t\t\t\t</subject>\n\t\t\t\t\t\t\t\t</relatedSubject>\n\t\t\t\t\t\t\t</subject>\n\t\t\t\t\t\t\t<component>\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<!-- ** Family history observation (V3) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.46\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t\t\t<!--Critical Change-->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.46\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"d42ebf70-5c89-11db-b0de-0800200c9a66\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"64572001\" codeSystemName=\"SNOMED-CT\" codeSystem=\"2.16.840.1.113883.6.96\" displayName=\"Condition\">\n\t\t\t\t\t\t\t\t\t\t<!-- a.\tThis code SHALL contain at least one [1..*] translation, which SHOULD be selected from ValueSet Problem Type (LOINC)\n\t\t\t\t\t\t\t\t\t\t<translation code=\"75323-6\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\" displayName=\"Condition\"/>\n\t\t\t\t\t\t\t\t\t\tvery likely that the following is present, but use of LOINC as shown above would be better -->\n\t\t\t\t\t\t\t\t\t\t<translation nullFlavor=\"NI\"/>\n\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime value=\"1967\"/>\n\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"22298006\" codeSystem=\"2.16.840.1.113883.6.96\" displayName=\"Myocardial infarction\"/>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"CAUS\">\n\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- ** Family history death observation ** -->\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.47\"/>\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"6898fae0-5c8a-11db-b0de-0800200c9a66\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"ASSERTION\" codeSystem=\"2.16.840.1.113883.5.4\"/>\n\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"419099009\" codeSystem=\"2.16.840.1.113883.6.96\" displayName=\"Dead\"/>\n\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- ** Age observation ** -->\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.31\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"445518008\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"Age At Onset\"/>\n\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"PQ\" value=\"57\" unit=\"a\"/>\n\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</component>\n\t\t\t\t\t\t\t<component>\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<!-- ** Family history observation ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.46\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t\t\t<!--Critical Change-->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.46\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"5bfe3ec0-5c8b-11db-b0de-0800200c9a66\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"64572001\" codeSystemName=\"SNOMED-CT\" codeSystem=\"2.16.840.1.113883.6.96\" displayName=\"Condition\">\n\t\t\t\t\t\t\t\t\t\t<!-- a.\tThis code SHALL contain at least one [1..*] translation, which SHOULD be selected from ValueSet Problem Type (LOINC)\n\t\t\t\t\t\t\t\t\t\t<translation code=\"75323-6\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\" displayName=\"Condition\"/>\n\t\t\t\t\t\t\t\t\t\tvery likely that the following is present, but use of LOINC as shown above would be better -->\n\t\t\t\t\t\t\t\t\t\t<translation nullFlavor=\"NI\"/>\n\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime value=\"1950\"/>\n\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"44054006\" codeSystem=\"2.16.840.1.113883.6.96\" displayName=\"Diabetes mellitus type 2\"/>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- ** Age observation ** -->\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.31\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"445518008\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"Age At Onset\"/>\n\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t<value xsi:type=\"PQ\" value=\"40\" unit=\"a\"/>\n\t\t\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</component>\n\t\t\t\t\t\t</organizer>\n\t\t\t\t\t</entry>\n\t\t\t\t</section>\n\t\t\t</component>\n\t\t\t<!-- ***************** FUNCTIONAL STATUS *********************** -->\n\t\t\t<component>\n\t\t\t\t<!-- Functional Status Section (V2)-->\n\t\t\t\t<section>\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.14\" extension=\"2014-06-09\"/>\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.14\"/>\n\t\t\t\t\t<code code=\"47420-5\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\" displayName=\"Functional Status\"/>\n\t\t\t\t\t<title>FUNCTIONAL STATUS</title>\n\t\t\t\t\t<text>\n\t\t\t\t\t\t<table border=\"1\" width=\"100%\">\n\t\t\t\t\t\t\t<thead>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<th>Functional Category</th>\n\t\t\t\t\t\t\t\t\t<th>Effective Dates</th>\n\t\t\t\t\t\t\t\t\t<th>Results of Evaluation</th>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</thead>\n\t\t\t\t\t\t\t<tbody>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td ID=\"FUNC1\">Functional Assessment</td>\n\t\t\t\t\t\t\t\t\t<td>March 11, 2013</td>\n\t\t\t\t\t\t\t\t\t<td>Independent Walking</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>ADL/IADL: Bathing</td>\n\t\t\t\t\t\t\t\t\t<td>March 11,2013</td>\n\t\t\t\t\t\t\t\t\t<td>Independent</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</tbody>\n\t\t\t\t\t\t</table>\n\t\t\t\t\t</text>\n\t\t\t\t\t<entry>\n\t\t\t\t\t\t<organizer classCode=\"CLUSTER\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t<!-- Functional Status Organizer (V2) -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.66\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.66\"/>\n\t\t\t\t\t\t\t<id root=\"a7bc1062-8649-42a0-833d-eed65bd017c9\"/>\n\t\t\t\t\t\t\t<code code=\"d5\" displayName=\"Self-Care\" codeSystem=\"2.16.840.1.113883.6.254\" codeSystemName=\"ICF\"/>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<author typeCode=\"AUT\">\n\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t<time value=\"201307061145-0800\"/>\n\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t<id extension=\"555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t<component>\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<!-- Functional Status Observation (V2)-->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.67\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.67\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"b63a8636-cfff-4461-b018-40ba58ba8b32\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"54522-8\" displayName=\"Functional status\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\"/>\n\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t\t<reference value=\"#FUNC1\"/>\n\t\t\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime value=\"20130311\"/>\n\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"165245003\" displayName=\" Independent walking\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t<author typeCode=\"AUT\">\n\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t\t\t<time value=\"201307061145-0800\"/>\n\t\t\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t\t\t<id extension=\"555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t\t\t<entryRelationship typeCode=\"COMP\">\n\t\t\t\t\t\t\t\t\t\t<!-- Non-Medicinal Supply Activity (V2) -->\n\t\t\t\t\t\t\t\t\t\t<supply classCode=\"SPLY\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.50\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.50\"/>\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"2413773c-2372-4299-bbe6-5b0f60664446\"/>\n\t\t\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t\t\t<effectiveTime xsi:type=\"IVL_TS\">\n\t\t\t\t\t\t\t\t\t\t\t\t<high value=\"20130311\"/>\n\t\t\t\t\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t\t\t\t\t<quantity value=\"2\"/>\n\t\t\t\t\t\t\t\t\t\t\t<participant typeCode=\"PRD\">\n\t\t\t\t\t\t\t\t\t\t\t\t<participantRole classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.37\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<!-- Product instance template -->\n\t\t\t\t\t\t\t\t\t\t\t\t\t<id root=\"742aee30-21c5-11e1-bfc2-0800200c9a66\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<playingDevice>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<code code=\"87405001\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"cane, device (physical object)\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t</playingDevice>\n\t\t\t\t\t\t\t\t\t\t\t\t\t<scopingEntity>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t<id root=\"eb936010-7b17-11db-9fe1-0800200c9b65\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t</scopingEntity>\n\t\t\t\t\t\t\t\t\t\t\t\t</participantRole>\n\t\t\t\t\t\t\t\t\t\t\t</participant>\n\t\t\t\t\t\t\t\t\t\t</supply>\n\t\t\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</component>\n\t\t\t\t\t\t\t<component>\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<!-- Self-Care Activities (ADL and IADL) -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.128\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"c6b5a04b-2bf4-49d1-8336-636a3813df0a\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"46008-9 \" displayName=\"Bathing\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\"/>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime value=\"20130311\"/>\n\t\t\t\t\t\t\t\t\t<value xsi:type=\"CD\" code=\"371153006\" displayName=\"Independent\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\"/>\n\t\t\t\t\t\t\t\t\t<author typeCode=\"AUT\">\n\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.119\"/>\n\t\t\t\t\t\t\t\t\t\t<time value=\"201307061148-0800\"/>\n\t\t\t\t\t\t\t\t\t\t<assignedAuthor>\n\t\t\t\t\t\t\t\t\t\t\t<id extension=\"555555555\" root=\"2.16.840.1.113883.4.6\"/>\n\t\t\t\t\t\t\t\t\t\t\t<code code=\"207QA0505X\" displayName=\"Adult Medicine\" codeSystem=\"2.16.840.1.113883.6.101\" codeSystemName=\"Healthcare Provider Taxonomy (HIPAA)\"/>\n\t\t\t\t\t\t\t\t\t\t</assignedAuthor>\n\t\t\t\t\t\t\t\t\t</author>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</component>\n\t\t\t\t\t\t</organizer>\n\t\t\t\t\t</entry>\n\t\t\t\t</section>\n\t\t\t</component>\n\t\t\t<!-- ******************** IMMUNIZATIONS ********************* -->\n\t\t\t<component>\n\t\t\t\t<section>\n\t\t\t\t\t<!-- *** Immunizations Section (entries required) (V2) *** -->\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.2.1\" extension=\"2014-06-09\"/>\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.2.1\"/>\n\t\t\t\t\t<code code=\"11369-6\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\" displayName=\"History of immunizations\"/>\n\t\t\t\t\t<title>IMMUNIZATIONS</title>\n\t\t\t\t\t<text>\n\t\t\t\t\t\t<content ID=\"immunSect\"/>\n\t\t\t\t\t\t<table border=\"1\" width=\"100%\">\n\t\t\t\t\t\t\t<thead>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<th>Vaccine</th>\n\t\t\t\t\t\t\t\t\t<th>Date</th>\n\t\t\t\t\t\t\t\t\t<th>Status</th>\n\t\t\t\t\t\t\t\t\t<th>Series number</th>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</thead>\n\t\t\t\t\t\t\t<tbody>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t\t<content ID=\"immi1\"/> Influenza, seasonal, IM </td>\n\t\t\t\t\t\t\t\t\t<td>Nov 1999</td>\n\t\t\t\t\t\t\t\t\t<td>Completed</td>\n\t\t\t\t\t\t\t\t\t<td>N/A</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t\t<content ID=\"immi2\"/> Influenza, seasonal, IM </td>\n\t\t\t\t\t\t\t\t\t<td>Dec 1998</td>\n\t\t\t\t\t\t\t\t\t<td>Completed</td>\n\t\t\t\t\t\t\t\t\t<td>N/A</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t\t<content ID=\"immi3\"/> Pneumococcal polysaccharide vaccine, IM </td>\n\t\t\t\t\t\t\t\t\t<td>Dec 1998</td>\n\t\t\t\t\t\t\t\t\t<td>Completed</td>\n\t\t\t\t\t\t\t\t\t<td>N/A</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t\t<content ID=\"immi4\"/> Tetanus and diphtheria toxoids, IM </td>\n\t\t\t\t\t\t\t\t\t<td>1997</td>\n\t\t\t\t\t\t\t\t\t<td>Refused</td>\n\t\t\t\t\t\t\t\t\t<td>N/A</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t\t<td>Hepatitis B</td>\n\t\t\t\t\t\t\t\t\t<td>Aug 1, 2013</td>\n\t\t\t\t\t\t\t\t\t<td>Completed</td>\n\t\t\t\t\t\t\t\t\t<td>3rd</td>\n\t\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t</tbody>\n\t\t\t\t\t\t</table>\n\t\t\t\t\t</text>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<substanceAdministration classCode=\"SBADM\" moodCode=\"EVN\" negationInd=\"false\">\n\t\t\t\t\t\t\t<!-- ** Immunization Activity (V3) ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\"/>\n\t\t\t\t\t\t\t<id root=\"e6f1ba43-c0ed-4b9b-9f12-f435d8ad8f92\"/>\n\t\t\t\t\t\t\t<text>Influenza, seasonal, IM</text>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<effectiveTime value=\"199911\"/>\n\t\t\t\t\t\t\t<routeCode code=\"C28161\" codeSystem=\"2.16.840.1.113883.3.26.1.1\" codeSystemName=\"National Cancer Institute (NCI) Thesaurus\" displayName=\"Intramuscular injection\"/>\n\t\t\t\t\t\t\t<doseQuantity value=\"50\" unit=\"ug\"/>\n\t\t\t\t\t\t\t<consumable>\n\t\t\t\t\t\t\t\t<manufacturedProduct classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t<!-- ** Immunization Medication Information (V2) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\"/>\n\t\t\t\t\t\t\t\t\t<manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t\t<code code=\"88\" codeSystem=\"2.16.840.1.113883.6.59\" displayName=\"Influenza virus vaccine\" codeSystemName=\"CVX\"/>\n\t\t\t\t\t\t\t\t\t\t<lotNumberText>1</lotNumberText>\n\t\t\t\t\t\t\t\t\t</manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t<manufacturerOrganization>\n\t\t\t\t\t\t\t\t\t\t<name>Health LS - Immuno Inc.</name>\n\t\t\t\t\t\t\t\t\t</manufacturerOrganization>\n\t\t\t\t\t\t\t\t</manufacturedProduct>\n\t\t\t\t\t\t\t</consumable>\n\t\t\t\t\t\t\t<performer>\n\t\t\t\t\t\t\t\t<assignedEntity>\n\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.456\" extension=\"2981824\"/>\n\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t<given>Harold</given>\n\t\t\t\t\t\t\t\t\t\t\t<family>Hippocrates</family>\n\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t\t<representedOrganization>\n\t\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.1394\"/>\n\t\t\t\t\t\t\t\t\t\t<name>Good Health Clinic</name>\n\t\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t</assignedEntity>\n\t\t\t\t\t\t\t</performer>\n\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\" inversionInd=\"false\">\n\t\t\t\t\t\t\t\t<act classCode=\"ACT\" moodCode=\"INT\">\n\t\t\t\t\t\t\t\t\t<!-- ** Instruction (V2) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.20\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.20\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"171044003\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"immunization education\"/>\n\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t<reference value=\"#immunSect\"/> Possible flu-like symptoms for three days. </text>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t</act>\n\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t</substanceAdministration>\n\t\t\t\t\t</entry>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<substanceAdministration classCode=\"SBADM\" moodCode=\"EVN\" negationInd=\"true\">\n\t\t\t\t\t\t\t<!-- ** Immunization Activity (V3) ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\"/>\n\t\t\t\t\t\t\t<id root=\"e6f1ba43-c0ed-4b9b-9f12-f435d8ad8f92\"/>\n\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t<reference value=\"#immun2\"/>\n\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<effectiveTime value=\"19981215\"/>\n\t\t\t\t\t\t\t<routeCode code=\"C28161\" codeSystem=\"2.16.840.1.113883.3.26.1.1\" codeSystemName=\"National Cancer Institute (NCI) Thesaurus\" displayName=\"Intramuscular injection\"/>\n\t\t\t\t\t\t\t<doseQuantity value=\"50\" unit=\"ug\"/>\n\t\t\t\t\t\t\t<consumable>\n\t\t\t\t\t\t\t\t<manufacturedProduct classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t<!-- ** Immunization Medication Information (V2) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\"/>\n\t\t\t\t\t\t\t\t\t<manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t\t<code code=\"88\" codeSystem=\"2.16.840.1.113883.6.59\" displayName=\"Influenza virus vaccine\" codeSystemName=\"CVX\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- i.\tThis code MAY contain zero or more [0..*] translation, which MAY be selected from ValueSet Vaccine Clinical Drug urn:oid:2.16.840.1.113762.1.4.1010.8 DYNAMIC (CONF:1098-31543).\n\t\t\t\t\t\t\t\t\t\t\tii.\tThis code MAY contain zero or more [0..*] translation, which MAY be selected from ValueSet Specific Vaccine Clinical Drug urn:oid:2.16.840.1.113762.1.4.1010.10 DYNAMIC (CONF:1098-31881).\n\n\t\t\t\t\t\t\t\t\t\t\t<translation code=\"1427027\" displayName=\"Influenza A virus vaccine, A-California-7-2009 (H1N1)-like virus 0.03 MG/ML / Influenza A virus vaccine, A-Victoria-361-2011 (H3N2)-like virus 0.03 MG/ML / Influenza B virus vaccine, B-Brisbane-60-2008-like virus 0.03 MG/ML / Influenza B virus vaccine, B-Massachusetts-2-2012-like virus 0.03 MG/ML Injectable Suspension\" codeSystemName=\"RxNORM\" codeSystem=\"2.16.840.1.113883.6.88\"/>\n\t\t\t\t\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t\t<lotNumberText>1</lotNumberText>\n\t\t\t\t\t\t\t\t\t</manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t<manufacturerOrganization>\n\t\t\t\t\t\t\t\t\t\t<name>Health LS - Immuno Inc.</name>\n\t\t\t\t\t\t\t\t\t</manufacturerOrganization>\n\t\t\t\t\t\t\t\t</manufacturedProduct>\n\t\t\t\t\t\t\t</consumable>\n\t\t\t\t\t\t\t<performer>\n\t\t\t\t\t\t\t\t<assignedEntity>\n\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.456\" extension=\"2981824\"/>\n\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t<given>Harold</given>\n\t\t\t\t\t\t\t\t\t\t\t<family>Hippocrates</family>\n\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t\t<representedOrganization>\n\t\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.1394\"/>\n\t\t\t\t\t\t\t\t\t\t<name>Good Health Clinic</name>\n\t\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t</assignedEntity>\n\t\t\t\t\t\t\t</performer>\n\t\t\t\t\t\t\t<entryRelationship typeCode=\"SUBJ\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t<act classCode=\"ACT\" moodCode=\"INT\">\n\t\t\t\t\t\t\t\t\t<!-- ** Instruction (V2) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.20\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.20\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"171044003\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"immunization education\"/>\n\t\t\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t\t<reference value=\"#immunSect\"/> Possible flu-like symptoms for three days. </text>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t</act>\n\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t</substanceAdministration>\n\t\t\t\t\t</entry>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<substanceAdministration classCode=\"SBADM\" moodCode=\"EVN\" negationInd=\"false\">\n\t\t\t\t\t\t\t<!-- ** Immunization Activity (V3) ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\"/>\n\t\t\t\t\t\t\t<id root=\"e6f1ba43-c0ed-4b9b-9f12-f435d8ad8f92\"/>\n\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t<reference value=\"#immun3\"/>\n\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<effectiveTime value=\"19981215\"/>\n\t\t\t\t\t\t\t<routeCode code=\"C28161\" codeSystem=\"2.16.840.1.113883.3.26.1.1\" codeSystemName=\"National Cancer Institute (NCI) Thesaurus\" displayName=\"Intramuscular injection\"/>\n\t\t\t\t\t\t\t<doseQuantity value=\"50\" unit=\"ug\"/>\n\t\t\t\t\t\t\t<consumable>\n\t\t\t\t\t\t\t\t<manufacturedProduct classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t<!-- ** Immunization Medication Information (V2) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\"/>\n\t\t\t\t\t\t\t\t\t<manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t\t<code code=\"33\" codeSystem=\"2.16.840.1.113883.6.59\" displayName=\"Pneumococcal polysaccharide vaccine\" codeSystemName=\"CVX\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- i. This code MAY contain zero or more [0..*] translation, which MAY be selected from ValueSet Vaccine Clinical Drug urn:oid:2.16.840.1.113762.1.4.1010.8 DYNAMIC (CONF:1098-31543).\n\t\t\t\t\t\t\t\t\t\t\tii. This code MAY contain zero or more [0..*] translation, which MAY be selected from ValueSet Specific Vaccine Clinical Drug urn:oid:2.16.840.1.113762.1.4.1010.10 DYNAMIC (CONF:1098-31881).\n\n\t\t\t\t\t\t\t\t\t\t\t<translation code=\"854981\" displayName=\"Pneumovax 23 (Pneumococcal vaccine polyvalent) Injectable Solution\" codeSystemName=\"RxNORM\" codeSystem=\"2.16.840.1.113883.6.88\"/>\n\t\t\t\t\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t\t<lotNumberText>1</lotNumberText>\n\t\t\t\t\t\t\t\t\t</manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t<manufacturerOrganization>\n\t\t\t\t\t\t\t\t\t\t<name>Health LS - Immuno Inc.</name>\n\t\t\t\t\t\t\t\t\t</manufacturerOrganization>\n\t\t\t\t\t\t\t\t</manufacturedProduct>\n\t\t\t\t\t\t\t</consumable>\n\t\t\t\t\t\t\t<performer>\n\t\t\t\t\t\t\t\t<assignedEntity>\n\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.456\" extension=\"2981824\"/>\n\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t<given>Harold</given>\n\t\t\t\t\t\t\t\t\t\t\t<family>Hippocrates</family>\n\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t\t<representedOrganization>\n\t\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.1394\"/>\n\t\t\t\t\t\t\t\t\t\t<name>Good Health Clinic</name>\n\t\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t</assignedEntity>\n\t\t\t\t\t\t\t</performer>\n\t\t\t\t\t\t</substanceAdministration>\n\t\t\t\t\t</entry>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<substanceAdministration classCode=\"SBADM\" moodCode=\"EVN\" negationInd=\"true\">\n\t\t\t\t\t\t\t<!-- ** Immunization Activity (V3) ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\"/>\n\t\t\t\t\t\t\t<id root=\"e6f1ba43-c0ed-4b9b-9f12-f435d8ad8f92\"/>\n\t\t\t\t\t\t\t<text>\n\t\t\t\t\t\t\t\t<reference value=\"#immun4\"/>\n\t\t\t\t\t\t\t</text>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<effectiveTime value=\"19981215\"/>\n\t\t\t\t\t\t\t<routeCode code=\"C28161\" codeSystem=\"2.16.840.1.113883.3.26.1.1\" codeSystemName=\"National Cancer Institute (NCI) Thesaurus\" displayName=\"Intramuscular injection\"/>\n\t\t\t\t\t\t\t<doseQuantity value=\"50\" unit=\"ug\"/>\n\t\t\t\t\t\t\t<consumable>\n\t\t\t\t\t\t\t\t<manufacturedProduct classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t<!-- ** Immunization Medication Information (V2) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\"/>\n\t\t\t\t\t\t\t\t\t<manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t\t<code code=\"103\" codeSystem=\"2.16.840.1.113883.6.59\" displayName=\"Tetanus and diphtheria toxoids - preservative free\" codeSystemName=\"CVX\">\n\t\t\t\t\t\t\t\t\t\t\t<!-- i. This code MAY contain zero or more [0..*] translation, which MAY be selected from ValueSet Vaccine Clinical Drug urn:oid:2.16.840.1.113762.1.4.1010.8 DYNAMIC (CONF:1098-31543).\n\t\t\t\t\t\t\t\t\t\t\tii. This code MAY contain zero or more [0..*] translation, which MAY be selected from ValueSet Specific Vaccine Clinical Drug urn:oid:2.16.840.1.113762.1.4.1010.10 DYNAMIC (CONF:1098-31881).\n\n\t\t\t\t\t\t\t\t\t\t\t<translation code=\"1300310\" displayName=\"Daptacel DTaP (Diphtheria and Tetanus Toxoids and Acellular Pertussis Vaccine Adsorbed) Injectable Suspension\" codeSystemName=\"RxNORM\" codeSystem=\"2.16.840.1.113883.6.88\"/>\n\t\t\t\t\t\t\t\t\t\t\t-->\n\t\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t\t<lotNumberText>1</lotNumberText>\n\t\t\t\t\t\t\t\t\t</manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t<manufacturerOrganization>\n\t\t\t\t\t\t\t\t\t\t<name>Health LS - Immuno Inc.</name>\n\t\t\t\t\t\t\t\t\t</manufacturerOrganization>\n\t\t\t\t\t\t\t\t</manufacturedProduct>\n\t\t\t\t\t\t\t</consumable>\n\t\t\t\t\t\t\t<performer>\n\t\t\t\t\t\t\t\t<assignedEntity>\n\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.456\" extension=\"2981824\"/>\n\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t<given>Harold</given>\n\t\t\t\t\t\t\t\t\t\t\t<family>Hippocrates</family>\n\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t\t<representedOrganization>\n\t\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.1394\"/>\n\t\t\t\t\t\t\t\t\t\t<name>Good Health Clinic</name>\n\t\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t\t<addr nullFlavor=\"UNK\"/>\n\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t</assignedEntity>\n\t\t\t\t\t\t\t</performer>\n\t\t\t\t\t\t\t<entryRelationship typeCode=\"RSON\">\n\t\t\t\t\t\t\t\t<observation classCode=\"OBS\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<!-- ** Immunization Refusal ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.53\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"2a620155-9d11-439e-92b3-5d9815ff4dd8\"/>\n\t\t\t\t\t\t\t\t\t<code displayName=\"Patient Objection\" code=\"PATOBJ\" codeSystemName=\"HL7 ActNoImmunizationReason\" codeSystem=\"2.16.840.1.113883.5.8\"/>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t</observation>\n\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t</substanceAdministration>\n\t\t\t\t\t</entry>\n\t\t\t\t\t<entry typeCode=\"DRIV\">\n\t\t\t\t\t\t<substanceAdministration classCode=\"SBADM\" moodCode=\"EVN\" negationInd=\"false\">\n\t\t\t\t\t\t\t<!-- ** Immunization Activity (V3) ** -->\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\" extension=\"2015-08-01\"/>\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.52\"/>\n\t\t\t\t\t\t\t<id root=\"de10790f-1496-4719-8fe6-f1b87b6219f7\"/>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<effectiveTime value=\"20130801\"/>\n\t\t\t\t\t\t\t<routeCode code=\"C28161\" codeSystem=\"2.16.840.1.113883.3.26.1.1\" codeSystemName=\"National Cancer Institute (NCI) Thesaurus\" displayName=\"Intramuscular injection\"/>\n\t\t\t\t\t\t\t<consumable>\n\t\t\t\t\t\t\t\t<manufacturedProduct classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t<!-- ** Immunization Medication Information (V2) ** -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.54\"/>\n\t\t\t\t\t\t\t\t\t<manufacturedMaterial>\n\t\t\t\t\t\t\t\t\t\t<code code=\"45\" codeSystem=\"2.16.840.1.113883.6.59\" displayName=\"Hepatitis B vaccine\" codeSystemName=\"CVX\"/>\n\t\t\t\t\t\t\t\t\t\t<lotNumberText>1</lotNumberText>\n\t\t\t\t\t\t\t\t\t</manufacturedMaterial>\n\t\t\t\t\t\t\t\t</manufacturedProduct>\n\t\t\t\t\t\t\t</consumable>\n\t\t\t\t\t\t\t<performer>\n\t\t\t\t\t\t\t\t<assignedEntity>\n\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.456\" extension=\"2981824\"/>\n\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t<assignedPerson>\n\t\t\t\t\t\t\t\t\t\t<name>\n\t\t\t\t\t\t\t\t\t\t\t<given>Harold</given>\n\t\t\t\t\t\t\t\t\t\t\t<family>Hippocrates</family>\n\t\t\t\t\t\t\t\t\t\t</name>\n\t\t\t\t\t\t\t\t\t</assignedPerson>\n\t\t\t\t\t\t\t\t\t<representedOrganization>\n\t\t\t\t\t\t\t\t\t\t<id root=\"2.16.840.1.113883.19.5.9999.1394\"/>\n\t\t\t\t\t\t\t\t\t\t<name>Good Health Clinic</name>\n\t\t\t\t\t\t\t\t\t\t<telecom use=\"WP\" value=\"tel: +1(555)555-1030\"/>\n\t\t\t\t\t\t\t\t\t\t<addr>\n\t\t\t\t\t\t\t\t\t\t\t<streetAddressLine>1007 Health Drive</streetAddressLine>\n\t\t\t\t\t\t\t\t\t\t\t<city>Portland</city>\n\t\t\t\t\t\t\t\t\t\t\t<state>OR</state>\n\t\t\t\t\t\t\t\t\t\t\t<postalCode>99123</postalCode>\n\t\t\t\t\t\t\t\t\t\t\t<country>US</country>\n\t\t\t\t\t\t\t\t\t\t</addr>\n\t\t\t\t\t\t\t\t\t</representedOrganization>\n\t\t\t\t\t\t\t\t</assignedEntity>\n\t\t\t\t\t\t\t</performer>\n\t\t\t\t\t\t\t<entryRelationship typeCode=\"COMP\" inversionInd=\"true\">\n\t\t\t\t\t\t\t\t<sequenceNumber value=\"3\"/>\n\t\t\t\t\t\t\t\t<act classCode=\"ACT\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<!-- Substance Administered Act -->\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.118\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"3f998a26-1b8b-4cbf-8e91-16fbb7a7080f\"/>\n\t\t\t\t\t\t\t\t\t<code code=\"416118004\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"administration\"/>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t</act>\n\t\t\t\t\t\t\t</entryRelationship>\n\t\t\t\t\t\t</substanceAdministration>\n\t\t\t\t\t</entry>\n\t\t\t\t</section>\n\t\t\t</component>\n\t\t\t<!-- *********************** MEDICAL EQUIPMENT *************************** -->\n\t\t\t<component>\n\t\t\t\t<section>\n\t\t\t\t\t<!-- Medical Equipment Section (V2) -->\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.23\" extension=\"2014-06-09\"/>\n\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.2.23\"/>\n\t\t\t\t\t<code code=\"46264-8\" codeSystem=\"2.16.840.1.113883.6.1\" codeSystemName=\"LOINC\"/>\n\t\t\t\t\t<title>MEDICAL EQUIPMENT</title>\n\t\t\t\t\t<text>\n\t\t\t\t\t\t<content styleCode=\"Bold\">Medical Equipment</content>\n\t\t\t\t\t\t<list>\n\t\t\t\t\t\t\t<item>Implanted Devices: Cardiac PaceMaker July 3, 2013</item>\n\t\t\t\t\t\t\t<item>Implanted Devices: Upper GI Prosthesis, January 3, 2013</item>\n\t\t\t\t\t\t\t<item>Cane, February 2, 2003</item>\n\t\t\t\t\t\t</list>\n\t\t\t\t\t\t<content ID=\"Eqpt1\">Biliary Stent, May 5, 2013</content>\n\t\t\t\t\t</text>\n\t\t\t\t\t<entry>\n\t\t\t\t\t\t<!--  Medical Equipment Organizer -->\n\t\t\t\t\t\t<organizer classCode=\"CLUSTER\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.135\"/>\n\t\t\t\t\t\t\t<id root=\"3e414708-0e61-4d48-8863-484a2d473a02\"/>\n\t\t\t\t\t\t\t<code code=\"40388003\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\" displayName=\"Implant\">\n\t\t\t\t\t\t\t\t<originalText>Implants</originalText>\n\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t<effectiveTime xsi:type=\"IVL_TS\">\n\t\t\t\t\t\t\t\t<low value=\"20070103\"/>\n\t\t\t\t\t\t\t\t<high nullFlavor=\"UNK\"/>\n\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t<component>\n\t\t\t\t\t\t\t\t<!-- Non-medicinal supply activity V2 template ******* -->\n\t\t\t\t\t\t\t\t<supply classCode=\"SPLY\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.50\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.50\"/>\n\t\t\t\t\t\t\t\t\t<id root=\"39b5f1b4-a8e1-4ad7-8849-0deab10c97b1\"/>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"completed\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime xsi:type=\"IVL_TS\">\n\t\t\t\t\t\t\t\t\t\t<low value=\"20130703\"/>\n\t\t\t\t\t\t\t\t\t\t<high value=\"20140703\"/>\n\t\t\t\t\t\t\t\t\t</effectiveTime>\n\t\t\t\t\t\t\t\t\t<quantity value=\"1\"/>\n\t\t\t\t\t\t\t\t\t<participant typeCode=\"PRD\">\n\t\t\t\t\t\t\t\t\t\t<participantRole classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.37\"/>\n\t\t\t\t\t\t\t\t\t\t\t<!-- Product instance template -->\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"24993f33-6222-41ce-add6-37a9d3da6acb\"  assigningAuthorityName=\"Organizer FDA TESTHealth Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGo\"/>\n\t\t\t\t\t\t\t\t\t\t\t<id assigningAuthorityName=\"OrganizerFDA\"/>\n\t\t\t\t\t\t\t\t\t\t\t<playingDevice>\n\t\t\t\t\t\t\t\t\t\t\t\t<code code=\"14106009\" displayName=\"cardiac pacemaker, device (physical object)Good Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGo\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<originalText>Cardiac Pacemaker</originalText>\n\t\t\t\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t\t\t</playingDevice>\n\t\t\t\t\t\t\t\t\t\t\t<scopingEntity>\n\t\t\t\t\t\t\t\t\t\t\t\t<id root=\"eb936010-7b17-11db-9fe1-0800200c9b65\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t<desc>Good Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGo</desc>\n\t\t\t\t\t\t\t\t\t\t\t</scopingEntity>\n\t\t\t\t\t\t\t\t\t\t</participantRole>\n\t\t\t\t\t\t\t\t\t</participant>\n\t\t\t\t\t\t\t\t</supply>\n\t\t\t\t\t\t\t</component>\n\t\t\t\t\t\t\t<component>\n\t\t\t\t\t\t\t\t<supply classCode=\"SPLY\" moodCode=\"EVN\">\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.50\" extension=\"2014-06-09\"/>\n\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.50\"/>\n\t\t\t\t\t\t\t\t\t<!-- Non-medicinal supply activity V2 template ******* -->\n\t\t\t\t\t\t\t\t\t<id root=\"39b5f1b4-a8e1-4ad7-8849-0deab10c97b1\"/>\n\t\t\t\t\t\t\t\t\t<statusCode code=\"active\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime value=\"20150703\"/>\n\t\t\t\t\t\t\t\t\t<effectiveTime value=\"20160703\"/>\n\t\t\t\t\t\t\t\t\t<quantity value=\"1\"/>\n\t\t\t\t\t\t\t\t\t<participant typeCode=\"PRD\">\n\t\t\t\t\t\t\t\t\t\t<participantRole classCode=\"MANU\">\n\t\t\t\t\t\t\t\t\t\t\t<templateId root=\"2.16.840.1.113883.10.20.22.4.37\"/>\n\t\t\t\t\t\t\t\t\t\t\t<!-- Product instance template -->\n\t\t\t\t\t\t\t\t\t\t\t<id root=\"24993f33-6222-41ce-add6-37a9d3da6acb\"/>\n\t\t\t\t\t\t\t\t\t\t\t<playingDevice>\n\t\t\t\t\t\t\t\t\t\t\t\t<code code=\"303406003\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMED CT\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<originalText>TwoUpper GI ProsthesisGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGood Health Durable Medical EquipmentGo</originalText>\n\t\t\t\t\t\t\t\t\t\t\t\t</code>\n\t\t\t\t\t\t\t\t\t\t\t</playingDevic
[...]
