openapi: 3.2.0
info:
  title: ABM Prepay DME Claim API-1.0.0 Prepaydme API
  version: 1.0.0
  description: This is a wrapper API which internally calls ABM CES API to get the claim edits and DME Pricing API to get the rate and then update the claim amount.
servers:
- url: https://sandbox-apigw.optum.com
tags:
- name: prepaydme
paths:
  /abm/prepaydme/v1:
    post:
      summary: PrePay DME API Endpoint
      tags:
      - prepaydme
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: object
              xml:
                name: request
              properties:
                environment:
                  type: string
                  xml:
                    name: environment
                enterprise-id:
                  type: string
                  xml:
                    name: enterprise-id
                claim:
                  type: object
                  xml:
                    name: claim
                  properties:
                    id:
                      type: string
                      xml:
                        name: id
                    subscriber-id:
                      type: string
                      xml:
                        name: subscriber-id
                    line:
                      type: object
                      xml:
                        name: line
                      properties:
                        id:
                          type: string
                          xml:
                            name: id
                        procedure-code:
                          type: string
                          xml:
                            name: procedure-code
              example: "<request>\n    <environment>live</environment>\n    <enterprise-id>ENTERPRISEID</enterprise-id>\n    <claim>\n        <id>ClaimId</id>\n        <subscriber-id>54654</subscriber-id>\n        <line>\n            <id>1</id>\n            <procedure-code>EXXXX</procedure-code>\n        </line>\n    </claim>\n</request>"
      responses:
        '200':
          description: Response for PREPAY DME API
          content:
            application/xml:
              schema:
                type: object
                xml:
                  name: request
                properties:
                  environment:
                    type: string
                    xml:
                      name: environment
                  enterprise-id:
                    type: string
                    xml:
                      name: enterprise-id
                  claim:
                    type: object
                    xml:
                      name: claim
                    properties:
                      id:
                        type: string
                        xml:
                          name: id
                      subscriber-id:
                        type: string
                        xml:
                          name: subscriber-id
                      line:
                        type: object
                        xml:
                          name: line
                        properties:
                          id:
                            type: string
                            xml:
                              name: id
                          procedure-code:
                            type: string
                            xml:
                              name: procedure-code
                example: "<request>\n    <environment>live</environment>\n    <enterprise-id>ENTERPRISEID</enterprise-id>\n    <claim>\n        <id>ClaimId</id>\n        <subscriber-id>54654</subscriber-id>\n        <line>\n            <id>1</id>\n            <procedure-code>EXXXX</procedure-code>\n        </line>\n    </claim>\n</request>"
      operationId: postAbmPrepaydmeV1
      x-operation-id-source: derived
x-readme:
  explorer-enabled: true
  proxy-enabled: true
