openapi: 3.2.0
info:
  title: Real Dental Pre-Care Eligibility Intelligence Check Enhanced Dental Eligibility API
  description: Enhanced Eligibility
  version: 1.0.0
servers:
- url: https://sandbox-apigw.optum.com
security:
- BearerAuth: []
tags:
- name: Check Enhanced Dental Eligibility
paths:
  /oihub/dnt/enh/eligibility/preservice/v1:
    post:
      summary: Check Enhanced Dental Eligibility
      operationId: checkEnhancedEligibility
      tags:
      - Check Enhanced Dental Eligibility
      parameters:
      - name: providertaxid
        in: header
        required: true
        schema:
          type: string
          example: '204868609'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EligibilityRequest'
      responses:
        '200':
          description: Successful eligibility response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error
      description: Checks enhanced dental eligibility.
      security:
      - BearerAuth: []
components:
  schemas:
    EligibilityInput:
      type: object
      required:
      - dateOfBirth
      - firstName
      - lastName
      - memberId
      - payerId
      properties:
        dateOfBirth:
          type: string
          format: date
        firstName:
          type: string
        lastName:
          type: string
        memberId:
          type: string
        payerId:
          type: string
        providerFirstName:
          type: string
        providerLastName:
          type: string
        providerNPI:
          type: string
        serviceStartDate:
          type: string
          format: date
        serviceEndDate:
          type: string
          format: date
        coverageTypes:
          type: array
          items:
            type: string
    BenefitNotes:
      type: object
      properties:
        result:
          type: object
          properties:
            benefitNotes:
              type: object
              properties:
                footNoteInfo:
                  type: array
                  items:
                    $ref: '#/components/schemas/FootNoteInfo'
    EligibilityRequest:
      type: object
      required:
      - query
      - variables
      properties:
        query:
          type: string
          description: GraphQL query string
        variables:
          $ref: '#/components/schemas/EligibilityVariables'
    BenefitSummary:
      type: object
      properties:
        member:
          type: object
          properties:
            subscriberId:
              type: string
              example: '042137147'
            groupId:
              type: string
              example: '101651'
        planLevelBenefits:
          type: array
          items:
            type: object
        categoryLevelBenefits:
          type: array
          items:
            type: object
    Procedure:
      type: object
      properties:
        procedure:
          type: object
          properties:
            codeValue:
              type: string
              example: D0120
            codeDesc:
              type: string
              example: periodic oral evaluation - established patient
        procedureCategory:
          type: string
          example: '01'
        inNetworkFrequency:
          type: string
          example: 2 - F - 12M
        outOfNetworkFrequency:
          type: string
          example: 2 - F - 12M
        ageLimit:
          type: string
        alternateBenefit:
          type: string
        serviceCount:
          type: integer
          example: 0
        relatedCode:
          type: array
          items:
            type: string
        services:
          type: array
          items:
            type: object
    BenefitUtilization:
      type: object
      properties:
        memberName:
          type: object
        memberRelationship:
          type: string
          example: SUBSCRIBER
        procedures:
          type: array
          items:
            $ref: '#/components/schemas/Procedure'
    EligibilityVariables:
      type: object
      properties:
        input:
          $ref: '#/components/schemas/EligibilityInput'
    Member:
      type: object
      properties:
        memberId:
          type: string
          example: '042137147'
        firstName:
          type: string
          example: MUHAMMAD
        lastName:
          type: string
          example: ATA
        middleName:
          type:
          - string
          - 'null'
        dateOfBirth:
          type: string
          format: date
          example: '1974-09-07'
        gender:
          type: string
          example: M
        relationshipCode:
          type: string
    EligibilityResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            checkEnhancedEligibility:
              type: object
              properties:
                eligibility:
                  type: array
                  items:
                    $ref: '#/components/schemas/Eligibility'
    Eligibility:
      type: object
      properties:
        eligibilityInfo:
          $ref: '#/components/schemas/EligibilityInfo'
        benefitNotes:
          $ref: '#/components/schemas/BenefitNotes'
        benefitSummary:
          $ref: '#/components/schemas/BenefitSummary'
        benefitUtilization:
          $ref: '#/components/schemas/BenefitUtilization'
    FootNoteInfo:
      type: object
      properties:
        benefitSummaryType:
          type: string
        benefitSummaryDescription:
          type: string
        benefitSummarySequenceNumber:
          type: string
        benefitSummaryText:
          type: string
    InsuranceInfo:
      type: object
      properties:
        policyNumber:
          type: string
          example: 0241816
        planTypeDescription:
          type: string
          example: Preferred Provider Org.
        groupName:
          type: string
          example: HOUSTON LIVESTOCK SHOW AND ROD
        productType:
          type: string
          example: PPO
        payerId:
          type: string
          example: '52133'
        insuranceType:
          type: string
          example: COMM
        eligibilityStartDate:
          type: string
        eligibilityEndDate:
          type: string
        planStartDate:
          type: string
        planEndDate:
          type: string
        policyStatus:
          type: string
        productId:
          type: string
        productCode:
          type: string
    EligibilityInfo:
      type: object
      properties:
        trnId:
          type:
          - string
          - 'null'
        member:
          $ref: '#/components/schemas/Member'
        insuranceInfo:
          $ref: '#/components/schemas/InsuranceInfo'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
