openapi: 3.2.0
info:
  title: Payer List API V1 Outages API
  version: 1.0.0
  description: PayerList API empowers providers to programmatically access and integrate accurate, up-to-date payer list data into your systems to eliminate manual processes and enable smarter transaction workflows.
servers:
- url: https://sandbox-apigw.optum.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Outages
paths:
  /medicalnetwork/payerlist/v1/outages:
    get:
      tags:
      - Outages
      summary: Get outages
      description: Returns paginated product outage records. Source collection notes that system is required and date fields use YYYY-MM-DD format.
      operationId: getOutages
      parameters:
      - name: system
        in: query
        required: true
        schema:
          type: string
        description: 'Required. Options shown in source collection: IMN, EXCH, IEDI, RPA, DENTAL. Comma-separated values may be used for multiple systems.'
      - name: transactionType
        in: query
        required: false
        schema:
          type: string
        description: Transaction type filter. Examples shown in source collection include Eligibility, Claims Institutional, Claims Professional, Claim Status, ERA Institutional, ERA Professional, Auth Inquiry, Auth Referral, Claims Attachments, Advanced Notification, Dental Claims, Dental Claim Attachments, and Dental ERA.
      - name: imnPayerId
        in: query
        required: false
        schema:
          type: string
        description: Comma-separated IMN payer IDs.
      - name: payerName
        in: query
        required: false
        schema:
          type: string
        description: Payer name filter. Source collection notes substring match when wildcardSearch=Yes.
      - name: standinReason
        in: query
        required: false
        schema:
          type: string
        description: Comma-separated stand-in reasons, such as Optum Outage or Payer Maintenance.
      - name: payerProductStandinFlag
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'Yes'
          - 'No'
        description: Primary outage flag.
      - name: activeStatus
        in: query
        required: false
        schema:
          type: string
          enum:
          - Active
          - Inactive
          - Standby
          - Unknown
        description: Service availability status.
      - name: startDateTimeAfter
        in: query
        required: false
        schema:
          type: string
        description: 'Outages with start date on or after this date. Format: YYYY-MM-DD.'
      - name: startDateTimeBefore
        in: query
        required: false
        schema:
          type: string
        description: 'Outages with start date on or before this date. Format: YYYY-MM-DD.'
      - name: issueStartDate
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by exact issue start date. Format: YYYY-MM-DD.'
      - name: intermittentPayerOutage
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'Yes'
          - 'No'
        description: Intermittent versus full outage.
      - name: wildcardSearch
        in: query
        required: false
        schema:
          type: string
          enum:
          - 'Yes'
          - 'No'
        description: Enable substring matching for text filters. Source collection notes default as Yes.
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: 'Sort format: field,asc or field,desc. Repeat parameter for multi-sort.'
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number. Source collection notes default as 1.
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
        description: Results per page. Source collection notes default as 100.
      responses:
        '200':
          description: Successful outages response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutageListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: string
    OutageListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Outage'
        page:
          type: integer
        pageSize:
          type: integer
        totalCount:
          type: integer
      additionalProperties: true
      description: Outage list response placeholder. Exact response schema was not provided in the source collection.
    Outage:
      type: object
      properties:
        imnPayerId:
          type: string
        payerName:
          type: string
        transactionType:
          type: string
        activeStatus:
          type: string
        payerProductStandinFlag:
          type: string
        standinReason:
          type: string
        intermittentPayerOutage:
          type: string
        additionalPayerIds:
          type: array
          items:
            type: string
        issueStartDate:
          type: string
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
