openapi: 3.2.0
info:
  title: ABM Pre-Pay Lab API-1.0.0 Prepaylab API
  version: 1.0.0
  description: 'This is a wrapper API which internally calls ABM CES API to get the claim edits and Lab Pricing API to get the rate and then update the claim amount.

    CES calls ABM PriorAuth API to get the matching PriorAuth record with remaining claimed unit. Lab Claim API calculates Claim amount based on remaining unit and rate. This API needs auth bearer token which can be retrieved using https://sandbox-apigw.optum.com/apip/auth/sntl/v1/token.'
servers:
- url: https://sandbox-apigw.optum.com
tags:
- name: prepaylab
paths:
  /abm/prepaylab/v1:
    post:
      summary: PrePay Lab API Endpoint
      tags:
      - prepaylab
      requestBody:
        $ref: '#/components/requestBodies/prepaylabdata'
      responses:
        '200':
          $ref: '#/components/responses/prepaylabdata'
components:
  requestBodies:
    prepaylabdata:
      description: payload for Lab PREPAY API
      required: true
      content:
        application/xml:
          schema:
            type: object
            xml:
              name: request
            properties:
              environment:
                type: string
                xml:
                  name: environment
              enterprise-id:
                type: string
                xml:
                  name: enterprise-id
              claim:
                type: object
                xml:
                  name: claim
                properties:
                  id:
                    type: string
                    xml:
                      name: id
                  subscriber-id:
                    type: string
                    xml:
                      name: subscriber-id
                  line:
                    type: object
                    xml:
                      name: line
                    properties:
                      id:
                        type: string
                        xml:
                          name: id
                      procedure-code:
                        type: string
                        xml:
                          name: procedure-code
            example: "<request>\n    <environment>live</environment>\n    <enterprise-id>ENTERPRISEID</enterprise-id>\n    <claim>\n        <id>ClaimId</id>\n        <subscriber-id>54654</subscriber-id>\n        <line>\n            <id>1</id>\n            <procedure-code>EXXXX</procedure-code>\n        </line>\n    </claim>\n</request>"
  responses:
    prepaylabdata:
      description: response for PREPAY Lab API
      content:
        application/xml:
          schema:
            type: object
            xml:
              name: request
            properties:
              environment:
                type: string
                xml:
                  name: environment
              enterprise-id:
                type: string
                xml:
                  name: enterprise-id
              claim:
                type: object
                xml:
                  name: claim
                properties:
                  id:
                    type: string
                    xml:
                      name: id
                  subscriber-id:
                    type: string
                    xml:
                      name: subscriber-id
                  line:
                    type: object
                    xml:
                      name: line
                    properties:
                      id:
                        type: string
                        xml:
                          name: id
                      procedure-code:
                        type: string
                        xml:
                          name: procedure-code
            example: "<request>\n    <environment>live</environment>\n    <enterprise-id>ENTERPRISEID</enterprise-id>\n    <claim>\n        <id>ClaimId</id>\n        <subscriber-id>54654</subscriber-id>\n        <line>\n            <id>1</id>\n            <procedure-code>EXXXX</procedure-code>\n        </line>\n    </claim>\n</request>"
x-readme:
  explorer-enabled: true
  proxy-enabled: true
