openapi: 3.0.3
info:
  title: Prior Authorization v1
  description: ''
  version: 1.1.0
  contact:
    email: ''
servers:
- url: https://sandbox-apigw.optum.com/rcm/prior-authorization/v1/
- url: /processor
paths:
  /determination/x12:
    post:
      summary: 278x215 Prior Authorization Determination
      description: Prior authorization determination using 278x215 requests
      tags:
      - Determination
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeterminationX12Request'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeterminationResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /determination:
    post:
      summary: JSON Prior Authorization Determination
      description: Prior authorization determination using JSON requests
      tags:
      - Determination
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Determination request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InquiryJSONRequestWithDetermination'
            examples:
              subscriber:
                $ref: '#/components/examples/UserInquiryRequestSubscriberWithDetermination'
              dependent:
                $ref: '#/components/examples/UserInquiryRequestDependentWithDetermination'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeterminationResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /inquiry/x12:
    post:
      summary: 278x215 Prior Authorization Inquiry
      description: 'Given a valid X12 278x215 request, the request will be submitted to the payer or clearing
        house and a 278 response returned.

        '
      tags:
      - Inquiry
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InquiryX12Request'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquiryResponse'
              examples:
                subscriber:
                  $ref: '#/components/examples/UserInquiryResponseSubscriber'
                dependent:
                  $ref: '#/components/examples/UserInquiryResponseDependent'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /inquiry:
    post:
      summary: JSON Prior Authorization Inquiry
      description: 'Given a valid JSON request, the request will be submitted to the payer or clearing
        house and a JSON response returned.

        '
      tags:
      - Inquiry
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InquiryJSONRequest'
            examples:
              subscriber:
                $ref: '#/components/examples/UserInquiryRequestSubscriber'
              dependent:
                $ref: '#/components/examples/UserInquiryRequestDependent'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquiryResponse'
              examples:
                subscriber:
                  $ref: '#/components/examples/UserInquiryResponseSubscriber'
                dependent:
                  $ref: '#/components/examples/UserInquiryResponseDependent'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /submission/x12:
    post:
      summary: 278x217 Prior Authorization Submission
      description: Prior authorization submission using EDI X12 278x217 requests
      tags:
      - Submission
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization Submission request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionX12Request'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResponse'
              examples:
                subscriber:
                  $ref: '#/components/examples/UserSubmissionResponseSubscriber'
                dependent:
                  $ref: '#/components/examples/UserSubmissionResponseDependent'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /submission:
    post:
      summary: JSON Prior Authorization Submission
      description: Prior authorization submission using JSON requests
      tags:
      - Submission
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization submission request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationSubmissionJSON'
            examples:
              subscriber:
                $ref: '#/components/examples/UserSubmissionRequestSubscriber'
              dependent:
                $ref: '#/components/examples/UserSubmissionRequestDependent'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResponse'
              examples:
                subscriber:
                  $ref: '#/components/examples/UserSubmissionResponseSubscriber'
                dependent:
                  $ref: '#/components/examples/UserSubmissionResponseDependent'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /noa/x12:
    post:
      summary: 278x216 Prior Authorization Notice Of Admission
      description: Prior authorization noa using EDI X12 278x216 requests
      tags:
      - Noa
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization Noa request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoaX12Request'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoaResponse'
              examples:
                subscriber:
                  $ref: '#/components/examples/UserNoaResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /noa:
    post:
      summary: JSON Notice of Admission
      description: Prior authorization notice of admission using JSON requests
      tags:
      - Noa
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization notice of admission request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationNoaJSON'
            examples:
              subscriber:
                $ref: '#/components/examples/UserNoaRequest'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoaResponse'
              examples:
                subscriber:
                  $ref: '#/components/examples/UserNoaResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /authorization/x12:
    post:
      summary: 278x215 Prior Authorization Orchestration
      description: Prior authorization orchestration using EDI X12 278x215 requests
      tags:
      - Authorization (Orchestration)
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationX12Request'
            examples:
              required-and-not-required:
                $ref: '#/components/examples/X12OrchRequestTwoCodesOneRequired'
              required-with-split:
                $ref: '#/components/examples/X12OrchRequestTwoRequiredCodesWithSplit'
              no-procedure-codes:
                $ref: '#/components/examples/X12OrchRequestNoProcedureCodes'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /authorization:
    post:
      summary: JSON Prior Authorization Orchestration
      description: Prior authorization orchestration using JSON requests
      tags:
      - Authorization (Orchestration)
      parameters:
      - $ref: '#/components/parameters/x-optum-tenant-id'
      - $ref: '#/components/parameters/x-optum-correlation-id'
      requestBody:
        description: Authorization request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InquiryJSONRequestWithDetermination'
            examples:
              inquiry-split:
                $ref: '#/components/examples/OrchestrationJSONRequestWithSplit'
              single-requires-pa:
                $ref: '#/components/examples/OrchestrationJSONRequestOneRequired'
              none-require-pa:
                $ref: '#/components/examples/OrchestrationJSONRequestAuthNotRequired'
      responses:
        '200':
          description: Success
          headers:
            x-amzn-trace-id:
              $ref: '#/components/headers/x-amzn-trace-id'
            transaction-id:
              $ref: '#/components/headers/transaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
  /healthcheck:
    get:
      description: Returns the health of the API
      tags:
      - Health Check
      summary: Service heartbeat
      responses:
        '200':
          description: Success
        '500':
          description: Internal Server Error
components:
  headers:
    x-amzn-trace-id:
      description: Generated traceId of the request
      required: true
      example: Root=1-61d7441a-56e4c77350687b5230e5707
      schema:
        type: string
    transaction-id:
      description: Transaction Id of the request
      required: true
      schema:
        type: string
        format: uuid
        example: c9476bc2-b563-4555-9527-4afe9dccaf9a
  schemas:
    InquiryX12Request:
      type: object
      properties:
        x12:
          type: string
          description: EDI X12 278x215 Request
          example: ISA*00*          *00*          *ZZ*943207296      *ZZ*000000000000001*230810*1021*^*00501*916040697*0*P*:~GS*HI*943207296*INQHEALTHHELP*20230810*102137*3294199*X*005010X215~ST*278*0001*005010X215~BHT*0007*28*1402448037*20230810*102137~HL*1**20*1~NM1*PR*2*Humana*****PI*HUMANA~HL*2*1*21*1~NM1*1P*2*North
            Memorial Health*****XX*1851344907~REF*EI*410729979~N4*Robbinsdale*MN*55422~PER*IC**TE*7635814480*FX*7635814480~HL*3*2*22*1~NM1*IL*1*DOE*JOE****MI*H1111111~REF*6P*00000000~DMG*D8*19010101~HL*4*3*EV*0~UM*HS*I*1*11:B~DTP*AAH*D8*20230802~HI*ABK:C34.32~NM1*SJ*2*North
            Memorial Medical Center*****XX*1851344907~NM1*DN*2*North Memorial Medical Center*****XX*1851344907~REF*ZH*410729979~SE*21*0001~GE*1*3294199~IEA*1*916040697~
    AuthorizationX12Request:
      type: object
      properties:
        rhPayerId:
          type: string
          description: Global payer identifier used for determination
          example: UHCDEMODV1
        planId:
          type: string
          description: Payer plan identifier used for determination
          example: 41
        x12:
          type: string
          description: EDI X12 278x215 Request
          example: ISA*00*          *00*          *ZZ*201985AAS      *ZZ*UHCDIRECT      *260220*2231*^*00501*310114548*0*P*:~GS*HI*201985AAS*UHCDIRECT*20260220*223147*549621530*X*005010X215~ST*278*0001*005010X215~BHT*0007*28*1234567890*20260220*223147~HL*1**20*1~NM1*PR*2*UHCDIRECT*****PI*UHCDIRECT~HL*2*1*21*1~NM1*1P*2*Regional
            Medical Center*****XX*1234567890~REF*EI*123456789~N4*Orangeburg*SC*12345~PER*IC**TE*803-555-2200~HL*3*2*22*1~NM1*IL*1*TEST*BRITTANY****MI*multi-01-approved~REF*6P*123456789~REF*SY*111223333~DMG*D8*19701231~HL*4*3*EV*1~UM*HS*I*1*11:B~DTP*AAH*RD8*20231017-20231017~NM1*SJ*1*TEST*STEVEN****XX*1234567890~NM1*DN*1*TEST*STEVEN****XX*1234567890~HL*5*4*SS*0~UM*HS***11:B~DTP*472*RD8*20231017-20231017~SV1*HC:T1000~HL*5*4*SS*0~UM*HS***11:B~DTP*472*RD8*20231017-20231017~SV1*HC:0214T~SE*28*0001~GE*1*549621530~IEA*1*310114548~
    SubmissionX12Request:
      type: object
      properties:
        x12:
          type: string
          description: EDI X12 278x217 Request
          example: ISA*00*4444      *00*5555      *ZZ*6546564        *ZZ*278_217_01     *0623  *1301*^*00501*000000001*0*T*:~GS*HI*FL0738*PERSEPVS*20090601*040612*1*X*005010X217~ST*278*0001*005010X217~BHT*0007*13*165932*20050502*1525~HL*1**20*1~NM1*X3*2*ABC
            PAYER*****PI*1234560010~HL*2*1*21*1~NM1*1P*1*XYZ AMBULANCE SVC*****24*7759621873~HL*3*2*22*1~NM1*IL*1*SMITH*JOE****MI*12345689001~REF*EJ*1234567890~DMG*D8*19700101*M~HL*4*3*EV*1~UM*HS*I*56*41:B~DTP*AAH*D8*20250101~CRC*07*Y*09~CR1***X*D*DH*27***TRIP
            FROM HOME TO OFFICE VISIT TO DIALYSIS TREATMENT AND BACK HOME~NM1*PW*2*HOME~N3*123 SOME ROAD~N4*SACRAMENTO*CA*95826~NM1*ND*2*DOCTOR
            OFFICE~N3*SOME AVENUE~N4*SACRAMENTO*CA*95624~NM1*R3*2*SOME DIALYSIS CENTER~N3*7622 SOME ROAD~N4*SACRAMENTO*CA*95826~NM1*FS*2*HOME~N3*123
            SOME ROAD~N4*SACRAMENTO*CA*95826~HL*5*4*SS*0~SV1*HC:A0428:RX**UN*5~HL*6*5*SS*0~SV1*HC:A0428:PD**UN*8~HL*7*6*SS*0~SV1*HC:A0428:DR**UN*14~SE*34*0001~GE*1*1~IEA*1*000000001~
    NoaX12Request:
      type: object
      properties:
        x12:
          type: string
          description: EDI X12 278x216 Request
          example: ISA*00*          *00*          *ZZ*83825418A      *ZZ*IMNDIRECT      *260203*0815*^*00501*375720525*0*P*:~GS*HI*LRX1210001*MTEXE*20260203*0815*1234*X*005010X216~ST*278*0001*005010X216~BHT*0007*CN*222438911WEB*20260203*0815*NO~HL*1**20*1~NM1*FA*2*Benefis
            Health System*****XX*1881650737~PER*IC**TE*4064552959~HL*2*1*21*1~NM1*X3*2*AETNA*****PI*60054~HL*3*2*22*1~NM1*IL*1*LNAME*FNAME****MI*NOA-01-SUCCESS~REF*6P*0123456789012~DMG*D8*19700101~HL*4*3*EV*1~UM*AR*I*1*11:A~DTP*435*D8*20260101~HI*ABJ:N1330~MSG*AT=061500;ICD=N1330~NM1*71*1*SLATER*RICHARD****XX*1285928754~NM1*FA*2*Benefis
            Health System*****XX*1881650737~NM1*AAJ*1*SLATER*RICHARD****XX*1285928754~SE*20*0001~GE*1*1234~IEA*1*375720525~
    DeterminationX12Request:
      type: object
      properties:
        rhPayerId:
          type: string
          description: Global payer identifier used for determination
          example: UHCDEMODV1
        planId:
          type: string
          description: Payer plan identifier used for determination
          example: 41
        x12:
          type: string
          example: ISA*00*          *00*          *ZZ*943207296      *ZZ*INQDEMO        *230810*1021*^*00501*916040697*0*P*:~GS*HI*943207296*INQDEMO*20230810*102137*3294199*X*005010X215~ST*278*0001*005010X215~BHT*0007*28*1402448037*20230810*102137~HL*1**20*1~NM1*PR*2*INQDEMO*****PI*INQDEMO~HL*2*1*21*1~NM1*1P*2*Demo
            Hospital*****XX*1234567890~REF*EI*123456789~N4*Nashville*TN*12345~PER*IC**TE*1112223333*FX*2223334444~HL*3*2*22*1~NM1*IL*1*DOE*JOE****MI*TST1~REF*6P*00000000~DMG*D8*19010101~HL*4*3*EV*1~UM*HS*I*1*11:B~DTP*AAH*D8*20230802~HI*ABK:C34.32~NM1*SJ*2*Demo
            Hospital*****XX*1234567890~NM1*DN*2*Demo Hospital*****XX*1234567890~REF*ZH*123456789~HL*5*4*SS*0~DTP*472*D8*20160615~SV1*HC:70488~SE*24*0001~GE*1*3294199~IEA*1*916040697~
    SimplifiedDeterminationRequest:
      type: object
      properties:
        rhPayerId:
          type: string
          example: COMM112601
        planId:
          type: string
          example: '6223'
        procedureCodes:
          type: string
          example:
          - 0042T
          - Q5127
    SimplifiedDeterminationResponse:
      type: array
      items:
        $ref: '#/components/schemas/SimplifiedResponse'
    SimplifiedResponse:
      type: object
      properties:
        authorizationRequired:
          type: boolean
        UMVendor:
          type: string
        payerCPID:
          type: string
        planName:
          type: string
        rhPayerId:
          type: string
        planId:
          type: string
        code:
          type: string
        exceptions:
          type: string
        externalRoute:
          type: string
        payerXrefStatus:
          type: string
        UMVendorXrefStatus:
          type: string
    AuthorizationSubmissionJSON:
      type: object
      properties:
        senderId:
          type: string
        submitterTransactionIdentifier:
          type: string
        payerId:
          type: string
        payerName:
          type: string
        umClearingHouseId:
          type: string
        requester:
          type: object
          properties:
            requesterType:
              type: string
            organizationName:
              type: string
            lastName:
              type: string
            firstName:
              type: string
            requesterIdentification:
              type: object
              properties:
                providerUpinNumber:
                  type: string
                facilityIdNumber:
                  type: string
                employerIdentificationNumber:
                  type: string
                providerSiteNumber:
                  type: string
                providerPlanNetworkIdNumber:
                  type: string
                facilityNetworkIdNumber:
                  type: string
                socialSecurityNumber:
                  type: string
                carrierAssignedReferenceNumber:
                  type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
            countrySubDivisionCode:
              type: string
            npi:
              type: string
            ssn:
              type: string
            servicesPlanID:
              type: string
            employersId:
              type: string
            etin:
              type: string
            contactName:
              type: string
            contactElectronicMail:
              type: string
            contactFacsimile:
              type: string
            contactTelephone:
              type: string
            contactTelephoneExtension:
              type: string
            providerCode:
              type: string
            referenceIdentification:
              type: string
        subscriber:
          type: object
          properties:
            lastName:
              type: string
            firstName:
              type: string
            middleName:
              type: string
            suffix:
              type: string
            memberId:
              type: string
            dateOfBirth:
              type: string
            genderCode:
              type: string
            supplementalIdentification:
              type: object
              properties:
                policyNumber:
                  type: string
                branchIdentifier:
                  type: string
                groupNumber:
                  type: string
                departmentNumber:
                  type: string
                patientAccountNumber:
                  type: string
                healthInsuranceClaimNumber:
                  type: string
                idCard:
                  type: string
                insurancePolicyNumber:
                  type: string
                planNetworkIdentificationNumber:
                  type: string
                medicaidRecipientIdentificationNumber:
                  type: string
                ssn:
                  type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
            countrySubDivisionCode:
              type: string
            insuredIndicator:
              type: string
            militaryRelationship:
              type: string
        dependent:
          type: object
          properties:
            lastName:
              type: string
            firstName:
              type: string
            middleName:
              type: string
            suffix:
              type: string
            dateOfBirth:
              type: string
            genderCode:
              type: string
            supplementalIdentification:
              type: object
              properties:
                patientAccountNumber:
                  type: string
                ssn:
                  type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
            countrySubDivisionCode:
              type: string
            insuredIndicator:
              type: string
            relationshipToInsuredCode:
              type: string
            birthSequenceNumber:
              type: string
        patientEventDetail:
          type: object
          properties:
            requestCategoryCode:
              type: string
            certificationTypeCode:
              type: string
            serviceTypeCode:
              type: string
            facilityTypeCode:
              type: string
            facilityCodeQualifier:
              type: string
            relatedCausesCode1:
              type: string
            relatedCausesCode2:
              type: string
            relatedCausesCode3:
              type: string
            stateCode:
              type: string
            countryCode:
              type: string
            levelOfServiceCode:
              type: string
            currentHealthConditionCode:
              type: string
            prognosisCode:
              type: string
            releaseOfInformationCode:
              type: string
            delayReasonCode:
              type: string
            previousReviewAuthorizationNumber:
              type: string
            previousAdministrativeReferenceNumber:
              type: string
            accidentDate:
              type: string
            lastMenstrualPeriodDate:
              type: string
            estimatedDateOfBirth:
              type: string
            onsetDate:
              type: string
            eventDateBegin:
              type: string
            eventDateEnd:
              type: string
            admissionDateBegin:
              type: string
            admissionDateEnd:
              type: string
            dischargeDate:
              type: string
            diagnosisTypeCode1:
              type: string
            diagnosisCode1:
              type: string
            diagnosisDate1:
              type: string
            diagnosisTypeCode2:
              type: string
            diagnosisCode2:
              type: string
            diagnosisDate2:
              type: string
            diagnosisTypeCode3:
              type: string
            diagnosisCode3:
              type: string
            diagnosisDate3:
              type: string
            diagnosisTypeCode4:
              type: string
            diagnosisCode4:
              type: string
            diagnosisDate4:
              type: string
            diagnosisTypeCode5:
              type: string
            diagnosisCode5:
              type: string
            diagnosisDate5:
              type: string
            diagnosisTypeCode6:
              type: string
            diagnosisCode6:
              type: string
            diagnosisDate6:
              type: string
            diagnosisTypeCode7:
              type: string
            diagnosisCode7:
              type: string
            diagnosisDate7:
              type: string
            diagnosisTypeCode8:
              type: string
            diagnosisCode8:
              type: string
            diagnosisDate8:
              type: string
            diagnosisTypeCode9:
              type: string
            diagnosisCode9:
              type: string
            diagnosisDate9:
              type: string
            diagnosisTypeCode10:
              type: string
            diagnosisCode10:
              type: string
            diagnosisDate10:
              type: string
            diagnosisTypeCode11:
              type: string
            diagnosisCode11:
              type: string
            diagnosisDate11:
              type: string
            diagnosisTypeCode12:
              type: string
            diagnosisCode12:
              type: string
            diagnosisDate12:
              type: string
            quantityQualifier:
              type: string
            serviceUnitCount:
              type: string
            unitOrBasisForMeasurementCode:
              type: string
            sampleSelectionModulus:
              type: string
            timePeriodQualifier:
              type: string
            periodCount:
              type: string
            deliveryFrequencyCode:
              type: string
            deliveryPatternTimeCode:
              type: string
            ambulanceCertificationConditionIndicator:
              type: string
            ambulanceCertificationConditionCode1:
              type: string
            ambulanceCertificationConditionCode2:
              type: string
            ambulanceCertificationConditionCode3:
              type: string
            ambulanceCertificationConditionCode4:
              type: string
            ambulanceCertificationConditionCode5:
              type: string
            chiropracticCertificationConditionIndicator:
              type: string
            chiropracticCertificationConditionCode1:
              type: string
            chiropracticCertificationConditionCode2:
              type: string
            chiropracticCertificationConditionCode3:
              type: string
            chiropracticCertificationConditionCode4:
              type: string
            chiropracticCertificationConditionCode5:
              type: string
            durableMedicalEquipmentCertificationConditionIndicator:
              type: string
            durableMedicalEquipmentCertificationConditionCode1:
              type: string
            durableMedicalEquipmentCertificationConditionCode2:
              type: string
            durableMedicalEquipmentCertificationConditionCode3:
              type: string
            durableMedicalEquipmentCertificationConditionCode4:
              type: string
            durableMedicalEquipmentCertificationConditionCode5:
              type: string
            oxygenTherapyCertificationConditionIndicator:
              type: string
            oxygenTherapyCertificationConditionCode1:
              type: string
            oxygenTherapyCertificationConditionCode2:
              type: string
            oxygenTherapyCertificationConditionCode3:
              type: string
            oxygenTherapyCertificationConditionCode4:
              type: string
            oxygenTherapyCertificationConditionCode5:
              type: string
            functionalLimitationsCertificationConditionIndicator:
              type: string
            functionalLimitationsCertificationConditionCode1:
              type: string
            functionalLimitationsCertificationConditionCode2:
              type: string
            functionalLimitationsCertificationConditionCode3:
              type: string
            functionalLimitationsCertificationConditionCode4:
              type: string
            functionalLimitationsCertificationConditionCode5:
              type: string
            activitiesPermittedCertificationConditionIndicator:
              type: string
            activitiesPermittedCertificationConditionCode1:
              type: string
            activitiesPermittedCertificationConditionCode2:
              type: string
            activitiesPermittedCertificationConditionCode3:
              type: string
            activitiesPermittedCertificationConditionCode4:
              type: string
            activitiesPermittedCertificationConditionCode5:
              type: string
            mentalStatusCertificationConditionIndicator:
              type: string
            mentalStatusCertificationConditionCode1:
              type: string
            mentalStatusCertificationConditionCode2:
              type: string
            mentalStatusCertificationConditionCode3:
              type: string
            mentalStatusCertificationConditionCode4:
              type: string
            mentalStatusCertificationConditionCode5:
              type: string
            admissionToFacility:
              type: object
              properties:
                admissionTypeCode:
                  type: string
                admissionSourceCode:
                  type: string
                patientStatusCode:
                  type: string
                nursingHomeResidentialStatusCode:
                  type: string
            ambulanceTransport:
              type: object
              properties:
                patientWeight:
                  type: string
                transportCode:
                  type: string
                transportReasonCode:
                  type: string
                transportDistance:
                  type: string
                roundTripPurposeDescription:
                  type: string
                stretcherPurposeDescription:
                  type: string
            spinalManipulation:
              type: object
              properties:
                treatmentSeriesNumber:
                  type: string
                treatmentCount:
                  type: string
                subluxationBeginningLevelCode:
                  type: string
                subluxationEndLevelCode:
                  type: string
                patientConditionCode:
                  type: string
                complicationIndicator:
                  type: string
                patientConditionDescription1:
                  type: string
                patientConditionDescription2:
                  type: string
                xrayAvailabilityIndicator:
                  type: string
            homeOxygenTherapyInformation:
              type: object
              properties:
                equipmentTypeCode1:
                  type: string
                equipmentTypeCode2:
                  type: string
                equipmentTypeCode3:
                  type: string
                equipmentReasonDescription:
                  type: string
                flowRate:
                  type: string
                dailyUseCount:
                  type: string
                usePeriodHourCount:
                  type: string
                respiratoryTherapistOrderText:
                  type: string
                arterialBloodGasQuantity:
                  type: string
                saturationQuantity:
                  type: string
                testConditionCode:
                  type: string
                testFindingsCode1:
                  type: string
                testFindingsCode2:
                  type: string
                testFindingsCode3:
                  type: string
                portableSystemFlowRate:
                  type: string
                deliverySystemCode:
                  type: string
            homeHealth:
              type: object
              properties:
                prognosisCode:
                  type: string
                startDate:
                  type: string
                certificationPeriodStartDate:
                  type: string
                certificationPeriodEndDate:
                  type: string
                medicareCoverageIndicator:
                  type: string
                certificationTypeCode:
                  type: string
                surgeryDate:
                  type: string
                productOrServiceQualifier:
                  type: string
                surgicalProcedureCode:
                  type: string
                physicalOrderDate:
                  type: string
                lastVisitDate:
                  type: string
                physicianContactDate:
                  type: string
                lastAdmissionPeriodStartDate:
                  type: string
                lastAdmissionPeriodEndDate:
                  type: string
                patientLocationCode:
                  type: string
            attachments:
              type: array
              items:
                type: object
                properties:
                  reportTypeCode:
                    type: string
                  transmissionCode:
                    type: string
                  controlNumber:
                    type: string
                  description:
                    type: string
            freeFormMessageText:
              type: string
            patientEventProviderName:
              type: array
              items:
                type: object
                properties:
                  entityIdentifierCode:
                    type: string
                  organizationName:
                    type: string
                  lastName:
                    type: string
                  firstName:
                    type: string
                  middleName:
                    type: string
                  namePrefix:
                    type: string
                  nameSuffix:
                    type: string
                  identificationCodeQualifier:
                    type: string
                  identifier:
                    type: string
                  address1:
                    type: string
                  address2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
                  countryCode:
                    type: string
                  countrySubDivisionCode:
                    type: string
                  providerSupplementalInformation:
                    type: object
                    properties:
                      stateLicenseNumber:
                        type: string
                      licenseNumberStateCode:
                        type: string
                      providerUpinNumber:
                        type: string
                      facilityIdNumber:
                        type: string
                      employersIdentificationNumber:
                        type: string
                      providerPlanNetworkIdentificationNumber:
                        type: string
                      facilityNetworkIdentificationNumber:
                        type: string
                      ssn:
                        type: string
                      carrierAssignedReferenceNumber:
                        type: string
                  contactName:
                    type: string
                  contactElectronicMail:
                    type: string
                  contactFacsimile:
                    type: string
                  contactTelephone:
                    type: string
                  contactTelephoneExtension:
                    type: string
                  providerCode:
                    type: string
                  providerTaxonomyCode:
                    type: string
            patientEventTransportInformation:
              type: array
              items:
                type: object
                properties:
                  entityIdentifierCode:
                    type: string
                  transportLocationName:
                    type: string
                  address1:
                    type: string
                  address2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
            patientEventOtherUmoName:
              type: array
              items:
                type: object
                properties:
                  entityIdentifierCode:
                    type: string
                  otherUmoName:
                    type: string
                  otherUmoDenialReason1:
                    type: string
                  otherUmoDenialReason2:
                    type: string
                  otherUmoDenialReason3:
                    type: string
                  otherUmoDenialReason4:
                    type: string
                  otherUmoDenialDate:
                    type: string
            serviceLevel:
              type: array
              items:
                type: object
                properties:
                  requestCategoryCode:
                    type: string
                  certificationTypeCode:
                    type: string
                  serviceTypeCode:
                    type: string
                  facilityTypeCode:
                    type: string
                  facilityCodeQualifier:
                    type: string
                  previousReviewAuthorizationNumber:
                    type: string
                  previousAdministrativeReferenceNumber:
                    type: string
                  serviceDateBegin:
                    type: string
                  serviceDateEnd:
                    type: string
                  professionalService:
                    type: object
                    properties:
                      productOrServiceIDQualifier:
                        type: string
                      procedureCode:
                        type: string
                      procedureModifier1:
                        type: string
                      procedureModifier2:
                        type: string
                      procedureModifier3:
                        type: string
                      procedureModifier4:
                        type: string
                      procedureCodeDescription:
                        type: string
                      procedureCode2:
                        type: string
                      serviceLineAmount:
                        type: string
                      unitOrBasisForMeasurementCode:
                        type: string
                      serviceUnitCount:
                        type: string
                      diagnosisCodePointer1:
                        type: string
                      diagnosisCodePointer2:
                        type: string
                      diagnosisCodePointer3:
                        type: string
                      diagnosisCodePointer4:
                        type: string
                      epsdtIndicator:
                        type: string
                      nursingHomeLevelOfCare:
                        type: string
                  institutionalService:
                    type: object
                    properties:
                      serviceLineRevenueCode:
                        type: string
                      productOrServiceIDQualifier:
                        type: string
                      procedureCode:
                        type: string
                      procedureModifier1:
                        type: string
                      procedureModifier2:
                        type: string
                      procedureModifier3:
                        type: string
                      procedureModifier4:
                        type: string
                      procedureCodeDescription:
                        type: string
                      procedureCode2:
                        type: string
                      serviceLineAmount:
                        type: string
                      unitOrBasisForMeasurementCode:
                        type: string
                      serviceUnitCount:
                        type: string
                      serviceLineRate:
                        type: string
                      nursingHomeResidentialStatusCode:
                        type: string
                      nursingHomeLevelOfCare:
                        type: string
                  dentalService:
                    type: object
                    properties:
                      procedureCode:
                        type: string
                      procedureModifier1:
                        type: string
                      procedureModifier2:
                        type: string
                      procedureModifier3:
                        type: string
                      procedureModifier4:
                        type: string
                      procedureCodeDescription:
                        type: string
                      procedureCode2:
                        type: string
                      serviceLineAmount:
                        type: string
                      oralCavityDesignationCode:
                        type: string
                      oralCavityDesignationCode2:
                        type: string
                      oralCavityDesignationCode3:
                        type: string
                      oralCavityDesignationCode4:
                        type: string
                      oralCavityDesignationCode5:
                        type: string
                      prosthesisCrownOrInlayCode:
                        type: string
                      serviceUnitCount:
                        type: string
                      description:
                        type: string
                  toothInformation:
                    type: array
                    items:
                      type: object
                      properties:
                        toothCode:
                          type: string
                        toothSurfaceCode1:
                          type: string
                        toothSurfaceCode2:
                          type: string
                        toothSurfaceCode3:
                          type: string
                        toothSurfaceCode4:
                          type: string
                        toothSurfaceCode5:
                          type: string
                  healthCareServiceDelivery:
                    type: object
                    properties:
                      quantityQualifier:
                        type: string
                      serviceQuantity:
                        type: string
                      unitOrBasisForMeasurementCode:
                        type: string
                      sampleSelectionModulus:
                        type: string
                      timePeriodQualifier:
                        type: string
                      periodCount:
                        type: string
                      deliveryFrequencyCode:
                        type: string
                      deliveryPatternTimeCode:
                        type: string
                  attachments:
                    type: array
                    items:
                      type: object
                      properties:
                        reportTypeCode:
                          type: string
                        transmissionCode:
                          type: string
                        controlNumber:
                          type: string
                        description:
                          type: string
                  freeFormMessageText:
                    type: string
                  serviceProviderName:
                    type: array
                    items:
                      type: object
                      properties:
                        entityIdentifierCode:
                          type: string
                        organizationName:
                          type: string
                        lastName:
                          type: string
                        firstName:
                          type: string
                        middleName:
                          type: string
                        namePrefix:
                          type: string
                        nameSuffix:
                          type: string
                        identificationCodeQualifier:
                          type: string
                        identifier:
                          type: string
                        address1:
                          type: string
                        address2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postalCode:
                          type: string
                        countryCode:
                          type: string
                        countrySubDivisionCode:
                          type: string
                        providerSupplementalInformation:
                          type: object
                          properties:
                            stateLicenseNumber:
                              type: string
                            licenseNumberStateCode:
                              type: string
                            providerUpinNumber:
                              type: string
                            facilityIdNumber:
                              type: string
                            employersIdentificationNumber:
                              type: string
                            providerPlanNetworkIdentificationNumber:
                              type: string
                            facilityNetworkIdentificationNumber:
                              type: string
                            ssn:
                              type: string
                            carrierAssignedReferenceNumber:
                              type: string
                        contactName:
                          type: string
                        contactElectronicMail:
                          type: string
                        contactFacsimile:
                          type: string
                        contactTelephone:
                          type: string
                        providerCode:
                          type: string
                        providerTaxonomyCode:
                          type: string
    AuthorizationNoaJSON:
      type: object
      properties:
        senderId:
          type: string
        submitterTransactionIdentifier:
          type: string
        payerId:
          type: string
        payerName:
          type: string
        umClearingHouseId:
          type: string
        requester:
          type: object
          properties:
            requesterType:
              type: string
            organizationName:
              type: string
            lastName:
              type: string
            firstName:
              type: string
            requesterIdentification:
              type: object
              properties:
                providerUpinNumber:
                  type: string
                facilityIdNumber:
                  type: string
                employerIdentificationNumber:
                  type: string
                providerSiteNumber:
                  type: string
                providerPlanNetworkIdNumber:
                  type: string
                facilityNetworkIdNumber:
                  type: string
                socialSecurityNumber:
                  type: string
                carrierAssignedReferenceNumber:
                  type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
            countrySubDivisionCode:
              type: string
            npi:
              type: string
            ssn:
              type: string
            servicesPlanID:
              type: string
            employersId:
              type: string
            etin:
              type: string
            contactName:
              type: string
            contactElectronicMail:
              type: string
            contactFacsimile:
              type: string
            contactTelephone:
              type: string
            contactTelephoneExtension:
              type: string
            providerCode:
              type: string
            referenceIdentification:
              type: string
        subscriber:
          type: object
          properties:
            lastName:
              type: string
            firstName:
              type: string
            middleName:
              type: string
            suffix:
              type: string
            memberId:
              type: string
            dateOfBirth:
              type: string
            genderCode:
              type: string
            supplementalIdentification:
              type: object
              properties:
                policyNumber:
                  type: string
                branchIdentifier:
                  type: string
                groupNumber:
                  type: string
                departmentNumber:
                  type: string
                patientAccountNumber:
                  type: string
                healthInsuranceClaimNumber:
                  type: string
                idCard:
                  type: string
                insurancePolicyNumber:
                  type: string
                planNetworkIdentificationNumber:
                  type: string
                medicaidRecipientIdentificationNumber:
                  type: string
                ssn:
                  type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
            countrySubDivisionCode:
              type: string
            insuredIndicator:
              type: string
            militaryRelationship:
              type: string
        dependent:
          type: object
          properties:
            lastName:
              type: string
            firstName:
              type: string
            middleName:
              type: string
            suffix:
              type: string
            dateOfBirth:
              type: string
            genderCode:
              type: string
            supplementalIdentification:
              type: object
              properties:
                patientAccountNumber:
                  type: string
                ssn:
                  type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
            countrySubDivisionCode:
              type: string
            insuredIndicator:
              type: string
            relationshipToInsuredCode:
              type: string
            birthSequenceNumber:
              type: string
        patientEventDetail:
          type: object
          properties:
            requestCategoryCode:
              type: string
            certificationTypeCode:
              type: string
            serviceTypeCode:
              type: string
            facilityTypeCode:
              type: string
            facilityCodeQualifier:
              type: string
            relatedCausesCode1:
              type: string
            relatedCausesCode2:
              type: string
            relatedCausesCode3:
              type: string
            stateCode:
              type: string
            countryCode:
              type: string
            levelOfServiceCode:
              type: string
            currentHealthConditionCode:
              type: string
            prognosisCode:
              type: string
            releaseOfInformationCode:
              type: string
            delayReasonCode:
              type: string
            previousReviewAuthorizationNumber:
              type: string
            previousAdministrativeReferenceNumber:
              type: string
            accidentDate:
              type: string
            lastMenstrualPeriodDate:
              type: string
            estimatedDateOfBirth:
              type: string
            onsetDate:
              type: string
            eventDateBegin:
              type: string
            eventDateEnd:
              type: string
            admissionDateBegin:
              type: string
            admissionDateEnd:
              type: string
            dischargeDate:
              type: string
            diagnosisTypeCode1:
              type: string
            diagnosisCode1:
              type: string
            diagnosisDate1:
              type: string
            diagnosisTypeCode2:
              type: string
            diagnosisCode2:
              type: string
            diagnosisDate2:
              type: string
            diagnosisTypeCode3:
              type: string
            diagnosisCode3:
              type: string
            diagnosisDate3:
              type: string
            diagnosisTypeCode4:
              type: string
            diagnosisCode4:
              type: string
            diagnosisDate4:
              type: string
            diagnosisTypeCode5:
              type: string
            diagnosisCode5:
              type: string
            diagnosisDate5:
              type: string
            diagnosisTypeCode6:
              type: string
            diagnosisCode6:
              type: string
            diagnosisDate6:
              type: string
            diagnosisTypeCode7:
              type: string
            diagnosisCode7:
              type: string
            diagnosisDate7:
              type: string
            diagnosisTypeCode8:
              type: string
            diagnosisCode8:
              type: string
            diagnosisDate8:
              type: string
            diagnosisTypeCode9:
              type: string
            diagnosisCode9:
              type: string
            diagnosisDate9:
              type: string
            diagnosisTypeCode10:
              type: string
            diagnosisCode10:
              type: string
            diagnosisDate10:
              type: string
            diagnosisTypeCode11:
              type: string
            diagnosisCode11:
              type: string
            diagnosisDate11:
              type: string
            diagnosisTypeCode12:
              type: string
            diagnosisCode12:
              type: string
            diagnosisDate12:
              type: string
            quantityQualifier:
              type: string
            serviceUnitCount:
              type: string
            unitOrBasisForMeasurementCode:
              type: string
            sampleSelectionModulus:
              type: string
            timePeriodQualifier:
              type: string
            periodCount:
              type: string
            deliveryFrequencyCode:
              type: string
            deliveryPatternTimeCode:
              type: string
            ambulanceCertificationConditionIndicator:
              type: string
            ambulanceCertificationConditionCode1:
              type: string
            ambulanceCertificationConditionCode2:
              type: string
            ambulanceCertificationConditionCode3:
              type: string
            ambulanceCertificationConditionCode4:
              type: string
            ambulanceCertificationConditionCode5:
              type: string
            chiropracticCertificationConditionIndicator:
              type: string
            chiropracticCertificationConditionCode1:
              type: string
            chiropracticCertificationConditionCode2:
              type: string
            chiropracticCertificationConditionCode3:
              type: string
            chiropracticCertificationConditionCode4:
              type: string
            chiropracticCertificationConditionCode5:
              type: string
            durableMedicalEquipmentCertificationConditionIndicator:
              type: string
            durableMedicalEquipmentCertificationConditionCode1:
              type: string
            durableMedicalEquipmentCertificationConditionCode2:
              type: string
            durableMedicalEquipmentCertificationConditionCode3:
              type: string
            durableMedicalEquipmentCertificationConditionCode4:
              type: string
            durableMedicalEquipmentCertificationConditionCode5:
              type: string
            oxygenTherapyCertificationConditionIndicator:
              type: string
            oxygenTherapyCertificationConditionCode1:
              type: string
            oxygenTherapyCertificationConditionCode2:
              type: string
            oxygenTherapyCertificationConditionCode3:
              type: string
            oxygenTherapyCertificationConditionCode4:
              type: string
            oxygenTherapyCertificationConditionCode5:
              type: string
            functionalLimitationsCertificationConditionIndicator:
              type: string
            functionalLimitationsCertificationConditionCode1:
              type: string
            functionalLimitationsCertificationConditionCode2:
              type: string
            functionalLimitationsCertificationConditionCode3:
              type: string
            functionalLimitationsCertificationConditionCode4:
              type: string
            functionalLimitationsCertificationConditionCode5:
              type: string
            activitiesPermittedCertificationConditionIndicator:
              type: string
            activitiesPermittedCertificationConditionCode1:
              type: string
            activitiesPermittedCertificationConditionCode2:
              type: string
            activitiesPermittedCertificationConditionCode3:
              type: string
            activitiesPermittedCertificationConditionCode4:
              type: string
            activitiesPermittedCertificationConditionCode5:
              type: string
            mentalStatusCertificationConditionIndicator:
              type: string
            mentalStatusCertificationConditionCode1:
              type: string
            mentalStatusCertificationConditionCode2:
              type: string
            mentalStatusCertificationConditionCode3:
              type: string
            mentalStatusCertificationConditionCode4:
              type: string
            mentalStatusCertificationConditionCode5:
              type: string
            admissionToFacility:
              type: object
              properties:
                admissionTypeCode:
                  type: string
                admissionSourceCode:
                  type: string
                patientStatusCode:
                  type: string
                nursingHomeResidentialStatusCode:
                  type: string
            ambulanceTransport:
              type: object
              properties:
                patientWeight:
                  type: string
                transportCode:
                  type: string
                transportReasonCode:
                  type: string
                transportDistance:
                  type: string
                roundTripPurposeDescription:
                  type: string
                stretcherPurposeDescription:
                  type: string
            spinalManipulation:
              type: object
              properties:
                treatmentSeriesNumber:
                  type: string
                treatmentCount:
                  type: string
                subluxationBeginningLevelCode:
                  type: string
                subluxationEndLevelCode:
                  type: string
                patientConditionCode:
                  type: string
                complicationIndicator:
                  type: string
                patientConditionDescription1:
                  type: string
                patientConditionDescription2:
                  type: string
                xrayAvailabilityIndicator:
                  type: string
            homeOxygenTherapyInformation:
              type: object
              properties:
                equipmentTypeCode1:
                  type: string
                equipmentTypeCode2:
                  type: string
                equipmentTypeCode3:
                  type: string
                equipmentReasonDescription:
                  type: string
                flowRate:
                  type: string
                dailyUseCount:
                  type: string
                usePeriodHourCount:
                  type: string
                respiratoryTherapistOrderText:
                  type: string
                arterialBloodGasQuantity:
                  type: string
                saturationQuantity:
                  type: string
                testConditionCode:
                  type: string
                testFindingsCode1:
                  type: string
                testFindingsCode2:
                  type: string
                testFindingsCode3:
                  type: string
                portableSystemFlowRate:
                  type: string
                deliverySystemCode:
                  type: string
            homeHealth:
              type: object
              properties:
                prognosisCode:
                  type: string
                startDate:
                  type: string
                certificationPeriodStartDate:
                  type: string
                certificationPeriodEndDate:
                  type: string
                medicareCoverageIndicator:
                  type: string
                certificationTypeCode:
                  type: string
                surgeryDate:
                  type: string
                productOrServiceQualifier:
                  type: string
                surgicalProcedureCode:
                  type: string
                physicalOrderDate:
                  type: string
                lastVisitDate:
                  type: string
                physicianContactDate:
                  type: string
                lastAdmissionPeriodStartDate:
                  type: string
                lastAdmissionPeriodEndDate:
                  type: string
                patientLocationCode:
                  type: string
            attachments:
              type: array
              items:
                type: object
                properties:
                  reportTypeCode:
                    type: string
                  transmissionCode:
                    type: string
                  controlNumber:
                    type: string
                  description:
                    type: string
            freeFormMessageText:
              type: string
            patientEventProviderName:
              type: array
              items:
                type: object
                properties:
                  entityIdentifierCode:
                    type: string
                  organizationName:
                    type: string
                  lastName:
                    type: string
                  firstName:
                    type: string
                  middleName:
                    type: string
                  namePrefix:
                    type: string
                  nameSuffix:
                    type: string
                  identificationCodeQualifier:
                    type: string
                  identifier:
                    type: string
                  address1:
                    type: string
                  address2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
                  countryCode:
                    type: string
                  countrySubDivisionCode:
                    type: string
                  providerSupplementalInformation:
                    type: object
                    properties:
                      stateLicenseNumber:
                        type: string
                      licenseNumberStateCode:
                        type: string
                      providerUpinNumber:
                        type: string
                      facilityIdNumber:
                        type: string
                      employersIdentificationNumber:
                        type: string
                      providerPlanNetworkIdentificationNumber:
                        type: string
                      facilityNetworkIdentificationNumber:
                        type: string
                      ssn:
                        type: string
                      carrierAssignedReferenceNumber:
                        type: string
                  contactName:
                    type: string
                  contactElectronicMail:
                    type: string
                  contactFacsimile:
                    type: string
                  contactTelephone:
                    type: string
                  contactTelephoneExtension:
                    type: string
                  providerCode:
                    type: string
                  providerTaxonomyCode:
                    type: string
            patientEventTransportInformation:
              type: array
              items:
                type: object
                properties:
                  entityIdentifierCode:
                    type: string
                  transportLocationName:
                    type: string
                  address1:
                    type: string
                  address2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
            patientEventOtherUmoName:
              type: array
              items:
                type: object
                properties:
                  entityIdentifierCode:
                    type: string
                  otherUmoName:
                    type: string
                  otherUmoDenialReason1:
                    type: string
                  otherUmoDenialReason2:
                    type: string
                  otherUmoDenialReason3:
                    type: string
                  otherUmoDenialReason4:
                    type: string
                  otherUmoDenialDate:
                    type: string
            serviceLevel:
              type: array
              items:
                type: object
                properties:
                  requestCategoryCode:
                    type: string
                  certificationTypeCode:
                    type: string
                  serviceTypeCode:
                    type: string
                  facilityTypeCode:
                    type: string
                  facilityCodeQualifier:
                    type: string
                  previousReviewAuthorizationNumber:
                    type: string
                  previousAdministrativeReferenceNumber:
                    type: string
                  serviceDateBegin:
                    type: string
                  serviceDateEnd:
                    type: string
                  professionalService:
                    type: object
                    properties:
                      productOrServiceIDQualifier:
                        type: string
                      procedureCode:
                        type: string
                      procedureModifier1:
                        type: string
                      procedureModifier2:
                        type: string
                      procedureModifier3:
                        type: string
                      procedureModifier4:
                        type: string
                      procedureCodeDescription:
                        type: string
                      procedureCode2:
                        type: string
                      serviceLineAmount:
                        type: string
                      unitOrBasisForMeasurementCode:
                        type: string
                      serviceUnitCount:
                        type: string
                      diagnosisCodePointer1:
                        type: string
                      diagnosisCodePointer2:
                        type: string
                      diagnosisCodePointer3:
                        type: string
                      diagnosisCodePointer4:
                        type: string
                      epsdtIndicator:
                        type: string
                      nursingHomeLevelOfCare:
                        type: string
                  institutionalService:
                    type: object
                    properties:
                      serviceLineRevenueCode:
                        type: string
                      productOrServiceIDQualifier:
                        type: string
                      procedureCode:
                        type: string
                      procedureModifier1:
                        type: string
                      procedureModifier2:
                        type: string
                      procedureModifier3:
                        type: string
                      procedureModifier4:
                        type: string
                      procedureCodeDescription:
                        type: string
                      procedureCode2:
                        type: string
                      serviceLineAmount:
                        type: string
                      unitOrBasisForMeasurementCode:
                        type: string
                      serviceUnitCount:
                        type: string
                      serviceLineRate:
                        type: string
                      nursingHomeResidentialStatusCode:
                        type: string
                      nursingHomeLevelOfCare:
                        type: string
                  dentalService:
                    type: object
                    properties:
                      procedureCode:
                        type: string
                      procedureModifier1:
                        type: string
                      procedureModifier2:
                        type: string
                      procedureModifier3:
                        type: string
                      procedureModifier4:
                        type: string
                      procedureCodeDescription:
                        type: string
                      procedureCode2:
                        type: string
                      serviceLineAmount:
                        type: string
                      oralCavityDesignationCode:
                        type: string
                      oralCavityDesignationCode2:
                        type: string
                      oralCavityDesignationCode3:
                        type: string
                      oralCavityDesignationCode4:
                        type: string
                      oralCavityDesignationCode5:
                        type: string
                      prosthesisCrownOrInlayCode:
                        type: string
                      serviceUnitCount:
                        type: string
                      description:
                        type: string
                  toothInformation:
                    type: array
                    items:
                      type: object
                      properties:
                        toothCode:
                          type: string
                        toothSurfaceCode1:
                          type: string
                        toothSurfaceCode2:
                          type: string
                        toothSurfaceCode3:
                          type: string
                        toothSurfaceCode4:
                          type: string
                        toothSurfaceCode5:
                          type: string
                  healthCareServiceDelivery:
                    type: object
                    properties:
                      quantityQualifier:
                        type: string
                      serviceQuantity:
                        type: string
                      unitOrBasisForMeasurementCode:
                        type: string
                      sampleSelectionModulus:
                        type: string
                      timePeriodQualifier:
                        type: string
                      periodCount:
                        type: string
                      deliveryFrequencyCode:
                        type: string
                      deliveryPatternTimeCode:
                        type: string
                  attachments:
                    type: array
                    items:
                      type: object
                      properties:
                        reportTypeCode:
                          type: string
                        transmissionCode:
                          type: string
                        controlNumber:
                          type: string
                        description:
                          type: string
                  freeFormMessageText:
                    type: string
                  serviceProviderName:
                    type: array
                    items:
                      type: object
                      properties:
                        entityIdentifierCode:
                          type: string
                        organizationName:
                          type: string
                        lastName:
                          type: string
                        firstName:
                          type: string
                        middleName:
                          type: string
                        namePrefix:
                          type: string
                        nameSuffix:
                          type: string
                        identificationCodeQualifier:
                          type: string
                        identifier:
                          type: string
                        address1:
                          type: string
                        address2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postalCode:
                          type: string
                        countryCode:
                          type: string
                        countrySubDivisionCode:
                          type: string
                        providerSupplementalInformation:
                          type: object
                          properties:
                            stateLicenseNumber:
                              type: string
                            licenseNumberStateCode:
                              type: string
                            providerUpinNumber:
                              type: string
                            facilityIdNumber:
                              type: string
                            employersIdentificationNumber:
                              type: string
                            providerPlanNetworkIdentificationNumber:
                              type: string
                            facilityNetworkIdentificationNumber:
                              type: string
                            ssn:
                              type: string
                            carrierAssignedReferenceNumber:
                              type: string
                        contactName:
                          type: string
                        contactElectronicMail:
                          type: string
                        contactFacsimile:
                          type: string
                        contactTelephone:
                          type: string
                        providerCode:
                          type: string
                        providerTaxonomyCode:
                          type: string
    RecheckRequest:
      type: object
      properties:
        recheckFrequency:
          description: (Optional) How often re-checkable records are considered
          type: integer
          example: 12
          default: 12
        recheckPeriodBackoff:
          description: (Optional) Given a recheck_batch_date, how long has it been since this has last
            been rechecked
          type: integer
          example: 2
          default: 2
        dosProximity:
          description: (Optional) When we are within this proximity to date of service, the frequency
            changes to dos-proximity-recheck-freq
          type: integer
          example: 3
        dosProximityRecheckFrequency:
          description: (Optional) This is the frequency at which we recheck when we are within dos-proximity
            of the date of service
          type: integer
          example: 3
          default: 3
    InquiryJSONRequest:
      type: object
      properties:
        senderId:
          type: string
        submitterTransactionIdentifier:
          type: string
        payerId:
          type: string
        payerName:
          type: string
        umClearingHouseId:
          type: string
        requester:
          type: object
          properties:
            requesterType:
              type: string
            organizationName:
              type: string
            lastName:
              type: string
            firstName:
              type: string
            requesterIdentification:
              type: object
              properties:
                providerUpinNumber:
                  type: string
                facilityIdNumber:
                  type: string
                employerIdentificationNumber:
                  type: string
                providerSiteNumber:
                  type: string
                providerPlanNetworkIdNumber:
                  type: string
                facilityNetworkIdNumber:
                  type: string
                socialSecurityNumber:
                  type: string
                federalTaxpayerIdentificationNumber:
                  type: string
                carrierAssignedReferenceNumber:
                  type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
            countrySubDivisionCode:
              type: string
            npi:
              type: string
            payorId:
              type: string
            ssn:
              type: string
            servicesPlanID:
              type: string
            employersId:
              type: string
            etin:
              type: string
            contactName:
              type: string
            contactElectronicMail:
              type: string
            contactFacsimile:
              type: string
            contactTelephone:
              type: string
            contactTelephoneExtension:
              type: string
            providerCode:
              type: string
            referenceIdentification:
              type: string
        subscriber:
          type: object
          properties:
            lastName:
              type: string
            firstName:
              type: string
            middleName:
              type: string
            suffix:
              type: string
            memberId:
              type: string
            dateOfBirth:
              type: string
            supplementalIdentification:
              type: object
              properties:
                policyNumber:
                  type: string
                branchIdentifier:
                  type: string
                groupNumber:
                  type: string
                departmentNumber:
                  type: string
                patientAccountNumber:
                  type: string
                healthInsuranceClaimNumber:
                  type: string
                idCard:
                  type: string
                insurancePolicyNumber:
                  type: string
                planNetworkIdentificationNumber:
                  type: string
                medicaidRecipientIdentificationNumber:
                  type: string
                ssn:
                  type: string
        dependent:
          type: object
          properties:
            lastName:
              type: string
            firstName:
              type: string
            middleName:
              type: string
            suffix:
              type: string
            dateOfBirth:
              type: string
            supplementalIdentification:
              type: object
              properties:
                employeeIdentificationNumber:
                  type: string
                patientAccountNumber:
                  type: string
                ssn:
                  type: string
        patientEventDetail:
          type: object
          properties:
            requestCategoryCode:
              type: string
            certificationTypeCode:
              type: string
            serviceTypeCode:
              type: string
            facilityTypeCode:
              type: string
            facilityCodeQualifier:
              type: string
            certificationActionCode:
              type: string
            previousReviewAuthorizationNumber:
              type: string
            previousAdministrativeReferenceNumber:
              type: string
            accidentDate:
              type: string
            eventDateBegin:
              type: string
            eventDateEnd:
              type: string
            admissionDateBegin:
              type: string
            admissionDateEnd:
              type: string
            dischargeDate:
              type: string
            certificationIssueDateBegin:
              type: string
            certificationIssueDateEnd:
              type: string
            certificationExpirationDateBegin:
              type: string
            certificationExpirationDateEnd:
              type: string
            certificationEffectiveDateBegin:
              type: string
            certificationEffectiveDateEnd:
              type: string
            healthCareServicesReviewRequestDate:
              type: string
            diagnosisTypeCode:
              type: string
            diagnosisCode:
              type: string
            patientEventProviderName:
              type: array
              items:
                type: object
                properties:
                  entityIdentifierCode:
                    type: string
                  organizationName:
                    type: string
                  lastName:
                    type: string
                  firstName:
                    type: string
                  middleName:
                    type: string
                  namePrefix:
                    type: string
                  nameSuffix:
                    type: string
                  identificationCodeQualifier:
                    type: string
                  identifier:
                    type: string
                  address1:
                    type: string
                  address2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  postalCode:
                    type: string
                  countryCode:
                    type: string
                  countrySubDivisionCode:
                    type: string
                  providerSupplementalInformation:
                    type: object
                    properties:
                      stateLicenseNumber:
                        type: string
                      licenseNumberStateCode:
                        type: string
                      providerUpinNumber:
                        type: string
                      facilityIdNumber:
                        type: string
                      employersIdentificationNumber:
                        type: string
                      providerPlanNetworkIdentificationNumber:
                        type: string
                      facilityNetworkIdentificationNumber:
                        type: string
                      ssn:
                        type: string
                      carrierAssignedReferenceNumber:
                        type: string
                  providerCode:
                    type: string
                  providerTaxonomyCode:
                    type: string
            serviceLevel:
              type: array
              items:
                type: object
                properties:
                  requestCategoryCode:
                    type: string
                  certificationTypeCode:
                    type: string
                  serviceTypeCode:
                    type: string
                  facilityTypeCode:
                    type: string
                  facilityCodeQualifier:
                    type: string
                  certificationActionCode:
                    type: string
                  previousReviewAuthorizationNumber:
                    type: string
                  previousAdministrativeReferenceNumber:
                    type: string
                  serviceDateBegin:
                    type: string
                  serviceDateEnd:
                    type: string
                  certificationIssueDateBegin:
                    type: string
                  certificationIssueDateEnd:
                    type: string
                  certificationExpirationDateBegin:
                    type: string
                  certificationExpirationDateEnd:
                    type: string
                  certificationEffectiveDateBegin:
                    type: string
                  certificationEffectiveDateEnd:
                    type: string
                  professionalService:
                    type: object
                    properties:
                      productOrServiceIDQualifier:
                        type: string
                      procedureCode:
                        type: string
                      procedureCode2:
                        type: string
                      unitOrBasisForMeasurementCode:
                        type: string
                      serviceUnitCount:
                        type: string
                  institutionalService:
                    type: object
                    properties:
                      serviceLineRevenueCode:
                        type: string
                      productOrServiceIDQualifier:
                        type: string
                      procedureCode:
                        type: string
                      procedureCode2:
                        type: string
                      unitOrBasisForMeasurementCode:
                        type: string
                      serviceUnitCount:
                        type: string
                  dentalService:
                    type: object
                    properties:
                      procedureCode:
                        type: string
                      procedureCode2:
                        type: string
                      americanDentalAssociationCodes:
                        type: string
                      prosthesisCrownOrInlayCode:
                        type: string
                      serviceUnitCount:
                        type: string
                  toothInformation:
                    type: object
                    properties:
                      toothCode:
                        type: string
                      toothSurfaceCode:
                        type: string
                  serviceProviderName:
                    type: array
                    items:
                      type: object
                      properties:
                        entityIdentifierCode:
                          type: string
                        organizationName:
                          type: string
                        lastName:
                          type: string
                        firstName:
                          type: string
                        middleName:
                          type: string
                        namePrefix:
                          type: string
                        nameSuffix:
                          type: string
                        identificationCodeQualifier:
                          type: string
                        identifier:
                          type: string
                        address1:
                          type: string
                        address2:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postalCode:
                          type: string
                        countryCode:
                          type: string
                        countrySubDivisionCode:
                          type: string
                        providerSupplementalInformation:
                          type: object
                          properties:
                            stateLicenseNumber:
                              type: string
                            licenseNumberStateCode:
                              type: string
                            providerUpinNumber:
                              type: string
                            facilityIdNumber:
                              type: string
                            employersIdentificationNumber:
                              type: string
                            providerSiteNumber:
                              type: string
                            providerPlanNetworkIdentificationNumber:
                              type: string
                            facilityNetworkIdentificationNumber:
                              type: string
                            ssn:
                              type: string
                            carrierAssignedReferenceNumber:
                              type: string
                        providerCode:
                          type: string
                        providerTaxonomyCode:
                          type: string
    ExecuteDeterminationRulesRequest:
      type: object
      properties:
        globalPayerId:
          type: string
          example: UHCDEMODV1
        filePath:
          type: string
          example: Authorization/Global
        payerId:
          type: string
          example: UHC
        planId:
          type: string
          example: '41'
        billingFacility:
          type: string
          example: MED1
        dateOfService:
          type: string
          example: '2006-01-02'
        dataSource:
          type: string
          example: EMR
        groupNumber:
          type: string
          example: '0000000000'
        patientType:
          type: string
          example: InPatient
        serviceCode:
          type: string
          example: '86'
        policyNumber:
          type: string
          example: '0000001'
        dateOfBirth:
          type: string
          example: '2001-01-30'
        procedureCodes:
          type: string
          example:
          - 0200T
          - Q5127
        diagnosisCodes:
          type: string
          example:
          - M80.88XA
    InquiryJSONRequestWithDetermination:
      allOf:
      - $ref: '#/components/schemas/InquiryJSONRequest'
      - type: object
        properties:
          rhPayerId:
            type: string
            description: Global payer identifier used for determination
            example: UHCDEMODV1
          planId:
            type: string
            description: Payer plan identifier used for determination
            example: '41'
    AuthorizationResponse:
      type: object
      properties:
        authorizationId:
          type: string
        determination:
          type: object
          properties:
            x12:
              type: string
            json:
              $ref: '#/components/schemas/AuthorizationJSONResponse'
        inquiry:
          type: array
          maxItems: 100
          items:
            type: object
            properties:
              x12:
                type: string
              json:
                $ref: '#/components/schemas/AuthorizationJSONResponse'
    DeterminationResponse:
      type: object
      properties:
        determination:
[...]
