openapi: 3.2.0
info:
  title: Payer List API V1 Exports API
  version: 1.0.0
  description: PayerList API empowers providers to programmatically access and integrate accurate, up-to-date payer list data into your systems to eliminate manual processes and enable smarter transaction workflows.
servers:
- url: https://sandbox-apigw.optum.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Exports
paths:
  /medicalnetwork/payerlist/v1/payers/export:
    get:
      tags:
      - Exports
      summary: Export payers
      operationId: exportPayers
      parameters:
      - name: system
        in: query
        required: true
        schema:
          type: string
      - name: serviceRestored
        in: query
        required: false
        schema:
          type: string
      - name: payerPlanName
        in: query
        required: false
        schema:
          type: string
      - name: exportFields
        in: query
        required: false
        schema:
          type: string
        description: Comma-separated list of fields to include in export.
      - name: chiPayer
        in: query
        required: false
        schema:
          type: boolean
      - name: stateDoingBusiness
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: CSV export response
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
