openapi: 3.2.0
info:
  title: Optum Apip API
  version: '1.0'
  description: 'Operations tagged Apip across 2 of this provider''s published API definitions: optum-security-and-authorization-v2-openapi.yml, optum-security-and-authorization-v3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sandbox-apigw.optum.com/
- url: https://sandbox-apigw.optum.com
  description: Authentication Token URL for Sandbox  environment
tags:
- name: Apip
paths:
  /apip/auth/v2/token:
    post:
      summary: Generate and return auth token for a given set of client credentials.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth_Request'
        description: A client credential OAuth 2.0 token request
        required: true
      responses:
        '200':
          description: Successful authorization response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Auth_Response_Success'
        '400':
          description: Request was not properly formed.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Auth_Response_Failure'
        '401':
          description: Unauthorized - the client_id and/or client_secret are invalid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Auth_Response_Failure'
      tags:
      - Apip
    servers:
    - url: https://sandbox-apigw.optum.com/
  /apip/auth/sntl/v1/token:
    post:
      summary: Generate and return auth token for a given set of client credentials.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Token response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                  refresh_expires_in:
                    type: integer
                  refresh_token:
                    type: string
                  token_type:
                    type: string
                  id_token:
                    type: string
                  not-before-policy:
                    type: integer
                  session_state:
                    type: string
                  scope:
                    type: string
      tags:
      - Apip
    servers:
    - url: https://sandbox-apigw.optum.com
      description: Authentication Token URL for Sandbox  environment
components:
  schemas:
    Auth_Request:
      type: object
      properties:
        client_id:
          type: string
          example: BzmQjGTl7mGrD3A1koQWKtA3J2WEa4q3
        client_secret:
          type: string
          example: z0NNadq12345678W
        grant_type:
          type: string
          description: \'client_credentials\' is currently the only supported grant_type in this API
          example: client_credentials
    Auth_Response_Failure:
      type: object
      properties:
        error:
          type: string
          description: Populated with the appropriate OAuth 2.0 error code. See https://tools.ietf.org/html/rfc6749#section-5.2
        error_description:
          type: string
          description: Freeform text further explaining the nature of why the call was unsuccessful
    Auth_Response_Success:
      type: object
      properties:
        access_token:
          type: string
          description: Bearer token that can be used to issue calls to other APIs demonstrating authorization
          example: eyJraWQiOiIxIiwidHl...w8YGHwr0w
        expires_in:
          type: integer
          description: Number of seconds until the token is no longer valid
          example: 3600
        token_type:
          type: string
          description: Field explicitly stating the type of access_token. (It's always a bearer token.)
          example: bearer
x-refined-from:
- optum-security-and-authorization-v2-openapi.yml
- optum-security-and-authorization-v3-openapi.yml
x-readme:
  explorer-enabled: true
  proxy-enabled: true
