openapi: 3.2.0
info:
  title: Payer List API V1 Fields API
  version: 1.0.0
  description: PayerList API empowers providers to programmatically access and integrate accurate, up-to-date payer list data into your systems to eliminate manual processes and enable smarter transaction workflows.
servers:
- url: https://sandbox-apigw.optum.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Fields
paths:
  /medicalnetwork/payerlist/v1/fields:
    get:
      tags:
      - Fields
      summary: Get available payer list fields
      operationId: getPayerListFields
      parameters:
      - name: skipBusinessNames
        in: query
        required: false
        schema:
          type: boolean
        description: Skip business names in fields response.
      - name: skipAliases
        in: query
        required: false
        schema:
          type: boolean
        description: Skip aliases in fields response.
      responses:
        '200':
          description: Successful fields response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: string
    FieldsResponse:
      type: object
      additionalProperties: true
      description: Fields response placeholder. Exact response schema was not provided in the source collection.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
