{
  "openapi": "3.0.1",
  "info": {
    "title": "File and Document Tracking API v1",
    "description": "The File and Document Tracking API, a healthcare API for customers using Communication and Payment Services solutions from Optus, provides payers with real-time processing status at the file and document levels.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox-apigw.optum.com/api/ptapi/v1"
    }
  ],
  "tags": [
    {
      "name": "Endpoints"
    }
  ],
  "paths": {
    "/getFileStatus/{contextID}/{fileName}": {
      "get": {
        "tags": [],
        "description": "To get file status by a filename",
        "parameters": [
          {
            "name": "contextID",
            "in": "path",
            "description": "The client context ID should be a unique identifier for a specific client.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "An unique filename",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importStartDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importEndDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fileStatusRespObj"
                }
              }
            }
          }
        }
      }
    },
    "/getListOfFileStatus/{contextID}": {
      "get": {
        "tags": [],
        "description": "get file status for a list of files by sending a file import date range or claim Number",
        "parameters": [
          {
            "name": "contextID",
            "in": "path",
            "description": "The client context ID should be a unique identifier for a specific client.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimNumber",
            "in": "query",
            "description": "An unique claim Number ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importStartDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importEndDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimType",
            "in": "query",
            "description": "Type of the Claim",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fileStatusRespObj"
                }
              }
            }
          }
        }
      }
    },
    "/getDocumentStatus/{contextID}/{fileName}/{claimNumber}/{claimType}/{recipientType}": {
      "get": {
        "tags": [],
        "description": "get document status by sending a filename, claim type, and claim number",
        "parameters": [
          {
            "name": "contextID",
            "in": "path",
            "description": "The client context ID should be a unique identifier for a specific client.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "An unique filename",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimNumber",
            "in": "path",
            "description": "An unique claim Number ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimType",
            "in": "path",
            "description": "Type of the Claim",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientType",
            "in": "path",
            "description": "Type Of the Recipient",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docType",
            "in": "query",
            "description": "Type of the Document",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importStartDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importEndDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentStatusRespObj"
                }
              }
            }
          }
        }
      }
    },
    "/getListofDocStatus/{contextID}/{recipientType}": {
      "get": {
        "tags": [],
        "parameters": [
          {
            "name": "contextID",
            "in": "path",
            "description": "The client context ID should be a unique identifier for a specific client.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipientType",
            "in": "path",
            "description": "Type Of the Recipient",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "An unique filename",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimNumber",
            "in": "query",
            "description": "An unique claim Number ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimType",
            "in": "query",
            "description": "Type of the Claim",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docType",
            "in": "query",
            "description": "Type of the Document",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importStartDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importEndDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentStatusRespObj"
                }
              }
            }
          }
        }
      }
    },
    "/getDocCounts/{contextID}": {
      "get": {
        "tags": [],
        "parameters": [
          {
            "name": "contextID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importStartDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "importEndDate",
            "in": "query",
            "description": "MM/DD/YYYY",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/documentCountRespObj"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "fileStatusObj": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "example": "123402820210316OR.TXT"
          },
          "importDate": {
            "type": "string",
            "example": "05/06/2021 06:05:42 AM"
          },
          "fileStatus": {
            "type": "string",
            "example": "Released"
          },
          "fileCompletedDate": {
            "type": "string",
            "example": "05/06/2021 06:05:42 AM"
          },
          "firstMailDate": {
            "type": "string",
            "example": "05/06/2021 06:05:42 AM"
          },
          "lastMailDate": {
            "type": "string",
            "example": "05/06/2021 06:05:42 AM"
          },
          "eNoteDeliveryDate": {
            "type": "string",
            "example": "05/06/2021 06:05:42 AM"
          },
          "clientKey": {
            "type": "string",
            "example": "1234028"
          }
        }
      },
      "fileStatusRespObj": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/fileStatusObj"
            }
          },
          "rowCount": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "documentStatusRespObj": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/docStatusObj"
            }
          },
          "rowCount": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "docStatusObj": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "example": "123402820210604004.TXT"
          },
          "importDate": {
            "type": "string",
            "example": "05/06/2021 06:05:42 AM"
          },
          "claimNumber": {
            "type": "string",
            "example": "7N928A"
          },
          "claimType": {
            "type": "string",
            "example": "P5"
          },
          "recipientType": {
            "type": "string",
            "example": "00"
          },
          "documentStatus": {
            "type": "string",
            "example": "Released"
          },
          "eNoteDeliveryDate": {
            "type": "string",
            "example": "05/06/2021 06:05:42 AM"
          },
          "docCompletedDate": {
            "type": "string",
            "example": "Released"
          },
          "clientKey": {
            "type": "string",
            "example": "1234028"
          },
          "docType": {
            "type": "string",
            "example": "01"
          }
        }
      },
      "documentCountObj": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "example": "123402820210316OR.TXT"
          },
          "errorCount": {
            "type": "integer",
            "example": 1
          },
          "heldCount": {
            "type": "integer",
            "example": 0
          },
          "confirmedCount": {
            "type": "integer",
            "example": 1
          },
          "InProductionCount": {
            "type": "integer",
            "example": 3
          },
          "completedCount": {
            "type": "integer",
            "example": 4
          },
          "webCount": {
            "type": "integer",
            "example": 1
          },
          "importCount": {
            "type": "integer",
            "example": 1
          },
          "importDate": {
            "type": "string",
            "example": "02/15/2022 06:41:38 am"
          },
          "enotesCount": {
            "type": "integer",
            "example": 1
          },
          "clientKey": {
            "type": "string",
            "example": "1234028"
          }
        }
      },
      "documentCountRespObj": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/documentCountObj"
            }
          },
          "rowCount": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "documentsStatusQryObj": {
        "required": [
          "claimNumber",
          "recipientType"
        ],
        "type": "object",
        "properties": {
          "claimNumber": {
            "type": "string"
          },
          "claimType": {
            "type": "string"
          },
          "recipientType": {
            "type": "string"
          },
          "docType": {
            "type": "string"
          },
          "importStartDate": {
            "type": "string"
          },
          "importEndDate": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true,
    "samples-enabled": true
  }
}