{
  "openapi": "3.0.0",
  "info": {
    "title": "Real Prior Authorization API",
    "description": "FHIR Prior Authorization APIs (CDS, DTR, PAS)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox-apigw.optum.com"
    }
  ],
  "paths": {
    "/oihub/fhirpriorauth/v1/health-check": {
      "get": {
        "summary": "Health Check",
        "description": "Performs a health check to validate the availability and operational status of the FHIR Prior Auth.",
        "operationId": "healthCheck",
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "tags": [
          "HealthCheck"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy - If the API engine is working correctly and if the entry points are accessible, the API operating status response shows \"OK\"."
          },
          "500": {
            "description": "Service is unhealthy\n- **Note:** If you receive a response other than 200 OK, the health check failed. Please submit a ticket with Optum.\n"
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/Questionnaire/$next-question": {
      "post": {
        "operationId": "getNextQuestion",
        "tags": [
          "NextQuestion"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bh"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "description": "Unique transaction identifier",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "description": "Environment name",
              "example": "sandbox"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NextQuestionRequest"
              },
              "example": {
                "resourceType": "QuestionnaireResponse",
                "id": "62b12331-3b16-4345-a1a6-6e60b236e6a5",
                "meta": {
                  "profile": [
                    "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaireresponse-adapt"
                  ]
                },
                "contained": [
                  {
                    "resourceType": "Questionnaire",
                    "id": "12345",
                    "meta": {
                      "profile": [
                        "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-adapt"
                      ]
                    },
                    "extension": [
                      {
                        "url": "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-questionnaireAdaptive",
                        "valueBoolean": true
                      }
                    ],
                    "name": "Questionnaire name",
                    "title": "Questionnaire title",
                    "status": "active",
                    "date": "2025-07-03T00:00:00-05:00",
                    "description": "Questionnaire description"
                  }
                ],
                "extension": [
                  {
                    "url": "http://hl7.org/fhir/us/davinci-dtr/StructureDefinition/qr-context",
                    "valueReference": {
                      "reference": "Coverage/CoverageExample"
                    }
                  }
                ],
                "questionnaire": "#12345",
                "status": "in-progress",
                "subject": {
                  "reference": "Patient/anonymous"
                },
                "authored": "2025-11-04T12:12:59.7131+00:00"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NextQuestionResponse"
                },
                "example": {
                  "resourceType": "QuestionnaireResponse",
                  "meta": {
                    "profile": [
                      "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaireresponse-adapt"
                    ]
                  },
                  "contained": [
                    {
                      "resourceType": "Questionnaire",
                      "id": "12345",
                      "meta": {
                        "profile": [
                          "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-adapt"
                        ]
                      },
                      "extension": [
                        {
                          "url": "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-questionnaireAdaptive",
                          "valueBoolean": true
                        }
                      ],
                      "name": "Questionnaire name",
                      "title": "Questionnaire title",
                      "status": "active",
                      "date": "2025-07-03T05:00:00+00:00",
                      "description": "Questionnaire description",
                      "item": [
                        {
                          "id": "1264854090",
                          "extension": [
                            {
                              "url": "http://hl7.org/fhir/StructureDefinition/questionnaire-supportLink",
                              "valueUri": "https://apimarketplace.uhcprovider.com/DTR_DOC_REF_API"
                            }
                          ],
                          "linkId": "1",
                          "text": "Choose one:",
                          "type": "choice",
                          "required": true,
                          "repeats": false,
                          "answerOption": [
                            {
                              "valueCoding": {
                                "code": "1",
                                "display": "Age ≥ 50"
                              }
                            },
                            {
                              "valueCoding": {
                                "code": "2",
                                "display": "Age < 50"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "extension": [
                    {
                      "url": "http://hl7.org/fhir/us/davinci-dtr/StructureDefinition/qr-context",
                      "valueReference": {
                        "reference": "Coverage/CoverageExample"
                      }
                    }
                  ],
                  "questionnaire": "#12345",
                  "status": "in-progress",
                  "subject": {
                    "reference": "Patient/anonymous"
                  },
                  "authored": "2025-11-04T12:12:59.7131+00:00"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/Claim/$submit-attachment": {
      "post": {
        "operationId": "submitAttachment",
        "tags": [
          "SubmitAttachment"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pa"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          },
          {
            "name": "reference-srn",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Reference SRN for prior authorization",
              "example": "123456789"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentRequest"
              },
              "example": {
                "parameter": [
                  {
                    "name": "TrackingId",
                    "valueIdentifier": {
                      "system": "http://example.org/cdex/acn",
                      "value": "123456"
                    }
                  },
                  {
                    "name": "AttachTo",
                    "valueCode": "preauthorization"
                  },
                  {
                    "name": "PayerId",
                    "valueIdentifier": {
                      "system": "http://example.org/cdex/payer-ids",
                      "value": "123456"
                    }
                  },
                  {
                    "name": "OrganizationId",
                    "valueIdentifier": {
                      "system": "http://hl7.org/fhir/sid/us-npi",
                      "value": "123456"
                    }
                  },
                  {
                    "name": "ProviderId",
                    "valueIdentifier": {
                      "system": "http://hl7.org/fhir/sid/us-npi",
                      "value": "123456"
                    }
                  },
                  {
                    "name": "MemberId",
                    "valueIdentifier": {
                      "system": "http://example.org/cdex/member-ids",
                      "value": "123456"
                    }
                  },
                  {
                    "name": "Attachment",
                    "part": [
                      {
                        "name": "Content",
                        "resource": {
                          "content": [
                            {
                              "attachment": {
                                "contentType": "application/pdf",
                                "creation": "2025-11-05T10:25:00-05:00",
                                "data": "PHN0c",
                                "url": "attachment_url",
                                "title": "History and Physical data"
                              }
                            }
                          ],
                          "date": "2025-11-05T10:30:00-05:00",
                          "id": "docref-hp-002",
                          "resourceType": "DocumentReference",
                          "status": "current"
                        }
                      }
                    ]
                  }
                ],
                "resourceType": "Parameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentResponse"
                },
                "example": {
                  "id": "23345435456574",
                  "issue": [
                    {
                      "code": "informational",
                      "details": {
                        "text": "AttachmentsacceptedandassociatedwiththereferencedpriorauthorizationforDocumentReferenceID:DocumentReference/docref-hp-002"
                      },
                      "diagnostics": "TrackingId=123456;ReferenceSRN=AL26082223;AttachTo=preauthorization;AttachmentTransactionId=98ef77d2-798f-45b7-9925-ba59856574dc",
                      "location": [
                        "Parameters.Attachment.part.Content/DocumentReference/docref-hp-002"
                      ],
                      "severity": "information"
                    }
                  ],
                  "meta": {
                    "lastUpdated": "2026-01-09T11:49:17.146+00:00",
                    "versionId": "1"
                  },
                  "resourceType": "OperationOutcome",
                  "text": {
                    "div": "<divxmlns=\"http://www.w3.org/1999/xhtml\"><p>AttachmentsassociatedwithTrackingId=123456andReferenceId=AL26082223isprocessed.Totalnumberofattachments=1.Pleasereferto'issue'sectionfordetails.</p></div>",
                    "status": "generated"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/document-reference": {
      "get": {
        "operationId": "getDocumentReference",
        "tags": [
          "DocumentReference"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ph"
            }
          },
          {
            "name": "queryContext",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "5a6rra55-e00a-45y8-5tya-123454037c7c"
            }
          },
          {
            "name": "_query",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "notes"
            }
          },
          {
            "name": "noteType",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "COMMENT_NOTE"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "5"
            }
          },
          {
            "name": "questionnaire",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "12345"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentReferenceResponse"
                },
                "example": {
                  "resourceType": "Bundle",
                  "id": "35c45r6y-123e-4fgh-b1c3-b949rt46r67y",
                  "meta": {
                    "lastUpdated": "2025-11-12T02:18:46.123-06:00"
                  },
                  "type": "searchset",
                  "total": 1,
                  "entry": [
                    {
                      "resource": {
                        "resourceType": "DocumentReference",
                        "id": "1",
                        "status": "current",
                        "category": [
                          {
                            "coding": [
                              {
                                "code": "QUESTION_NOTE",
                                "display": "QuestionNote"
                              }
                            ]
                          }
                        ],
                        "content": [
                          {
                            "attachment": {
                              "contentType": "text/html",
                              "data": "Base64encodedstring",
                              "title": "QuestionNote"
                            }
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/Claim/$inquire": {
      "post": {
        "operationId": "inquireClaim",
        "tags": [
          "Inquiry"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bh"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "description": "Unique transaction identifier",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "description": "Environment",
              "example": "sandbox"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InquireRequest"
              },
              "example": {
                "resourceType": "Bundle",
                "id": "pas-inquiry-request-bundle-example",
                "type": "collection",
                "entry": [
                  {
                    "resource": {
                      "resourceType": "Claim",
                      "id": "claim-inquiry-example",
                      "contained": [
                        {
                          "resourceType": "Organization",
                          "id": "requestor-organization-tin",
                          "identifier": [
                            {
                              "system": "http://hl7.org/fhir/sid/us-tin",
                              "value": "123456789"
                            }
                          ],
                          "name": "Requestor Organization"
                        },
                        {
                          "resourceType": "Practitioner",
                          "id": "facilityName",
                          "name": [
                            {
                              "family": "Medical Center"
                            }
                          ]
                        },
                        {
                          "resourceType": "PractitionerRole",
                          "id": "primary-role",
                          "practitioner": {
                            "reference": "#facilityName"
                          }
                        }
                      ],
                      "identifier": [
                        {
                          "system": "http://example.org/claim-ids",
                          "value": "A123456789"
                        }
                      ],
                      "meta": {
                        "profile": [
                          "http://hl7.org/fhir/us/davinci-pas/STU2/StructureDefinition/profile-claim-inquiry"
                        ]
                      },
                      "status": "active",
                      "type": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/claim-type",
                            "code": "professional",
                            "display": "Professional"
                          }
                        ]
                      },
                      "patient": {
                        "reference": "#example"
                      },
                      "use": "preauthorization",
                      "created": "2023-10-05T08:30:00Z",
                      "provider": {
                        "reference": "#requestor-organization-tin",
                        "display": "Requestor Organization"
                      },
                      "careTeam": [
                        {
                          "provider": {
                            "reference": "#primary-role"
                          },
                          "responsible": true
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InquireResponse"
                },
                "example": {
                  "resourceType": "Bundle",
                  "entry": [
                    {
                      "resource": {
                        "resourceType": "ClaimResponse",
                        "meta": {
                          "profile": [
                            "https://hl7.org/fhir/us/davinci-pas/StructureDefinition-profile-claiminquiryresponse.html"
                          ],
                          "tag": [
                            {
                              "system": "http://optum.com/fhir/wm/system/2021/07/resourceid",
                              "code": "8uj6vtuJ72g6wzEt46kqwjD+zY91vjtc3xBp0QTV0ZQd7vqimNYhpHtwnWeWUqLexvrvEVO+4rgK80Os00k+jrPw="
                            },
                            {
                              "system": "COLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGING_SYSTEM_NAME",
                              "code": "CollectionBasedFhirMethods(mostlikely@Search)shouldbepaged.PleaseelevatethisissuetoyourBAifyouareseeingthismessage.",
                              "display": "XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX."
                            }
                          ]
                        },
                        "contained": [
                          {
                            "resourceType": "Patient",
                            "id": "patientClaimReference",
                            "language": "English",
                            "identifier": [
                              {
                                "system": "https://www.uhc.com/member-resources/your-member-id-card",
                                "value": "#memberId"
                              }
                            ],
                            "name": [
                              {
                                "text": "memberfullname",
                                "family": "memberlastname",
                                "given": [
                                  "memberfirstname"
                                ]
                              }
                            ],
                            "telecom": [
                              {
                                "system": "phone",
                                "value": "#memberphone"
                              }
                            ],
                            "gender": "membergender",
                            "communication": [
                              {
                                "language": {
                                  "coding": [
                                    {
                                      "display": "English"
                                    }
                                  ]
                                }
                              }
                            ],
                            "generalPractitioner": [
                              {
                                "reference": "#practitionerReference"
                              }
                            ]
                          },
                          {
                            "resourceType": "Practitioner",
                            "id": "practitionerReference",
                            "name": [
                              {
                                "text": "#Practitioner"
                              }
                            ]
                          },
                          {
                            "resourceType": "Organization",
                            "id": "organizationInsurerReference",
                            "meta": {
                              "profile": [
                                "https://hl7.org/fhir/us/davinci-pas/STU2/StructureDefinition-profile-insurer"
                              ]
                            },
                            "active": true,
                            "type": [
                              {
                                "coding": [
                                  {
                                    "system": "https://hl7.org/fhir/R4/codesystem-organization-type.html#organization-type-pay",
                                    "code": "payer",
                                    "display": "Payer"
                                  }
                                ],
                                "text": "Ahealthcarepayer."
                              }
                            ],
                            "name": "UnitedHealthcare"
                          },
                          {
                            "resourceType": "Organization",
                            "id": "organizationRequestorReference",
                            "identifier": [
                              {
                                "system": "https://hl7.org/fhir/sid/us-tin",
                                "value": "123456789"
                              }
                            ],
                            "active": true,
                            "name": "MEDICALCENTER",
                            "telecom": [
                              {
                                "system": "phone",
                                "value": "123-456-7890"
                              }
                            ],
                            "address": [
                              {
                                "line": [
                                  "address1"
                                ],
                                "city": "address2",
                                "state": "AZ",
                                "postalCode": "postalcode"
                              }
                            ],
                            "contact": [
                              {
                                "telecom": [
                                  {
                                    "system": "phone",
                                    "value": "123-456-7890"
                                  }
                                ],
                                "address": {
                                  "text": "address"
                                }
                              }
                            ]
                          }
                        ],
                        "identifier": [
                          {
                            "system": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/profile-identifier",
                            "value": "A123456789"
                          }
                        ],
                        "status": "active",
                        "type": {
                          "coding": [
                            {
                              "system": "https://hl7.org/fhir/R4/valueset-claim-type.html",
                              "code": "professional"
                            }
                          ]
                        },
                        "use": "preauthorization",
                        "patient": {
                          "reference": "#patientClaimReference"
                        },
                        "created": "2025-09-26T09:39:48.115+00:00",
                        "insurer": {
                          "reference": "#organizationInsurerReference"
                        },
                        "requestor": {
                          "reference": "#organizationRequestorReference"
                        },
                        "outcome": "complete",
                        "disposition": "Open",
                        "preAuthPeriod": {
                          "start": "2025-04-11",
                          "end": "2025-07-10"
                        },
                        "item": [
                          {
                            "extension": [
                              {
                                "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-itemTraceNumber",
                                "valueIdentifier": {
                                  "value": "A123456789"
                                }
                              },
                              {
                                "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-itemPreAuthIssueDate",
                                "valueDate": "2025-04-11T06:48:28.407+00:00"
                              },
                              {
                                "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-itemPreAuthPeriod",
                                "valuePeriod": {
                                  "start": "2025-04-11",
                                  "end": "2025-07-10"
                                }
                              }
                            ],
                            "itemSequence": 1,
                            "adjudication": [
                              {
                                "extension": [
                                  {
                                    "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-reviewActionCode",
                                    "valueCodeableConcept": {
                                      "coding": [
                                        {
                                          "code": "complete"
                                        }
                                      ]
                                    }
                                  }
                                ],
                                "category": {
                                  "coding": [
                                    {
                                      "system": "http://terminology.hl7.org/CodeSystem/adjudication",
                                      "code": "submitted"
                                    }
                                  ]
                                },
                                "reason": {
                                  "coding": [
                                    {
                                      "code": "Covered/Approved"
                                    }
                                  ]
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "search": {
                        "mode": "match"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/Questionnaire/$questionnaire-package": {
      "post": {
        "operationId": "getQuestionnairePackage",
        "tags": [
          "QuestionnairePackage"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bh"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "uuid-123",
              "description": "Unique transaction identifier"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "sandbox",
              "description": "Environment name"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionnairePackageRequest"
              },
              "example": {
                "resourceType": "Parameters",
                "parameter": [
                  {
                    "name": "coverage",
                    "resource": {
                      "resourceType": "Coverage",
                      "id": "CoverageExample",
                      "status": "active"
                    }
                  },
                  {
                    "name": "context",
                    "valueString": "251110121553-uuid"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionnairePackageResponse"
                },
                "example": {
                  "resourceType": "Parameters",
                  "parameter": [
                    {
                      "name": "PackageBundle",
                      "resource": {
                        "resourceType": "Bundle",
                        "type": "collection",
                        "entry": [
                          {
                            "resource": {
                              "resourceType": "Questionnaire",
                              "id": "12345",
                              "meta": {
                                "profile": [
                                  "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-adapt"
                                ]
                              },
                              "extension": [
                                {
                                  "url": "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-questionnaireAdaptive",
                                  "valueBoolean": true
                                }
                              ],
                              "name": "Questionnaire name",
                              "title": "Questionnaire title",
                              "status": "active",
                              "date": "2025-07-03T00:00:00-05:00",
                              "description": "Questionnaire description"
                            }
                          },
                          {
                            "fullUrl": "urn:uuid:dgh18567-f45b-4f7y-1234-f1475567a161",
                            "resource": {
                              "resourceType": "QuestionnaireResponse",
                              "id": "dgh18567-f45b-4f7y-1234-f1475567a161",
                              "meta": {
                                "profile": [
                                  "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaireresponse-adapt"
                                ]
                              },
                              "contained": [
                                {
                                  "resourceType": "Questionnaire",
                                  "id": "12345",
                                  "meta": {
                                    "profile": [
                                      "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-adapt"
                                    ]
                                  },
                                  "extension": [
                                    {
                                      "url": "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-questionnaireAdaptive",
                                      "valueBoolean": true
                                    }
                                  ],
                                  "name": "Questionnaire name",
                                  "title": "Questionnaire title",
                                  "status": "active",
                                  "date": "2025-07-03T00:00:00-05:00",
                                  "description": "Questionnaire description"
                                }
                              ],
                              "extension": [
                                {
                                  "url": "http://hl7.org/fhir/us/davinci-dtr/StructureDefinition/qr-context",
                                  "valueReference": {
                                    "reference": "Coverage/CoverageExample"
                                  }
                                }
                              ],
                              "questionnaire": "#12345",
                              "status": "in-progress",
                              "subject": {
                                "reference": "Patient/anonymous"
                              },
                              "authored": "2025-11-11T19:49:42.5034+00:00"
                            }
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/cdsHooksServer/{payerId}/{lob}/api/cds-services/crd-order-sign": {
      "post": {
        "operationId": "orderSign",
        "tags": [
          "OrderSign"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bh"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderSignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSignResponseWrapper"
                },
                "example": {
                  "cards": [
                    {
                      "summary": "Required",
                      "indicator": "info",
                      "source": {
                        "label": "UnitedHealthcarePriorAuthorizationRequirements",
                        "url": "https://apimarketplace.uhcprovider.com/#/all-apis/prior-auth-api"
                      },
                      "uuid": "uuid",
                      "detail": "A9521DMESUP/ACCESS/SRV-COMPON/OTHHCPCS",
                      "links": [
                        {
                          "label": "CompleteDocumentation(DTR)",
                          "url": "",
                          "type": "absolute",
                          "appContext": "f48ed17f-dc96-457d-8dc3-906a12f0a294"
                        }
                      ]
                    }
                  ],
                  "systemActions": []
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/Claim/$submit": {
      "post": {
        "operationId": "submitClaim",
        "tags": [
          "Submit"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bh"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "description": "Unique transaction identifier",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "description": "Environment name",
              "example": "sandbox"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitRequest"
              },
              "example": {
                "resourceType": "Bundle",
                "id": "example-bundle-id",
                "type": "collection",
                "entry": [
                  {
                    "resource": {
                      "resourceType": "Claim",
                      "id": "example-claim-id",
                      "contained": [
                        {
                          "resourceType": "DeviceRequest",
                          "id": "device-request-1",
                          "status": "active",
                          "intent": "order",
                          "codeCodeableConcept": {
                            "coding": [
                              {
                                "system": "http://www.cms.gov/Medicare/Coding/HCPCSReleaseCodeSets",
                                "code": "E1223"
                              }
                            ],
                            "text": "Wheelchair"
                          },
                          "reasonCode": [
                            {
                              "coding": [
                                {
                                  "system": "http://www.cms.gov/Medicare/Coding/HCPCSReleaseCodeSets",
                                  "code": "E1223"
                                }
                              ],
                              "text": "Wheelchair"
                            }
                          ],
                          "note": [
                            {
                              "text": "No adverse events reported."
                            }
                          ],
                          "authoredOn": "2005-06-02"
                        },
                        {
                          "resourceType": "Encounter",
                          "id": "encounter-1",
                          "status": "arrived",
                          "location": [
                            {
                              "location": {
                                "reference": "#org-1"
                              },
                              "period": {
                                "start": "2015-01-15",
                                "end": "2016-01-15"
                              }
                            }
                          ],
                          "hospitalization": {
                            "destination": {
                              "reference": "#org-1"
                            }
                          }
                        },
                        {
                          "resourceType": "ServiceRequest",
                          "id": "service-request-1",
                          "status": "active",
                          "intent": "original-order",
                          "occurrenceTiming": {
                            "repeat": {
                              "periodUnit": "min",
                              "durationUnit": "min",
                              "frequency": 2,
                              "count": 2
                            }
                          }
                        },
                        {
                          "resourceType": "Procedure",
                          "id": "procedure-1",
                          "status": "completed",
                          "basedOn": [
                            {
                              "reference": "#service-request-1"
                            }
                          ],
                          "code": {
                            "coding": [
                              {
                                "system": "http://www.ama-assn.org/go/cpt",
                                "code": "22206"
                              }
                            ]
                          },
                          "subject": {
                            "reference": "#patient-1"
                          },
                          "performedPeriod": {
                            "start": "2015-01-15",
                            "end": "2016-01-15"
                          },
                          "recorder": {
                            "reference": "#practitioner-1"
                          },
                          "asserter": {
                            "reference": "#practitioner-1"
                          },
                          "performer": [
                            {
                              "actor": {
                                "reference": "#practitioner-1"
                              }
                            }
                          ],
                          "reasonCode": [
                            {
                              "text": "Generalized abdominal pain."
                            }
                          ],
                          "followUp": [
                            {
                              "text": "Follow up in 5 days."
                            }
                          ],
                          "note": [
                            {
                              "text": "Routine procedure."
                            }
                          ]
                        },
                        {
                          "resourceType": "Location",
                          "id": "location-1",
                          "name": "Generic Location",
                          "managingOrganization": {
                            "reference": "#org-1"
                          }
                        },
                        {
                          "resourceType": "Organization",
                          "id": "org-1",
                          "name": "Organization",
                          "identifier": [
                            {
                              "system": "http://example.org/sampleepisodeofcare-identifier",
                              "type": {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
                                    "code": "TAX"
                                  }
                                ]
                              },
                              "value": "123"
                            }
                          ]
                        },
                        {
                          "resourceType": "Coverage",
                          "id": "coverage-1",
                          "status": "active",
                          "subscriberId": "000000000",
                          "beneficiary": {
                            "reference": "#patient-1"
                          },
                          "class": [
                            {
                              "type": {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/coverage-class",
                                    "code": "group"
                                  }
                                ]
                              },
                              "value": "GROUP1"
                            }
                          ],
                          "relationship": {
                            "coding": [
                              {
                                "system": "http://terminology.hl7.org/CodeSystem/subscriber-relationship",
                                "code": "self"
                              }
                            ]
                          },
                          "payor": [
                            {
                              "reference": "#org-2"
                            }
                          ]
                        },
                        {
                          "resourceType": "Patient",
                          "id": "patient-1",
                          "gender": "male"
                        },
                        {
                          "resourceType": "Organization",
                          "id": "org-2",
                          "name": "Organization"
                        },
                        {
                          "resourceType": "Organization",
                          "id": "org-3",
                          "name": "Insurer Organization"
                        },
                        {
                          "resourceType": "Practitioner",
                          "id": "practitioner-1"
                        },
                        {
                          "resourceType": "PractitionerRole",
                          "id": "role-1",
                          "practitioner": {
                            "reference": "#practitioner-1"
                          },
                          "organization": {
                            "reference": "#org-2"
                          }
                        }
                      ],
                      "identifier": [
                        {
                          "system": "http://example.org/claim-ids",
                          "value": "CLAIM000000"
                        }
                      ],
                      "meta": {
                        "profile": [
                          "http://hl7.org/fhir/us/davinci-pas/STU2/StructureDefinition/profile-claim-submit"
                        ]
                      },
                      "status": "active",
                      "type": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/claim-type",
                            "code": "professional",
                            "display": "Professional"
                          }
                        ]
                      },
                      "use": "preauthorization",
                      "patient": {
                        "reference": "#patient-1"
                      },
                      "created": "2023-10-05T08:30:00Z",
                      "insurer": {
                        "reference": "#org-3"
                      },
                      "provider": {
                        "reference": "#org-2"
                      },
                      "priority": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/processpriority",
                            "code": "stat",
                            "display": "Immediate"
                          }
                        ]
                      },
                      "diagnosis": [
                        {
                          "sequence": 1,
                          "diagnosisCodeableConcept": {
                            "coding": [
                              {
                                "system": "http://hl7.org/fhir/sid/icd-10-cm",
                                "code": "S42.192A"
                              }
                            ]
                          }
                        }
                      ],
                      "procedure": [
                        {
                          "sequence": 1,
                          "procedureReference": {
                            "reference": "#procedure-1"
                          }
                        }
                      ],
                      "insurance": [
                        {
                          "sequence": 1,
                          "focal": true,
                          "coverage": {
                            "reference": "#coverage-1"
                          }
                        }
                      ],
                      "careTeam": [
                        {
                          "extension": [
                            {
                              "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-careTeamClaimScope",
                              "valueBoolean": true
                            }
                          ],
                          "sequence": 1,
                          "provider": {
                            "reference": "#role-1"
                          },
                          "role": {
                            "coding": [
                              {
                                "system": "http://terminology.hl7.org/CodeSystem/claimcareteamrole",
                                "code": "primary"
                              }
                            ]
                          }
                        }
                      ],
                      "item": [
                        {
                          "extension": [
                            {
                              "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-requestedService",
                              "valueReference": {
                                "reference": "#device-request-1"
                              }
                            },
                            {
                              "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-serviceItemRequestType",
                              "valueCodeableConcept": {
                                "coding": [
                                  {
                                    "system": "https://codesystem.x12.org/005010/1525",
                                    "code": "HS",
                                    "display": "Health Services Review"
                                  }
                                ]
                              }
                            },
                            {
                              "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-certificationType",
                              "valueCodeableConcept": {
                                "coding": [
                                  {
                                    "system": "https://codesystem.x12.org/005010/1322",
                                    "code": "I",
                                    "display": "Initial"
                                  }
                                ]
                              }
                            }
                          ],
                          "sequence": 1,
                          "careTeamSequence": [
                            1
                          ],
                          "procedureSequence": [
                            1
                          ],
                          "category": {
                            "coding": [
                              {
                                "system": "https://codesystem.x12.org/005010/1365",
                                "code": "42",
                                "display": "Home Health Care"
                              }
                            ]
                          },
                          "productOrService": {
                            "coding": [
                              {
                                "system": "http://www.cms.gov/Medicare/Coding/HCPCSReleaseCodeSets",
                                "code": "G0154"
                              }
                            ]
                          },
                          "locationCodeableConcept": {
                            "coding": [
                              {
                                "system": "https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set",
                                "code": "20"
                              }
                            ]
                          }
                        },
                        {
                          "extension": [
                            {
                              "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-serviceItemRequestType",
                              "valueCodeableConcept": {
                                "coding": [
                                  {
                                    "system": "https://codesystem.x12.org/005010/1525",
                                    "code": "HS",
                                    "display": "Health Services Review"
                                  }
                                ]
                              }
                            },
                            {
                              "url": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/extension-certificationType",
                              "valueCodeableConcept": {
                                "coding": [
                                  {
                                    "system": "https://codesystem.x12.org/005010/1322",
                                    "code": "I",
                                    "display": "Initial"
                                  }
                                ]
                              }
                            }
                          ],
                          "sequence": 2,
                          "category": {
                            "coding": [
                              {
                                "system": "https://codesystem.x12.org/005010/1365",
                                "code": "42",
                                "display": "Home Health Care"
                              }
                            ]
                          },
                          "productOrService": {
                            "coding": [
                              {
                                "system": "http://www.cms.gov/Medicare/Coding/HCPCSReleaseCodeSets",
                                "code": "B4184"
                              }
                            ]
                          },
                          "locationCodeableConcept": {
                            "coding": [
                              {
                                "system": "https://www.cms.gov/Medicare/Coding/place-of-service-codes/Place_of_Service_Code_Set",
                                "code": "20"
                              }
                            ]
                          },
                          "encounter": [
                            {
                              "reference": "#encounter-1"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                },
                "example": {
                  "resourceType": "Bundle",
                  "entry": [
                    {
                      "resource": {
                        "resourceType": "ClaimResponse",
                        "meta": {
                          "profile": [
                            "http://hl7.org/fhir/us/davinci-pas/StructureDefinition-profile-claimresponse-base.html"
                          ],
                          "tag": [
                            {
                              "system": "system",
                              "code": "code"
                            },
                            {
                              "system": "COLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGING_SYSTEM_NAME",
                              "code": "CollectionBasedFhirMethods(mostlikely@Search)shouldbepaged.PleaseelevatethisissuetoyourBAifyouareseeingthismessage.",
                              "display": "XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX.XXXCOLLECTION_BASED_FHIR_METHODS_SHOULD_IMPLEMENT_PAGINGXXX."
                            }
                          ]
                        },
                        "contained": [
                          {
                            "resourceType": "Patient",
                            "id": "patientClaimReference",
                            "identifier": [
                              {
                                "system": "https://www.uhc.com/member-resources/your-member-id-card",
                                "value": "XXXXX4606"
                              }
                            ],
                            "name": [
                              {
                                "text": "givenfamilyName",
                                "family": "familyName",
                                "given": [
                                  "given"
                                ]
                              }
                            ],
                            "telecom": [
                              {
                                "system": "phone",
                                "value": "121-121-1212"
                              }
                            ],
                            "gender": "male",
                            "generalPractitioner": [
                              {
                                "reference": "#practitionerReference"
                              }
                            ]
                          },
                          {
                            "resourceType": "Practitioner",
                            "id": "practitionerReference"
                          },
                          {
                            "resourceType": "Organization",
                            "id": "organizationInsurerReference",
                            "meta": {
                              "profile": [
                                "https://hl7.org/fhir/us/davinci-pas/STU2/StructureDefinition-profile-insurer"
                              ]
                            },
                            "active": true,
                            "type": [
                              {
                                "coding": [
                                  {
                                    "system": "https://hl7.org/fhir/R4/codesystem-organization-type.html#organization-type-pay",
                                    "code": "payer",
                                    "display": "Payer"
                                  }
                                ],
                                "text": "Ahealthcarepayer."
                              }
                            ],
                            "name": "dummy"
                          },
                          {
                            "resourceType": "Organization",
                            "id": "organizationRequestorReference",
                            "identifier": [
                              {
                                "system": "http://hl7.org/fhir/sid/us-tin",
                                "value": "123456789"
                              }
                            ],
                            "active": true,
                            "name": "MERCYCENTER",
                            "telecom": [
                              {
                                "system": "phone",
                                "value": "123-456-7890"
                              }
                            ],
                            "address": [
                              {
                                "line": [
                                  "lineDR"
                                ],
                                "city": "city",
                                "state": "AZ",
                                "postalCode": "12345"
                              }
                            ],
                            "contact": [
                              {
                                "name": {
                                  "text": "MERCYCENTER"
                                },
                                "telecom": [
                                  {
                                    "system": "phone",
                                    "value": "123-345-4567"
                                  }
                                ]
                              }
                            ]
                          }
                        ],
                        "identifier": [
                          {
                            "system": "http://hl7.org/fhir/us/davinci-pas/StructureDefinition/profile-identifier",
                            "value": "A00123456"
                          }
                        ],
                        "status": "draft",
                        "type": {
                          "coding": [
                            {
                              "system": "https://hl7.org/fhir/R4/valueset-claim-type.html",
                              "code": "professional"
                            }
                          ]
                        },
                        "use": "preauthorization",
                        "patient": {
                          "reference": "#patientClaimReference"
                        },
                        "created": "2025-11-21T16:47:20",
                        "insurer": {
                          "reference": "#organizationInsurerReference"
                        },
                        "requestor": {
                          "reference": "#organizationRequestorReference"
                        },
                        "outcome": "queued",
                        "disposition": "Open",
                        "preAuthPeriod": {
                          "start": "2015-01-15",
                          "end": "2016-01-15"
                        },
                        "item": [
                          {
                            "itemSequence": 1,
                            "adjudication": [
                              {
                                "category": {
                                  "coding": [
                                    {
                                      "system": "http://terminology.hl7.org/CodeSystem/adjudication",
                                      "code": "submitted"
                                    }
                                  ]
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "search": {
                        "mode": "match"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/cdsHooksServer/{payerId}/{lob}/api/cds-services": {
      "get": {
        "operationId": "getDiscovery",
        "tags": [
          "Discovery"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ph"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryResponse"
                },
                "example": {
                  "services": [
                    {
                      "id": "coverageRequirements-serviceRequest",
                      "hook": "order-sign",
                      "title": "United Health Care Order Sign Decision Support",
                      "description": "Coverage Requirement Guidance related to orders being signed",
                      "prefetch": {
                        "claimResponse": "ClaimResponse?patient={{%context.patientId}}",
                        "condition": "Condition?patient={{%context.patientId}}",
                        "coverage": "Coverage?patient={{%context.patientId}}&status=active",
                        "device": "Device?patient={{%context.patientId}}",
                        "encounter": "Encounter/{{%context.encounterId}}",
                        "location": "Location?_id={{%context.locationId}}",
                        "patient": "Patient/{{%context.patientId}}",
                        "practitioner": "Practitioner/{{%context.userId}}",
                        "practitionerRole": "PractitionerRole?practitioner={{%context.userId}}"
                      },
                      "usageRequirements": "requirement-1, requirement-2"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/operation-definition/{operation}": {
      "get": {
        "operationId": "getOperationDefinition",
        "tags": [
          "OperationDefinition"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ph"
            }
          },
          {
            "name": "operation",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "next-question"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationDefinitionResponse"
                },
                "example": {
                  "resourceType": "OperationDefinition",
                  "text": {
                    "status": "generated",
                    "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">Operation</div>"
                  },
                  "url": "https://apimarketplace-stg.uhc.com/PriorAuth/v1/OperationDefinition/next-question",
                  "name": "Next-question",
                  "status": "active",
                  "kind": "operation",
                  "affectsState": true,
                  "code": "next-question",
                  "resource": [
                    "Questionnaire"
                  ],
                  "system": false,
                  "type": true,
                  "instance": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/pas/metadata": {
      "get": {
        "operationId": "getPasCapabilityStatement",
        "tags": [
          "PasCapabilityStatement"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ph"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasCapabilityStatementResponse"
                },
                "example": {
                  "resourceType": "CapabilityStatement",
                  "id": "69d03dab-fd65-4412-83ce-395ffe9856f3",
                  "text": {
                    "status": "generated",
                    "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">uhcpp-paan-pas-server</div>"
                  },
                  "name": "UHC PAAN FHIR Layer Exchange",
                  "status": "active",
                  "date": "2026-04-23T16:34:36.237+00:00",
                  "publisher": "UHC PAAN",
                  "description": "The CapabilityStatement resource documents the functionality implemented from the HL7® FHIR® standard",
                  "kind": "instance",
                  "software": {
                    "name": "uhcpp-paan-pas-server",
                    "version": "8.8.0"
                  },
                  "implementation": {
                    "description": "uhcpp-paan-pas-server implementation",
                    "url": "https://apimarketplace-stg.uhc.com/PriorAuth/v1"
                  },
                  "fhirVersion": "4.0.1",
                  "format": [
                    "application/fhir+xml",
                    "xml",
                    "application/fhir+json",
                    "json",
                    "application/x-turtle",
                    "ttl"
                  ],
                  "rest": [
                    {
                      "mode": "server",
                      "resource": [
                        {
                          "type": "Claim",
                          "profile": "http://hl7.org/fhir/StructureDefinition/Claim",
                          "searchInclude": [
                            "*"
                          ],
                          "operation": [
                            {
                              "name": "submit",
                              "definition": "https://apimarketplace-stg.uhc.com/PriorAuth/v1/OperationDefinition/claim-submit"
                            },
                            {
                              "name": "inquire",
                              "definition": "https://apimarketplace-stg.uhc.com/PriorAuth/v1/OperationDefinition/claim-inquire"
                            }
                          ]
                        },
                        {
                          "type": "OperationDefinition",
                          "profile": "http://hl7.org/fhir/StructureDefinition/OperationDefinition",
                          "interaction": [
                            {
                              "code": "read"
                            }
                          ],
                          "searchInclude": [
                            "*"
                          ]
                        }
                      ],
                      "operation": [
                        {
                          "name": "submit-attachment",
                          "definition": "https://apimarketplace-stg.uhc.com/PriorAuth/v1/OperationDefinition/submit-attachment"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Internal server error",
                  "statusCode": 500
                }
              }
            }
          }
        }
      }
    },
    "/oihub/fhirpriorauth/v1/fhirpa/R4/{payerId}/{lob}/dtr/metadata": {
      "get": {
        "operationId": "getDtrCapabilityStatement",
        "tags": [
          "DtrCapabilityStatement"
        ],
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "parameters": [
          {
            "name": "payerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "87726"
            }
          },
          {
            "name": "lob",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ph"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "uuid-123"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DtrCapabilityStatementResponse"
                },
                "example": {
                  "resourceType": "CapabilityStatement",
                  "id": "13bed635-6cd2-47e6-9709-fdfefde25954",
                  "text": {
                    "status": "generated",
                    "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">uhcpp-paan-dtr-server</div>"
                  },
                  "name": "UHC PAAN FHIR Layer Exchange",
                  "status": "active",
                  "date": "2026-04-23T16:34:56.081+00:00",
                  "publisher": "UHC PAAN",
                  "description": "The CapabilityStatement resource documents the functionality implemented from the HL7® FHIR® standard",
                  "kind": "instance",
                  "software": {
                    "name": "uhcpp-paan-dtr-server",
                    "version": "8.8.0"
                  },
                  "implementation": {
                    "description": "uhcpp-paan-dtr-server implementation",
                    "url": "https://apimarketplace-stg.uhc.com/PriorAuth/v1"
                  },
                  "fhirVersion": "4.0.1",
                  "format": [
                    "application/fhir+xml",
                    "xml",
                    "application/fhir+json",
                    "json",
                    "application/x-turtle",
                    "ttl"
                  ],
                  "rest": [
                    {
                      "mode": "server",
                      "resource": [
                        {
                          "type": "OperationDefinition",
                          "profile": "http://hl7.org/fhir/StructureDefinition/OperationDefinition",
                          "interaction": [
                            {
                              "code": "read"
                            }
                          ],
                          "searchInclude": [
                            "*"
                          ]
                        },
                        {
                          "type": "Questionnaire",
                          "profile": "http://hl7.org/fhir/StructureDefinition/Questionnaire",
                          "searchInclude": [
                            "*"
                          ],
                          "operation": [
                            {
                              "name": "questionnaire-package",
                              "definition": "https://apimarketplace-stg.uhc.com/PriorAuth/v1/OperationDefinition/questionnaire-package"
                            },
                            {
                              "name": "next-question",
                              "definition": "https://apimarketplace-stg.uhc.com/PriorAuth/v1/OperationDefinition/next-question"
                            },
                            {
                              "name": "document-reference",
                              "definition": "https://apimarketplace-stg.uhc.com/PriorAuth/v1/OperationDefinition/document-reference"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "statusCode": 400
                }
              }
            }
          },
          "401": {
            "description": "UnAuthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "UnAuthorized",
                  "statusCode": 401
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Acceptable",
                  "statusCode": 406
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
[...]
