{
  "openapi": "3.0.3",
  "info": {
    "title": "Real Dental Claim Status API",
    "version": "1.0.0",
    "description": "OpenAPI specification for the Real Dental Claim Status GraphQL API."
  },
  "servers": [
    {
      "url": "https://sandbox-apigw.optum.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/oihub/dental/claim/inquiry/v1": {
      "post": {
        "tags": [
          "Claim Status"
        ],
        "summary": "Claim Status",
        "description": "Search claim status information and retrieve 277CA acknowledgements.",
        "operationId": "claimStatus",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "providerTaxId",
            "in": "header",
            "required": true,
            "description": "Provider Tax ID",
            "schema": {
              "type": "string",
              "example": "123456789"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "required": false,
            "description": "Unique UUID used to track the transaction.",
            "schema": {
              "type": "string",
              "example": "4d4a8964-e5fa-42dc-a37d-12345789"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "required": false,
            "description": "Environment identifier.",
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          },
          {
            "name": "nextPageToken",
            "in": "header",
            "required": false,
            "description": "Paging identifier to access the next set of records, when applicable.",
            "schema": {
              "type": "string",
              "example": "eyJwYWdlIjoyfQ=="
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphQLClaimStatusRequest"
              },
              "examples": {
                "SearchClaim": {
                  "summary": "Search Claim Status",
                  "value": {
                    "operationName": "SearchClaim",
                    "query": "query SearchClaim($searchClaimInput: SearchClaimInput!) { searchClaim(searchClaimInput: $searchClaimInput) { claims { claimNumber claimStatus } pagination { hasMoreRecords nextPageToken } } }",
                    "variables": {
                      "searchClaimInput": {
                        "payerId": "87726",
                        "claimNumber": "AAAAAAAAAAA1",
                        "billingProviderTin": "0123456789",
                        "submitterId": "SUBMITTER001",
                        "memberId": "0000000000",
                        "memberFirstName": "johnone",
                        "memberLastName": "doeone",
                        "memberDateOfBirth": "18800102",
                        "serviceStartDate": "20100101",
                        "serviceEndDate": "20100102"
                      }
                    }
                  }
                },
                "Search277CA": {
                  "summary": "Search 277CA",
                  "value": {
                    "operationName": "Search277CA",
                    "query": "query Search277CA($search277CAInput: Search277CAInput!) { search277CA(search277CAInput: $search277CAInput) { responseType x12ResponseData statuscode message } }",
                    "variables": {
                      "search277CAInput": {
                        "transactionId": "123456789",
                        "payerId": "87726"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphQLClaimStatusResponse"
                },
                "examples": {
                  "SearchClaimResponse": {
                    "summary": "Search Claim Response",
                    "value": {
                      "data": {
                        "searchClaim": {
                          "claims": [
                            {
                              "claimNumber": "AAAAAAAAAAA1",
                              "claimStatus": "PROCESSED"
                            }
                          ],
                          "pagination": {
                            "hasMoreRecords": true,
                            "nextPageToken": "eyJwYWdlIjoyfQ=="
                          }
                        }
                      }
                    }
                  },
                  "Search277CAResponse": {
                    "summary": "Search277CA Response",
                    "value": {
                      "data": {
                        "search277CA": {
                          "responseType": "ACK",
                          "x12ResponseData": "ISA*00*          *00*          *ZZ*ABCDEFGHIJKLMNO...",
                          "statuscode": "200",
                          "message": "Transaction processed successfully"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/oihub/dental/claim/inquiry/v1/healthcheck": {
      "get": {
        "tags": [
          "Health Check"
        ],
        "summary": "Health Check",
        "description": "Returns API health status.",
        "operationId": "healthCheck",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "API is available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                },
                "example": {
                  "status": "UP"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter the bearer token."
      }
    },
    "schemas": {
      "GraphQLClaimStatusRequest": {
        "type": "object",
        "required": [
          "query",
          "variables"
        ],
        "properties": {
          "operationName": {
            "type": "string",
            "description": "GraphQL operation name."
          },
          "query": {
            "type": "string",
            "description": "GraphQL query."
          },
          "variables": {
            "type": "object",
            "description": "GraphQL variables.",
            "properties": {
              "searchClaimInput": {
                "$ref": "#/components/schemas/SearchClaimInput"
              },
              "search277CAInput": {
                "$ref": "#/components/schemas/Search277CAInput"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "SearchClaimInput": {
        "type": "object",
        "required": [
          "payerId"
        ],
        "additionalProperties": false,
        "properties": {
          "payerId": {
            "type": "string",
            "example": "87726"
          },
          "claimNumber": {
            "type": "string",
            "example": "AAAAAAAAAAA1"
          },
          "billingProviderTin": {
            "type": "string",
            "example": "0123456789"
          },
          "submitterId": {
            "type": "string",
            "example": "SUBMITTER001"
          },
          "memberId": {
            "type": "string",
            "example": "0000000000"
          },
          "memberFirstName": {
            "type": "string",
            "example": "johnone"
          },
          "memberLastName": {
            "type": "string",
            "example": "doeone"
          },
          "memberDateOfBirth": {
            "type": "string",
            "example": "18800102"
          },
          "serviceStartDate": {
            "type": "string",
            "example": "20100101"
          },
          "serviceEndDate": {
            "type": "string",
            "example": "20100102"
          }
        }
      },
      "Search277CAInput": {
        "type": "object",
        "required": [
          "transactionId",
          "payerId"
        ],
        "additionalProperties": false,
        "properties": {
          "transactionId": {
            "type": "string",
            "example": "123456789"
          },
          "payerId": {
            "type": "string",
            "example": "87726"
          }
        }
      },
      "GraphQLClaimStatusResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "searchClaim": {
                "type": "object",
                "properties": {
                  "claims": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "hasMoreRecords": {
                        "type": "boolean"
                      },
                      "nextPageToken": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "search277CA": {
                "type": "object",
                "properties": {
                  "responseType": {
                    "type": "string"
                  },
                  "x12ResponseData": {
                    "type": "string"
                  },
                  "statuscode": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "additionalProperties": true
      },
      "HealthCheckResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "UP"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}