{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "description": "The GraphQL Claims Inquiry API allows users to retrieve claim information and status using GraphQL queries. It supports various operations such as getting claim summary, claim detail, claim Acknowledgement and downloading a document as well.",
    "title": "Claim Inquiry API"
  },
  "servers": [
    {
      "url": "https://sandbox-apigw.optum.com"
    }
  ],
  "paths": {
    "/oihub/claim/inquiry/v1": {
      "post": {
        "security": [
          {
            "oAuth": [
              "read_healthcheck"
            ]
          }
        ],
        "operationId": "claimInquiry",
        "tags": [
          "Claim Inquiry"
        ],
        "parameters": [
          {
            "name": "providerTaxId",
            "in": "header",
            "description": "Provider Tax ID",
            "required": true,
            "schema": {
              "type": "string",
              "example": "123456789"
            }
          },
          {
            "name": "x-optum-consumer-correlation-id",
            "in": "header",
            "description": "Unique UUID to track the transaction",
            "required": false,
            "schema": {
              "type": "string",
              "example": "4d4a8964-e5fa-42dc-a37d-12345789"
            }
          },
          {
            "name": "environment",
            "in": "header",
            "description": "Environment",
            "required": false,
            "schema": {
              "type": "string",
              "example": "sandbox"
            }
          },
          {
            "name": "nextPageToken",
            "in": "header",
            "description": "Paging Identifier to access the next set of records",
            "required": false,
            "schema": {
              "type": "string",
              "example": "trwmem123451416167"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "GraphQL queries to fetch Claims information",
                "properties": {
                  "operationName": {
                    "type": "string",
                    "description": "Name of the GraphQL operation to execute (optional)"
                  },
                  "query": {
                    "type": "string",
                    "description": "GraphQL query or mutation"
                  },
                  "variables": {
                    "description": "Variables for the GraphQL query",
                    "type": "object",
                    "properties": {
                      "searchClaimInput": {
                        "type": "object",
                        "properties": {
                          "claimNumber": {
                            "description": "Required to retrieve claim summary and detail by unique claim number",
                            "example": "1234567890",
                            "type": "string"
                          },
                          "patientAccountNumber": {
                            "description": "Required to retrieve claim summary/detail by Patient account number.",
                            "example": "1234567890",
                            "type": "string"
                          },
                          "memberId": {
                            "description": "Required (one-of) with memberFirstName/memberLastName/memberDateOfBirth. Use for member data search. Supported combinations: Id+DoB / Id+Name / Name+DoB.",
                            "example": "1234567890",
                            "type": "string"
                          },
                          "memberFirstName": {
                            "description": "Required (one-of) with memberId/memberLastName/memberDateOfBirth. Use for member data search.",
                            "example": "John",
                            "type": "string"
                          },
                          "memberLastName": {
                            "description": "Required (one-of) with memberId/memberFirstName/memberDateOfBirth. Use for member data search.",
                            "example": "Cena",
                            "type": "string"
                          },
                          "memberDateOfBirth": {
                            "description": "Required (one-of) with memberId/memberFirstName/memberLastName. Use for member data search.",
                            "example": "10/01/1975",
                            "type": "string"
                          },
                          "memberPolicy": {
                            "description": "Optional. The member's policy number.",
                            "example": "002781",
                            "type": "string"
                          },
                          "serviceStartDate": {
                            "description": "Conditional. Required for search by member data or provider TIN. Maximum 90 day range.",
                            "example": "01/01/2025",
                            "type": "string"
                          },
                          "serviceEndDate": {
                            "description": "Conditional. Required for search by member data or provider TIN. Maximum 90 day range.",
                            "example": "10/01/2025",
                            "type": "string"
                          },
                          "payerId": {
                            "description": "Required. Unique identifier assigned to a health insurance payer.",
                            "example": "87726",
                            "type": "string"
                          }
                        },
                        "required": [
                          "payerId"
                        ]
                      },
                      "searchClaimTicketInput": {
                        "type": "object",
                        "properties": {
                          "ticketNumber": {
                            "description": "Required (one-of). Provide to search by existing Ticket number.",
                            "example": "840868613",
                            "type": "string"
                          },
                          "ticketType": {
                            "description": "Required. Type of rework ticket: Pend, Recon, or Appeal.",
                            "example": "RECON",
                            "type": "string"
                          },
                          "ticketFromDate": {
                            "description": "Required (one-of) with ticketToDate. Provide both to search by date range. Maximum 30 day range.",
                            "example": "2020-07-27",
                            "type": "string"
                          },
                          "ticketToDate": {
                            "description": "Required (one-of) with ticketFromDate. Provide both to search by date range. Maximum 30 day range.",
                            "example": "2020-08-27",
                            "type": "string"
                          },
                          "payerId": {
                            "description": "Required. Unique identifier assigned to a health insurance payer.",
                            "example": "87726",
                            "type": "string"
                          }
                        },
                        "required": [
                          "ticketType",
                          "payerId"
                        ]
                      },
                      "search277CAInput": {
                        "type": "object",
                        "properties": {
                          "transactionId": {
                            "description": "Required. To retrieve 277 claim acknowledgement by transactionId (returned from claim submission API).",
                            "example": "123456789",
                            "type": "string"
                          },
                          "payerId": {
                            "description": "Required. Unique identifier assigned to a health insurance payer.",
                            "example": "87726",
                            "type": "string"
                          }
                        },
                        "required": [
                          "transactionId",
                          "payerId"
                        ]
                      },
                      "claimLineActionInput": {
                        "type": "object",
                        "properties": {
                          "claimActionIdentifier": {
                            "description": "Required. Identifier returned in SearchClaim operation.",
                            "example": "840868613",
                            "type": "string"
                          },
                          "lineKeys": {
                            "description": "Required. Service line identifier(s) returned in SearchClaim operation.",
                            "example": [
                              "1",
                              "2",
                              "5"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "payerId": {
                            "description": "Required. Unique identifier assigned to a health insurance payer.",
                            "example": "87726",
                            "type": "string"
                          }
                        },
                        "required": [
                          "payerId",
                          "lineKeys",
                          "claimActionIdentifier"
                        ]
                      },
                      "documentInput": {
                        "type": "object",
                        "properties": {
                          "documentId": {
                            "description": "Required. Unique document identifier returned in SearchClaim or SearchClaimTicket operation.",
                            "example": "5e63205d-9517-4043-9231-ea1a47fb6c07~repoid~fdsid~cloudspaceid",
                            "type": "string"
                          },
                          "payerId": {
                            "description": "Required. Unique identifier assigned to a health insurance payer.",
                            "example": "87726",
                            "type": "string"
                          }
                        },
                        "required": [
                          "documentId",
                          "payerId"
                        ]
                      }
                    }
                  }
                },
                "type": "object",
                "required": [
                  "query",
                  "variables"
                ]
              },
              "examples": {
                "SearchClaim": {
                  "summary": "Search Claim",
                  "value": {
                    "operationName": "SearchClaim",
                    "query": "query SearchClaim($searchClaimInput: SearchClaimInput!) { searchClaim(searchClaimInput: $searchClaimInput) { claims { claimNumber claimReceiptLocatorNumber claimInventoryControlNumber claimStatus isMedicarePendProcess hasClaimDetails member { subscriberId policyNumber firstName lastName middleInitial dateOfBirth relationshipCode dependentSequenceNumber memberId } provider { submitted { billingTin billingProviderName billingNpi renderingProviderName } adjudicated { billingTinPrefix billingTin billingTinSuffix billingProviderName billingNpi billingProviderMpin renderingProviderName renderingProviderMpin } } claimEvents { receivedDate processedDate processedTime serviceStartDate serviceEndDate statusEffectiveDate } claimLevelInfo { patientAccountNumber claimType providerNetworkStatus claimFlagTag surpriseMedicalBillingIndicator surpriseMedicalBillingState } claimLevelTotalAmount { totalBilledChargeAmount totalProviderWriteOffAmount totalPatientNotCoveredAmount totalProviderNotCoveredAmount totalAllowedAmount totaldeductibleAmount totalCopayAmount totalCoinsAmount totalPaidAmount totalPatientResponsibilityAmount } payments { paymentNumber adjudicatedClaimPaymentNumber adjudicatedClaimPaymentAmount checkSeriesDesignator paymentModeCode paymentAmount paymentIssueDate claimPayeeAssignmentCode payeeName payeeAddress { addressLine cityName state zip } } claimStatusCrosswalkData { claim507Code claim507CodeDesc claim508Code claim508CodeDesc adjudicatedClaimSuffixCode adjudicatedClaimPaymentNumber } claimAdjudicationCodes { claimCodeType code description } documents { documentType documentCreatedDate documentReceivedDate documentName documentId } claimDetailedInformation { claimNumber adjudicatedClaimSummaryStatus claimActionIdentifier allowedActions payerId coordinationOfBenefits { cobPayerId claimOIPaidAmount otherInsuredName submittedCobIndicator cobPayerType cobDesc cobPolicyDesc cobPaymentType adjudicatedCobIndicator cobMedicalCalcType cobCommercialCalcType } diagnosisCodes { diagnosisSequenceNumber diagnosisCode diagnosisCodeType } claimDetailEvents { receivedDate initialDecisionDate lastDenialDate } claimLevelIndicators { claimReprocessedIndicator paymentToEnrolleeCode isCapitationIndicator electronicPayerID placeOfService payerType } patientInfo { patientName patientGroupNumber patientSubscriberNumber patientRelationship } claimLineActions { ticketType allowedAction actionMessage allowedReconReasons allowedReconsiderationReasons { isAttachmentRequired requestReason requestReasonDesc requestReasonMsg } requiredConsentForm note documentLink ticketDetails { ticketNumber ticketSubmitDate ticketStatus ticketOutcome ticketReason isClosed lastUpdatedDate lastComment ticketType } } lines { lineKey lineNumber unitCount serviceCode revenueCode linePaymentServiceCode procedureCode procedureTypeCode modifiers diagnosisPointers lineEvents { processedDate processedTime serviceStartDate serviceEndDate } lineLevelTotalAmounts { billedChargeAmount notCoveredAmount providerNotCoveredAmount patientNotCoveredAmount providerWriteOffAmount allowedAmount deductibleAmount copayAmount coinsuranceAmount paidAmount memberResponsiblityAmount medicarePaidAmount reserveAmount qualifiedPaymentAmount } lineIndicators { inventoryControlNumberSuffix inventoryControlNumberSuffixVersion providerNetworkStatus transactionCode causeCode overrideCode planCoveragePercent capitationIndicator capFundType lineLevelPlaceOfService surpriseMedicalBillingIndicator surpriseMedicalBillingState providerGroupOfferPercentage } lineAdjudicationCodes { type code description } } } } pagination { hasMoreRecords nextPageToken } } }",
                    "variables": {
                      "searchClaimInput": {
                        "claimNumber": "1234567890",
                        "patientAccountNumber": "1234567890",
                        "memberId": "1234567890",
                        "memberFirstName": "John",
                        "memberLastName": "Cena",
                        "memberDateOfBirth": "10/1/1975",
                        "memberPolicy": "002781",
                        "serviceStartDate": "01/01/2025",
                        "serviceEndDate": "10/01/2025",
                        "payerId": "87726"
                      }
                    }
                  }
                },
                "SearchClaimTicket": {
                  "summary": "Search Claim Ticket",
                  "value": {
                    "operationName": "SearchClaimTicket",
                    "query": "query SearchClaimTicket($searchClaimTicketInput: SearchClaimTicketInput!) { searchClaimTicket(searchClaimTicketInput: $searchClaimTicketInput) { ticketDetails { ticketNumber ticketSubmitDate ticketStatus ticketOutcome ticketReason isClosed lastUpdatedDate lastComment ticketType } comments { addedBy addedOn comment } claimInfo { claimNumber isOwedAmountUnknown claimAmountOwed totalBilledChargedAmount claimStatus serviceStartDate patientAccountNumber claimType inventoryControlNumber } member { subscriberId policyNumber firstName lastName middleInitial dateOfBirth relationshipCode dependentSequenceNumber memberId } provider { submitted { billingTin billingProviderName billingNpi renderingProviderName } adjudicated { billingTinPrefix billingTin billingTinSuffix billingProviderName billingNpi billingProviderMpin renderingProviderName renderingProviderMpin } } operatorInfo { name emailId phoneNumber } payerInfo { payerId payerName } attachmentList { ticketNumber ticketType fileName reportTypeCode reportTypeDesc documentId } } }",
                    "variables": {
                      "searchClaimTicketInput": {
                        "ticketNumber": "TICK123456",
                        "ticketType": "RECON",
                        "ticketFromDate": "2023-01-01",
                        "ticketToDate": "2023-12-31",
                        "payerId": "87726"
                      }
                    }
                  }
                },
                "Search277CA": {
                  "summary": "Search Claim 277CA",
                  "value": {
                    "operationName": "Search277CA",
                    "query": "query Search277CA($search277CAInput: Search277CAInput!) { search277CA(search277CAInput: $search277CAInput) { responseType x12ResponseData statuscode message } }",
                    "variables": {
                      "search277CAInput": {
                        "transactionId": "123456789",
                        "payerId": "87726"
                      }
                    }
                  }
                },
                "GetClaimLineAction": {
                  "summary": "Get Claim Line Action",
                  "value": {
                    "operationName": "GetClaimLineAction",
                    "query": "query GetClaimLineAction($claimLineActionInput: ClaimLineActionInput!) { getClaimLineAction(claimLineActionInput: $claimLineActionInput) { claimLineActions { ticketType allowedAction actionMessage allowedReconReasons allowedReconsiderationReasons { isAttachmentRequired requestReason requestReasonDesc requestReasonMsg } requiredConsentForm note documentLink ticketDetails { ticketNumber ticketSubmitDate ticketStatus ticketOutcome ticketReason isClosed lastUpdatedDate lastComment ticketType } } } }",
                    "variables": {
                      "claimLineActionInput": {
                        "claimActionIdentifier": "840868613",
                        "lineKeys": [
                          "1",
                          "2",
                          "5"
                        ],
                        "payerId": "87726"
                      }
                    }
                  }
                },
                "GetDocument": {
                  "summary": "Get Document",
                  "value": {
                    "operationName": "GetDocument",
                    "query": "query GetDocument($documentInput: DocumentInput!) { getDocument(documentInput: $documentInput) { base64Document } }",
                    "variables": {
                      "documentInput": {
                        "documentId": "5e63205d-9517-4043-9231-ea1a47fb6c07~repoid~fdsid~cloudspaceid",
                        "payerId": "87726"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "SearchClaim": {
                    "summary": "Search Claim Response",
                    "value": {
                      "data": {
                        "searchClaim": {
                          "claims": [
                            {
                              "claimNumber": "AB123456789",
                              "claimReceiptLocatorNumber": "9322320112345",
                              "claimInventoryControlNumber": "FE12345678",
                              "claimStatus": "Finalized",
                              "isMedicarePendProcess": false,
                              "hasClaimDetails": true,
                              "member": {
                                "subscriberId": "0536219151",
                                "policyNumber": "911302",
                                "firstName": "John",
                                "lastName": "Cena",
                                "middleInitial": null,
                                "dateOfBirth": "09/16/1965",
                                "relationshipCode": null,
                                "dependentSequenceNumber": null,
                                "memberId": null
                              },
                              "provider": {
                                "submitted": {
                                  "billingTin": "12345678",
                                  "billingProviderName": "Test SPECIALTY",
                                  "billingNpi": "1043382302",
                                  "renderingProviderName": "Test SPECIALTY"
                                },
                                "adjudicated": {
                                  "billingTinPrefix": "2",
                                  "billingTin": "12345678",
                                  "billingTinSuffix": "00003",
                                  "billingProviderName": ";Test SPECIALTY",
                                  "billingNpi": "billingNpi",
                                  "billingProviderMpin": null,
                                  "renderingProviderName": "Test SPECIALTY",
                                  "renderingProviderMpin": null
                                }
                              },
                              "claimEvents": {
                                "receivedDate": "06/10/2025",
                                "processedDate": "06/25/2025",
                                "processedTime": "07.42.49",
                                "serviceStartDate": "06/01/2025",
                                "serviceEndDate": "06/01/2025",
                                "statusEffectiveDate": "06/27/2019"
                              },
                              "claimLevelInfo": {
                                "patientAccountNumber": "I-57258454",
                                "claimType": "P",
                                "providerNetworkStatus": "I",
                                "claimFlagTag": "Y",
                                "surpriseMedicalBillingIndicator": "S",
                                "surpriseMedicalBillingState": "TX"
                              },
                              "claimLevelTotalAmount": {
                                "totalBilledChargeAmount": "1144.21",
                                "totalProviderWriteOffAmount": "137.31",
                                "totalPatientNotCoveredAmount": "0.00",
                                "totalProviderNotCoveredAmount": "0.00",
                                "totalAllowedAmount": "1006.90",
                                "totaldeductibleAmount": "0.00",
                                "totalCopayAmount": "0.00",
                                "totalCoinsAmount": "0.00",
                                "totalPaidAmount": "1006.90",
                                "totalPatientResponsibilityAmount": "0.00"
                              },
                              "payments": [
                                {
                                  "paymentNumber": "S5sadsadsa",
                                  "adjudicatedClaimPaymentNumber": null,
                                  "adjudicatedClaimPaymentAmount": "671.13",
                                  "checkSeriesDesignator": "806",
                                  "paymentModeCode": "E",
                                  "paymentAmount": "10XXX.89",
                                  "paymentIssueDate": "02/18/2025",
                                  "claimPayeeAssignmentCode": "P",
                                  "payeeName": "XYZ HOSPITAL INC",
                                  "payeeAddress": {
                                    "addressLine": "PO BOX 406152",
                                    "cityName": "ATLANTA",
                                    "state": "GA",
                                    "zip": "303846152"
                                  }
                                }
                              ],
                              "claimStatusCrosswalkData": [
                                {
                                  "claim507Code": "F1",
                                  "claim507CodeDesc": "Finalized/Payment-The claim/line has been paid.",
                                  "claim508Code": "65",
                                  "claim508CodeDesc": "Claim/line has been paid.",
                                  "adjudicatedClaimSuffixCode": "01",
                                  "adjudicatedClaimPaymentNumber": "0087637641"
                                }
                              ],
                              "claimAdjudicationCodes": [
                                {
                                  "claimCodeType": "REMARK",
                                  "code": "YL",
                                  "description": "Benefits for this claim are based on the provider's contracted rate."
                                }
                              ],
                              "documents": [
                                {
                                  "documentType": "Commercial/Detailed PRAs",
                                  "documentCreatedDate": "06/18/2025",
                                  "documentReceivedDate": "06/18/2025",
                                  "documentName": "ABCD",
                                  "documentId": "5e63205d-9517-4043-9231-ea1a47fb6c07~repoid~fdsid~cloudspaceid"
                                }
                              ],
                              "claimDetailedInformation": {
                                "claimNumber": "AB123456789",
                                "adjudicatedClaimSummaryStatus": null,
                                "claimActionIdentifier": "12345-123391-129910-1192010",
                                "allowedActions": "true",
                                "payerId": "87726",
                                "coordinationOfBenefits": {
                                  "cobPayerId": "",
                                  "claimOIPaidAmount": "",
                                  "otherInsuredName": "",
                                  "submittedCobIndicator": "P",
                                  "cobPayerType": "",
                                  "cobDesc": "",
                                  "cobPolicyDesc": "",
                                  "cobPaymentType": "P",
                                  "adjudicatedCobIndicator": "S",
                                  "cobMedicalCalcType": "612",
                                  "cobCommercialCalcType": "612"
                                },
                                "diagnosisCodes": [
                                  {
                                    "diagnosisSequenceNumber": "1",
                                    "diagnosisCode": "R509",
                                    "diagnosisCodeType": "0"
                                  }
                                ],
                                "claimDetailEvents": {
                                  "receivedDate": "06/04/2021",
                                  "initialDecisionDate": "06/06/2021",
                                  "lastDenialDate": "06/06/2021"
                                },
                                "claimLevelIndicators": {
                                  "claimReprocessedIndicator": "N",
                                  "paymentToEnrolleeCode": "N",
                                  "isCapitationIndicator": false,
                                  "electronicPayerID": "UHNDCT",
                                  "placeOfService": "12",
                                  "payerType": "COM"
                                },
                                "patientInfo": {
                                  "patientName": "TestUser",
                                  "patientGroupNumber": " patientGroupNumber -123",
                                  "patientSubscriberNumber": " patientSubscriberNumber-123",
                                  "patientRelationship": "EE"
                                },
                                "claimLineActions": [
                                  {
                                    "ticketType": "RECON",
                                    "allowedAction": "Create",
                                    "actionMessage": "disallowed action message",
                                    "allowedReconReasons": [
                                      "RECON_REASON_1",
                                      "RECON_REASON_2"
                                    ],
                                    "allowedReconsiderationReasons": null,
                                    "requiredConsentForm": "AOR",
                                    "note": "Consent form is required only when the appeal is submitted on behalf of member.",
                                    "documentLink": "https://maelstrom-dmz-nonprod.uhcprovider.com/cdn/uhcp/documents/claims/appeal-messaging/WOL.pdf",
                                    "ticketDetails": [
                                      {
                                        "ticketNumber": "1234567890",
                                        "ticketSubmitDate": "06/06/2021",
                                        "ticketStatus": "",
                                        "ticketOutcome": "",
                                        "ticketReason": "",
                                        "isClosed": false,
                                        "lastUpdatedDate": "07/27/2020",
                                        "lastComment": "",
                                        "ticketType": null
                                      }
                                    ]
                                  }
                                ],
                                "lines": [
                                  {
                                    "lineKey": "1",
                                    "lineNumber": "1",
                                    "unitCount": "1",
                                    "serviceCode": "J0638",
                                    "revenueCode": "",
                                    "linePaymentServiceCode": "J0638",
                                    "procedureCode": "J0638",
                                    "procedureTypeCode": "HC",
                                    "modifiers": [
                                      "RT",
                                      "25"
                                    ],
                                    "diagnosisPointers": [
                                      "1",
                                      "0",
                                      "0",
                                      "0"
                                    ],
                                    "lineEvents": {
                                      "processedDate": "06/06/2021",
                                      "processedTime": "04.40.07",
                                      "serviceStartDate": "06/01/2021",
                                      "serviceEndDate": "06/01/2021"
                                    },
                                    "lineLevelTotalAmounts": {
                                      "billedChargeAmount": "20044.36",
                                      "notCoveredAmount": "0.00",
                                      "providerNotCoveredAmount": "0.00",
                                      "patientNotCoveredAmount": "0.00",
                                      "providerWriteOffAmount": "3758.32",
                                      "allowedAmount": "16286.04",
                                      "deductibleAmount": "0.00",
                                      "copayAmount": "0.00",
                                      "coinsuranceAmount": "0.00",
                                      "paidAmount": "16286.04",
                                      "memberResponsiblityAmount": "0.00",
                                      "medicarePaidAmount": "0.00",
                                      "reserveAmount": "0.00",
                                      "qualifiedPaymentAmount": "0.00"
                                    },
                                    "lineIndicators": {
                                      "inventoryControlNumberSuffix": "01",
                                      "inventoryControlNumberSuffixVersion": "1",
                                      "providerNetworkStatus": "I",
                                      "transactionCode": "00",
                                      "causeCode": "0",
                                      "overrideCode": "23",
                                      "planCoveragePercent": "1.00",
                                      "capitationIndicator": "",
                                      "capFundType": "",
                                      "lineLevelPlaceOfService": "12",
                                      "surpriseMedicalBillingIndicator": "S",
                                      "surpriseMedicalBillingState": "TX",
                                      "providerGroupOfferPercentage": "1.00"
                                    },
                                    "lineAdjudicationCodes": [
                                      {
                                        "type": "REMARK",
                                        "code": "YL",
                                        "description": "Benefits for this claim are based on the provider's contracted rate."
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ],
                          "pagination": {
                            "hasMoreRecords": true,
                            "nextPageToken": "trwmem123451416167"
                          }
                        }
                      }
                    }
                  },
                  "SearchClaimTicket": {
                    "summary": "Search Claim Ticket Response",
                    "value": {
                      "data": {
                        "searchClaimTicket": [
                          {
                            "ticketDetails": {
                              "ticketNumber": "AT-12345678",
                              "ticketSubmitDate": "03/01/2025",
                              "ticketStatus": "Create",
                              "ticketOutcome": "The final outcome of the ticket",
                              "ticketReason": "The reason why the ticket was submitted.",
                              "isClosed": false,
                              "lastUpdatedDate": "09/01/2025",
                              "lastComment": "The latest comments on the ticket.",
                              "ticketType": "RECON"
                            },
                            "comments": [
                              {
                                "addedBy": "12344455",
                                "addedOn": "03/04/2025",
                                "comment": ""
                              }
                            ],
                            "claimInfo": {
                              "claimNumber": "12344455",
                              "isOwedAmountUnknown": false,
                              "claimAmountOwed": "123.45",
                              "totalBilledChargedAmount": "46.00",
                              "claimStatus": "F",
                              "serviceStartDate": "06/01/2025",
                              "patientAccountNumber": "I-57258454",
                              "claimType": "P",
                              "inventoryControlNumber": "AB123456789"
                            },
                            "member": {
                              "subscriberId": "0536219151",
                              "policyNumber": "911302",
                              "firstName": "John",
                              "lastName": "Cena",
                              "middleInitial": "Doe",
                              "dateOfBirth": "09/16/1965",
                              "relationshipCode": "EE",
                              "dependentSequenceNumber": "01",
                              "memberId": "483865773"
                            },
                            "provider": {
                              "submitted": {
                                "billingTin": "12345678",
                                "billingProviderName": "Test SPECIALTY",
                                "billingNpi": "1043382302",
                                "renderingProviderName": "Test SPECIALTY"
                              },
                              "adjudicated": {
                                "billingTinPrefix": "2",
                                "billingTin": "12345678",
                                "billingTinSuffix": "00003",
                                "billingProviderName": "Test SPECIALTY",
                                "billingNpi": "billingNpi",
                                "billingProviderMpin": "73123456",
                                "renderingProviderName": "Joe Cole",
                                "renderingProviderMpin": "12345678"
                              }
                            },
                            "operatorInfo": {
                              "name": "Joe C Davis",
                              "emailId": "abcd@test.com",
                              "phoneNumber": "999-999-9999"
                            },
                            "payerInfo": {
                              "payerId": "87726",
                              "payerName": "UnitedHealthcare"
                            },
                            "attachmentList": [
                              {
                                "ticketNumber": "AT-12345678",
                                "ticketType": "RECON",
                                "fileName": "attachment.pdf",
                                "reportTypeCode": "M1",
                                "reportTypeDesc": "Medical Record Attachment",
                                "documentId": "abcd-efgh-ijkl-mnop"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  },
                  "Search277CA": {
                    "summary": "Search 277CA Response",
                    "value": {
                      "data": {
                        "search277CA": {
                          "responseType": "ACK",
                          "x12ResponseData": "ISA*00*          *00*          *ZZ*ABCDEFGHIJKLMNO*12*123456789012345*210101*1253*^*00501*000000905*0*T*:~GS*HN*123456789*987654321*20210101*1253*1*X*005010X279A1~ST*277*0001~BHT*0019*00*0123*20210101*1253*RP~HL*1**20*1~NM1*PR*2*PAYER NAME*****PI*12345~HL*2*1*21*1~NM1*41*2*SENDER NAME*****46*54321~HL*3*2*22*0~TRN*1*1234567890~STC*A1:19:PR~SE*10*0001~GE*1*1~IEA*1*000000905~",
                          "statuscode": "200",
                          "message": "Transaction processed successfully"
                        }
                      }
                    }
                  },
                  "GetClaimLineAction": {
                    "summary": "Get Claim Line Action Response",
                    "value": {
                      "data": {
                        "getClaimLineAction": {
                          "claimLineActions": [
                            {
                              "ticketType": "RECON",
                              "allowedAction": "Create",
                              "actionMessage": "This insured member is covered under an AARP Supplemental Health Plan. For claim appeals or reconsiderations, use the claim address on the back of the insured member ID card.",
                              "allowedReconReasons": [
                                "RECON_REASON_1",
                                "RECON_REASON_2"
                              ],
                              "allowedReconsiderationReasons": [
                                {
                                  "isAttachmentRequired": "Yes",
                                  "requestReason": "Medical Records Provided",
                                  "requestReasonDesc": "Select this option to submit additional medical records",
                                  "requestReasonMsg": "Attachments should include all requested documents"
                                },
                                {
                                  "isAttachmentRequired": "Yes",
                                  "requestReason": "Coordination of Benefits",
                                  "requestReasonDesc": "Select this option for payment responsibility",
                                  "requestReasonMsg": "Attachments should include the primary carriers EOB"
                                }
                              ],
                              "requiredConsentForm": null,
                              "note": null,
                              "documentLink": null,
                              "ticketDetails": []
                            },
                            {
                              "ticketType": "Appeal",
                              "allowedAction": "create",
                              "actionMessage": "disallowed action message",
                              "allowedReconReasons": [],
                              "allowedReconsiderationReasons": [],
                              "requiredConsentForm": "AOR",
                              "note": "Consent form is required only when the appeal is submitted on behalf of member.",
                              "documentLink": "https://maelstrom-dmz-nonprod.uhcprovider.com/cdn/uhcp/documents/claims/appeal-messaging/WOL.pdf",
                              "ticketDetails": [
                                {
                                  "ticketNumber": "AT-12345678",
                                  "ticketSubmitDate": "03/01/2025",
                                  "ticketStatus": "Create",
                                  "ticketOutcome": "The final outcome of the ticket",
                                  "ticketReason": "The reason why the ticket was submitted.",
                                  "isClosed": false,
                                  "lastUpdatedDate": "09/01/2025",
                                  "lastComment": "The latest comments on the ticket.",
                                  "ticketType": "RECON"
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "GetDocument": {
                    "summary": "Get Document Response",
                    "value": {
                      "data": {
                        "getDocument": {
                          "base64Document": "JVBERi0xLjQKJcfs..."
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "searchClaimTicket": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ClaimTicketSearchResponse"
                          }
                        },
                        "searchClaim": {
                          "$ref": "#/components/schemas/ClaimSearchResponse"
                        },
                        "getDocument": {
                          "$ref": "#/components/schemas/DocumentDownloadResponse"
                        },
                        "getClaimLineAction": {
                          "$ref": "#/components/schemas/ClaimLineActionValidationResponse"
                        },
                        "search277CA": {
                          "$ref": "#/components/schemas/ClaimAck277SearchResponse"
                        }
                      }
                    },
                    "errors": {
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "Error code identifying the specific error"
                          },
                          "description": {
                            "type": "string",
                            "description": "Detailed error message"
                          }
                        }
                      },
                      "description": "List of errors if occurred during Claim Inquiry",
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": "GRAPHQL_VALIDATION_FAILED",
                      "description": "Cannot query field..."
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": "AUTH_FAILURE",
                      "description": "Invalid or expired token"
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": "INTERNAL_SERVER_ERROR",
                      "description": "An unexpected error occurred."
                    }
                  ]
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ClaimSearchResponse": {
        "type": "object",
        "properties": {
          "claims": {
            "description": "Full claim information including summary and details",
            "items": {
              "$ref": "#/components/schemas/Claims"
            },
            "type": "array"
          },
          "pagination": {
            "description": "Pagination details",
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "description": "Search claim response."
      },
      "SearchClaimInputDTO": {
        "type": "object",
        "properties": {
          "claimNumber": {
            "description": "The payer assigned Original Document Control NumberInternal Control Number (DCNICN) assigned to this claim by the payer identified in the 2010BB loop of this claim (Payer to payer claim). This number would be received from a payer in a case where the payer had received the original claim and, for whatever reason, had asked the provider to resubmit the claim and had given the provider the payers claim identification number. In this case the payer is expecting the provider to give them back their (the payers) claim number so that the payer can match it in their adjudication system. By matching this number in the adjudication system, the payer knows this is not a duplicate claim. In simple terms this is the number that is assigned by the Claim Adjudication engine of the payer.",
            "example": "1234567890",
            "type": "string"
          },
          "patientAccountNumber": {
            "description": "This is the providers claim account number. Identifier used to track a claim from creation by the health care provider through payment.",
            "example": "1234567890",
            "type": "string"
          },
          "memberId": {
            "description": "This Identifier of the Member which is on the identity card.",
            "example": "1234567890",
            "type": "string"
          },
          "memberFirstName": {
            "description": "Member's first name",
            "example": "John",
            "type": "string"
          },
          "memberLastName": {
            "description": "Member's last name",
            "example": "Cena",
            "type": "string"
          },
          "memberDateOfBirth": {
            "description": "Member's date of birth",
            "example": "10/1/1975",
            "type": "string"
          },
          "memberPolicy": {
            "description": "The policyNumber is a unique identifier assigned to an insurance policy. It is used by insurance companies, healthcare providers, and billing systems to track and manage a specific policyholder’s coverage.",
            "example": "002781",
            "type": "string"
          },
          "serviceStartDate": {
            "description": "Identifies the starting (earliest) service date based on all of the claim service lines. Most commonly used on an inpatient facility claim where a patient stays multiple days.",
            "example": "01/01/2025",
            "type": "string"
          },
          "serviceEndDate": {
            "description": "Identifies the ending service date based on all of the claim service lines. Most commonly used on an inpatient facility claim where a patient stays multiple days.",
            "example": "10/01/2025",
            "type": "string"
          },
          "payerId": {
            "description": "payerId for the claim-unique identifier assigned to a health insurance payer.",
            "example": "87726",
            "type": "string"
          }
        },
        "description": "SearchClaimInputDTO"
      },
      "ClaimTicketSearchResponse": {
        "type": "object",
        "properties": {
          "ticketDetails": {
            "description": "Ticket details",
            "$ref": "#/components/schemas/TicketDetails"
          },
          "comments": {
            "description": "List of comments associated with the ticket",
            "items": {
              "$ref": "#/components/schemas/ClaimTicketComment"
            },
            "type": "array"
          },
          "claimInfo": {
            "description": "Claim information associated with the ticket",
            "$ref": "#/components/schemas/ClaimInfo"
          },
          "member": {
            "description": "Member information associated with the ticket",
            "$ref": "#/components/schemas/Member"
          },
          "provider": {
            "description": "Provider information associated with the ticket",
            "$ref": "#/components/schemas/Provider"
          },
          "operatorInfo": {
            "description": "Operator information who created/updated the ticket",
            "$ref": "#/components/schemas/OperatorInfo"
          },
          "payerInfo": {
            "description": "Payer information associated with the ticket",
            "$ref": "#/components/schemas/PayerInfo"
          },
          "attachmentList": {
            "description": "List of attachments associated with the ticket",
            "items": {
              "$ref": "#/components/schemas/AttachmentList"
            },
            "type": "array"
          }
        },
        "description": "Search claim ticket response."
      },
      "SearchClaimTicketInputDTO": {
        "type": "object",
        "properties": {
          "ticketNumber": {
            "description": "The unique identifier for the ticket.",
            "example": "TICK123456",
            "type": "string"
          },
          "ticketType": {
            "description": "The type of ticket.",
            "example": "RECON",
            "type": "string"
          },
          "ticketFromDate": {
            "description": "The start date for the ticket search range (YYYY-MM-DD).",
            "example": "2023-01-01",
            "type": "string"
          },
          "ticketToDate": {
            "description": "The end date for the ticket search range (YYYY-MM-DD).",
            "example": "2023-12-31",
            "type": "string"
          },
          "payerId": {
            "description": "payerId for the claim-unique identifier assigned to a health insurance payer.",
            "example": "87726",
            "type": "string"
          }
        },
        "description": "SearchClaimTicketInputDTO"
      },
      "ClaimAck277SearchResponse": {
        "type": "object",
        "properties": {
          "responseType": {
            "description": "Response type",
            "example": "ACK",
            "type": "string"
          },
          "x12ResponseData": {
            "description": "X12 response data",
            "example": "ISA*00*          *00*          *ZZ*ABCDEFGHIJKLMNO*12*123456789012345*210101*1253*^*00501*000000905*0*T*:~GS*HN*123456789*987654321*20210101*1253*1*X*005010X279A1~ST*277*0001~BHT*0019*00*0123*20210101*1253*RP~HL*1**20*1~NM1*PR*2*PAYER NAME*****PI*12345~HL*2*1*21*1~NM1*41*2*SENDER NAME*****46*54321~HL*3*2*22*0~TRN*1*1234567890~STC*A1:19:PR~SE*10*0001~GE*1*1~IEA*1*000000905~",
            "type": "string"
          },
          "statuscode": {
            "description": "Status code",
            "example": "200",
            "type": "string"
          },
          "message": {
            "description": "Message",
            "example": "Transaction processed successfully",
            "type": "string"
          }
        },
        "description": "Search 277CA response."
      },
      "Search277CAInputDTO": {
        "type": "object",
        "properties": {
          "transactionId": {
            "description": "The unique identifier for the transaction.",
            "example": "123456789",
            "type": "string"
          },
          "payerId": {
            "description": "payerId for the claim-unique identifier assigned to a health insurance payer.",
            "example": "87726",
            "type": "string"
          }
        },
        "description": "Search277CAInputDTO"
      },
      "ClaimLineActionValidationResponse": {
        "type": "object",
        "properties": {
          "claimLineActions": {
            "description": "Claim line actions",
            "items": {
              "$ref": "#/components/schemas/ClaimLineActions"
            },
            "type": "array"
          }
        },
        "description": "Claim line action response."
      },
      "ClaimLineActionInputDTO": {
        "type": "object",
        "properties": {
          "claimActionIdentifier": {
            "description": "The unique identifier for the claim action.",
            "example": "840868613",
            "type": "string"
          },
          "lineKeys": {
            "description": "The list of line keys.",
            "example": [
              "1",
              "2",
              "5"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "payerId": {
            "description": "payerId for the claim-unique identifier assigned to a health insurance payer.",
            "example": "87726",
            "type": "string"
          }
        },
        "description": "ClaimLineActionInputDTO"
      },
      "DocumentDownloadResponse": {
        "type": "object",
        "properties": {
          "base64Document": {
            "description": "Base64 encoded document content.",
            "example": "JVBERi0xLjQKJcfs...",
            "type": "string"
          }
        },
        "description": "DocumentDownloadResponse"
      },
      "DocumentInputDTO": {
        "type": "object",
        "properties": {
          "documentId": {
            "description": "The unique identifier for the document.",
            "example": "5e63205d-9517-4043-9231-ea1a47fb6c07~repoid~fdsid~cloudspaceid",
            "type": "string"
          },
          "payerId": {
            "description": "payerId for the claim-unique identifier assigned to a health insurance payer.",
            "example": "87726",
            "type": "string"
          }
        },
        "description": "DocumentInputDTO"
      },
      "ClaimLevelTotalAmount": {
        "type": "object",
        "properties": {
          "totalBilledChargeAmount": {
            "description": "Total Amount of all services submitted on the claim by the provider for services rendered.",
            "example": "1144.21",
            "type": "string"
          },
          "totalProviderWriteOffAmount": {
            "description": "Amount discounted from the claim requested amount due to contract agreements, Prompt Pay discounts, etc.",
            "example": "137.31",
            "type": "string"
          },
          "totalPatientNotCoveredAmount": {
            "description": "Breaks out the the total amount not covered for all services on the claim to the patient.",
            "example": "0.00",
            "type": "string"
          },
          "totalProviderNotCoveredAmount": {
            "description": "Breaks out the The total amount not covered for all services on the claim to the provider.",
            "example": "0.00",
            "type": "string"
          },
          "totalAllowedAmount": {
            "description": "The maximum amount determined by the payer as being allowable under the provisions of the contract prior to the determination of actual payment.",
            "example": "1006.90",
            "type": "string"
          },
          "totaldeductibleAmount": {
            "description": "The set amount a member pays for services until they reach a specified limit (usually defined on an annual basis). After the limit is reached, the members payment for services changes to a percentage of covered amount. This dollar amount is derived using the members benefit rules. The Members Benefits are determined based on their eligibility using the claim service date spans. This is the sum of the Deductible Line Amount for all service lines.",
            "example": "0.00",
            "type": "string"
          },
          "totalCopayAmount": {
            "description": "The sum of all service level copay amounts",
            "example": "0.00",
            "type": "string"
          },
          "totalCoinsAmount": {
            "description": "The total of the Benefit Coinsurance amount for all service lines. The Coinsurance amount (usually calculated as a percent of the providers submitted charges) the member pays for a specific service as defined in their benefit plan. For example, 80 of the cost of an outpatient physical therapy visit. This dollar amount is derived using the members benefit rules. The Members Benefits are determined based on their eligibility using the claim service date spans.",
            "example": "0.00",
            "type": "string"
          },
          "totalPaidAmount": {
            "description": "The actual amount paid to the provider or member for all the services performed after all deductions and calculations are performed. This does not include the amount calculated as fee for service on a capitated service.",
            "example": "1006.90",
            "type": "string"
          },
          "totalPatientResponsibilityAmount": {
            "description": "Required when the Patient Responsibility Amount is applicable to the claim. The amount applies to all service lines.",
            "example": "0.00",
            "type": "string"
          }
        },
        "description": "ClaimLevelTotalAmount"
      },
      "ClaimDetailEvent": {
        "type": "object",
        "properties": {
          "receivedDate": {
            "description": "The receivedDate refers to the date when the claim was officially received by the payer or claims system. It is a critical timestamp used to initiate the claim lifecycle. This date helps determine whether the claim was submitted within the allowable filing period and is used to calculate processing timelines and compliance metrics. It may differ from the service date or submission date, depending on when the claim was transmitted and logged. Accurate tracking of receivedDate ensures timely adjudication, supports audit trails, and helps in meeting regulatory and contractual obligations for claim handling.",
            "example": "06/04/2025",
            "type": "string"
          },
          "initialDecisionDate": {
            "description": "The initialDecisionDate refers to the date on which the first adjudication decision was made for a submitted claim.",
            "example": "06/06/2025",
            "type": "string"
          },
          "lastDenialDate": {
            "description": "The lastDenialDate refers to the most recent date on which the claim—or a specific line item within the claim—was denied by the payer. This date is crucial for tracking the claim’s adjudication history and managing follow-up actions such as appeals or reconsiderations.",
            "example": "06/06/2025",
            "type": "string"
          }
        },
        "description": "ClaimDetailEvent"
      },
      "ClaimLevelInformation": {
        "type": "object",
        "properties": {
          "patientAccountNumber": {
            "description": "This is the providers claim account number. Identifier used to track a claim from creation by the health care provider through payment.",
            "example": "I-57258454",
            "type": "string"
          },
          "claimType": {
            "description": "Identifies the type of claim. e.g (I))Institutional (P)Professional",
            "example": "P",
            "type": "string"
          },
          "providerNetworkStatus": {
            "description": "A code that identifies if the Provider is in network, out of network.",
            "example": "I",
            "type": "string"
          },
          "claimFlagTag": {
            "description": "if Y indicates that flag tag code was applied for attachments",
            "example": "Y",
            "type": "string"
          },
          "surpriseMedicalBillingIndicator": {
            "description": "A code that will identify the level of authority that surprise medical billing will be applied whether at Federal (F) or State (S) Level.",
            "example": "S",
            "type": "string"
          },
          "surpriseMedicalBillingState": {
            "description": "A state code that will identify the level of authority that surprise medical billing will be applied. e.g. NJ, NY, SC, MN etc",
            "example": "NY",
            "type": "string"
          }
        },
        "description": "ClaimLevelInformation"
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "hasMoreRecords": {
            "description": "Indicates if more results are available",
            "example": false,
            "type": "boolean"
          },
          "nextPageToken": {
            "description": "Page identifier for pagination",
            "example": "trwmem123451416167",
            "type": "string"
          }
        },
        "description": "Pagination"
      },
      "LineEvents": {
        "type": "object",
        "properties": {
          "processedDate": {
            "description": "The lineProcessedDate refers to the date on which a specific service line within a claim was adjudicated by the insurance company",
            "example": "06/06/2025",
            "type": "string"
          },
          "processedTime": {
            "description": "The lineProcessedTime refers to the time on which a specific service line within a claim was adjudicated by the insurance company",
            "example": "04.40.07",
            "type": "string"
          },
          "serviceStartDate": {
            "description": "The serviceStartDate refers to the first date on which a healthcare service was provided to the patient for a particular service line. It marks the beginning of the treatment or service period ",
            "example": "06/01/2025",
            "type": "string"
          },
          "serviceEndDate": {
            "description": "The serviceEndDate refers to the last date on which a healthcare service was provided to the patient for a particular claim or service line. It marks the end of the treatment or service period, especially for services that span multiple days, such as inpatient stays, therapy sessions, or ongoing treatments",
            "example": "06/01/2025",
            "type": "string"
          }
        },
        "description": "LineEvents"
      },
      "PatientInfo": {
        "type": "object",
        "properties": {
          "patientName": {
            "description": "patientName refers to the full legal name of the individual who received the medical service or treatment. It typically includes the first name, last name, and sometimes middle name or initial. This field is essential for identifying the claim's beneficiary and ensuring accurate matching with patient records.",
            "example": "John",
            "type": "string"
          },
          "patientGroupNumber": {
            "description": "The patientGroupNumber refers to the unique identifier assigned to the group health insurance plan under which the patient is covered. This number is typically issued by the insurance provider to an employer or organization offering the group policy. It helps link the patient’s claim to the correct group benefits, coverage rules, and billing arrangements. The patientGroupNumber is essential for verifying eligibility, processing claims accurately, and ensuring the correct application of deductibles, copays, and coverage limits. It is usually found on the patient’s insurance card and is required for both electronic and paper claim submissions.",
            "example": "TNEONX",
            "type": "string"
          },
          "patientSubscriberNumber": {
            "description": "The patientSubscriberNumber is a unique identifier assigned to the primary policyholder—the person who holds the insurance plan. Even if the patient is a dependent (like a spouse or child), the claim is often linked to the subscriber’s number. This number is crucial for verifying coverage, processing claims, and coordinating benefits. It is typically found on the insurance card and used alongside the patientName and groupNumber to ensure accurate claim routing. In electronic data interchange (EDI), this field is often required to match the claim to the correct member record in the payer’s system.",
            "example": "992111233",
            "type": "string"
          },
          "patientRelationship": {
            "description": "The patientRelationship field indicates the relationship between the patient and the subscriber (the primary policyholder). This information is essential for determining eligibility, coordinating benefits, and processing claims correctly.",
            "example": "EE",
            "type": "string"
          }
        },
        "description": "PatientInfo"
      },
      "TicketDetails": {
        "type": "object",
        "properties": {
          "ticketNumber": {
            "description": "A ticket number is a unique identifier assigned to an Appeal, Reconsideration or Pending ticket.",
            "example": "AT-12345678",
            "type": "string"
          },
          "ticketSubmitDate": {
            "description": "The date the ticket number was submitted.",
            "example": "03/01/2025",
            "type": "string"
          },
          "ticketStatus": {
            "description": "The status of the ticket.",
            "example": "Create",
            "type": "string"
          },
          "ticketOutcome": {
            "description": "The outcome of the ticket.",
            "example": "The final outcome of the ticket",
            "type": "string"
          },
          "ticketReason": {
            "description": "The reason why the ticket was submitted.",
            "example": "The reason why the ticket was submitted.",
            "type": "string"
          },
          "isClosed": {
            "description": "A flag which indicates if the ticket was closed or not.",
            "example": false,
            "type": "boolean"
          },
          "lastUpdatedDate": {
            "description": "The latest date on which an update was made on the ticket.",
            "example": "09/01/2025",
            "type": "string"
          },
          "lastComment": {
            "description": "The latest comments on the ticket.",
            "example": "The latest comments on the ticket.",
            "type": "string"
          },
          "ticketType": {
            "description": "The type of ticket.",
            "example": "RECON",
            "type": "string"
          }
        },
        "description": "TicketDetails"
      },
      "Claims": {
        "type": "object",
        "properties": {
          "claimNumber": {
            "description": "The payer assigned Original Document Control NumberInternal Control Number (DCNICN) assigned to this claim by the payer identified in the 2010BB loop of this claim (Payer to payer claim). This number would be received from a payer in a case where the payer had received the original claim and, for whatever reason, had (1) asked the provider to resubmit the claim and (2) had given the provider the payers claim identification number. In this case the payer is expecting the provider to give them back their (the payers) claim number so that the payer can match it in their adjudication system. By matching this number in the adjudication system, the payer knows this is not a duplicate claim. In simple terms this is the number that is assigned by the Claim Adjudication engine of the payer.",
            "example": "AB123456789",
            "type": "string"
          },
          "claimReceiptLocatorNumber": {
            "description": "A unique number that is assigned by the claim intake process for the purpose of identifying that the claim has been successfully received by UHG. This number is communicated back to the sender of the claim (Via HIPAA 277ACK) as well as passed down to the adjudication engine responsible to adjudicate the claim. For Paper claims this will be the DCC Number (document control center - where document was scanned). It is also known as Film Locator Number (FLN).",
            "example": "9322320112345",
            "type": "string"
          },
          "claimInventoryControlNumber": {
            "description": "An Inventory Control Number (ICN) is a unique identifier assigned to each claim as it enters the payer's system. It is used to track, manage, and audit the claim throughout its lifecycle — from submission to adjudication and payment.",
            "example": "FE12345678",
            "type": "string"
          },
          "claimStatus": {
            "description": "The claimStatus indicates the current stage of a healthcare claim in the processing workflow. Common statuses include Acknowledged, In Review, Pending, Denied, Finalized, Misdirected, Multiple Status or Rejected. Each status provides insight into whether the claim is being reviewed, requires additional information, has been approved for payment, or has been denied. Accurate tracking of claimStatus helps providers follow up appropriately, ensures timely reimbursement, and supports transparency for patients.",
            "example": "Finalized",
            "type": "string"
          },
          "isMedicarePendProcess": {
            "description": "Indicates whether the claim is currently in a Medicare pend process.",
            "example": false,
            "type": "boolean"
          },
          "hasClaimDetails": {
            "description": "Indicates if claim detailed information is available or not",
            "example": true,
            "type": "boolean"
          },
          "member": {
            "description": "Member information",
            "$ref": "#/components/schemas/Member"
          },
          "provider": {
            "description": "Provider",
            "$ref": "#/components/schemas/Provider"
          },
          "claimEvents": {
            "description": "Claim events",
            "$ref": "#/components/schemas/ClaimEvents"
          },
          "claimLevelInfo": {
            "description": "Claim level information",
            "$ref": "#/components/schemas/ClaimLevelInformation"
          },
          "claimLevelTotalAmount": {
            "description": "Claim level total amount",
            "$ref": "#/components/schemas/ClaimLevelTotalAmount"
          },
          "payments": {
            "description": "Claim payment information",
            "items": {
              "$ref": "#/components/schemas/ClaimPaymentInfo"
            },
            "type": "array"
          },
          "claimStatusCrosswalkData": {
            "description": "Claim status cross walk data",
            "items": {
              "$ref": "#/components/schemas/ClaimStatusCrosswalkData"
            },
            "type": "array"
          },
          "claimAdjudicationCodes": {
            "description": "Adjudication code type",
            "items": {
              "$ref": "#/components/schemas/AdjudicationCodeType"
            },
            "type": "array"
          },
          "documents": {
            "description": "Documents",
            "items": {
              "$ref": "#/components/schemas/Documents"
            },
            "type": "array"
          },
          "claimDetailedInformation": {
            "description": "Claim detailed information",
            "$ref": "#/components/schemas/ClaimDetailedInformation"
          }
        },
        "description": "Claims"
      },
      "ClaimEvents": {
        "type": "object",
        "properties": {
          "receivedDate": {
            "description": "The receivedDate refers to the date when the claim was officially received by the payer or claims system. It is a critical timestamp used to initiate the claim lifecycle. This date helps determine whether the claim was submitted within the allowable filing period and is used to calculate processing timelines and compliance metrics. It may differ from the service date or submission date, depending on when the claim was transmitted and logged. Accurate tracking of receivedDate ensures timely adjudication, supports audit trails, and helps in meeting regulatory and contractual obligations for claim handling.",
            "example": "06/10/2025",
            "type": "string"
          },
          "processedDate": {
            "description": "Date of final adjudication or denial determination by Claim Payer. Sometimes used as a Paid ready.",
            "example": "06/25/2025",
            "type": "string"
          },
          "processedTime": {
            "description": "Time of final adjudication or denial determination by Claim Payer. Sometimes used as a Paid ready.",
            "example": "07.42.49",
            "type": "string"
          },
          "serviceStartDate": {
            "description": "Identifies the starting (earliest) service date based on all of the claim service lines. Most commonly used on an inpatient facility claim where a patient stays multiple days.",
            "example": "06/01/2025",
            "type": "string"
          },
          "serviceEndDate": {
            "description": "Identifies the ending service date based on all of the claim service lines. Most commonly used on an inpatient facility claim where a patient stays multiple days.",
            "example": "06/01/2025",
            "type": "string"
          },
          "statusEffectiveDate": {
            "description": "Effective date of the status of the Claim",
            "example": "06/27/2025",
            "type": "string"
          }
        },
        "description": "ClaimEvents"
      },
      "Documents": {
        "type": "object",
        "properties": {
          "documentType": {
            "description": "A  type of document",
            "example": "Commercial/Detailed PRAs",
            "type": "string"
          },
          "documentCreatedDate": {
            "description": "The date when the document was created.",
            "example": "06/18/2025",
            "type": "string"
          },
          "documentReceivedDate": {
            "description": "The date when the document was received.",
            "example": "06/18/2025",
            "type": "string"
          },
          "documentName": {
            "description": "The name of the document.",
            "example": "ABCD",
            "type": "string"
          },
          "documentId": {
            "description": "A unique identifier for the document, typically a UUID or composite key.",
            "example": "abcdef-aaaa-aaaa-aa-aaaa%ee-08_v4~repoid~fdsid~cloudspaceid",
            "type": "string"
          }
        },
        "description": "Documents"
      },
      "ClaimLineActions": {
        "type": "object",
        "properties": {
          "ticketType": {
            "description": "Ticket Type",
            "example": "RECON",
            "type": "string"
          },
          "allowedAction": {
            "description": "Allowed actions",
            "example": "Create",
            "type": "string"
          },
          "actionMessage": {
            "description": "msg when allowedAction='Stop Process'",
            "example": "This insured member is covered under an AARP Supplemental Health Plan. For claim appeals or reconsiderations, use the claim address on the back of the insured member ID card.",
            "type": "string"
          },
          "allowedReconReasons": {
            "description": "List of allowed reasons for recon",
            "example": [
              "RECON_REASON_1",
              "RECON_REASON_2"
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "allowedReconsiderationReasons": {
            "description": "List of allowed reconsideration reasons with attachment requirements",
            "items": {
              "$ref": "#/components/schemas/AllowedReconsiderationReason"
            },
            "type": "array"
          },
          "requiredConsentForm": {
            "description": "Required Consent Form",
            "example": "AOR",
            "type": "string"
          },
          "note": {
            "description": "Notes",
            "example": "Consent form is required only when the appeal is submitted on behalf of member.",
            "type": "string"
          },
          "documentLink": {
            "description": "Document Link",
            "example": "https://maelstrom-dmz-nonprod.uhcprovider.com/cdn/uhcp/documents/claims/appeal-messaging/WOL.pdf",
            "type": "string"
          },
          "ticketDetails": {
            "description": "Ticket details",
            "items": {
              "$ref": "#/components/schemas/TicketDetails"
            },
            "type": "array"
          }
        },
        "description": "ClaimLineActions"
      },
      "AllowedReconsiderationReason": {
        "type": "object",
        "properties": {
          "isAttachmentRequired": {
            "description": "Indicates if an attachment is required for this reconsideration reason",
            "example": "Yes",
            "type": "string"
          },
          "requestReason": {
            "description": "The reconsideration request reason code",
            "example": "Medical Records Provided",
            "type": "string"
          },
          "requestReasonDesc": {
            "description": "Description of the reconsideration request reason",
            "example": "Select this option to submit additional medical records",
            "type": "string"
          },
          "requestReasonMsg": {
            "description": "Message providing additional guidance for the reconsideration reason",
            "example": "Attachments should include all requested documents",
            "type": "string"
          }
        },
        "description": "AllowedReconsiderationReason"
      },
      "SubmittedProviderInfo": {
        "type": "object",
        "properties": {
          "billingTin": {
            "description": "Identifies a Tax Identification number issued by the Internal Revenue Service. Payer uses this identifier in claims processing to identify who is accountable for tax reporting back to the Internal Revenue Service. This identification can be defined as a social security number or an algorithmic number assigned by the Internal Revenue Service (IRS).",
            "example": "12345678",
            "type": "string"
          },
          "billingProviderName": {
            "description": "Name of the billing provider",
            "example": "Test SPECIALTY",
            "type": "string"
          },
          "billingNpi": {
            "description": "Identifies the standard 10 digit identifier mandated by the HIPAA (Health Insurance Portability and Accountability Act). Healthcare Professional s can only have one while Healthcare Organizations can have multiple.",
            "example": "1043382302",
            "type": "string"
          },
          "renderingProviderName": {
            "description": "Name of the servicing provider",
            "example": "Test SPECIALTY",
            "type": "string"
          }
        },
        "description": "SubmittedProviderInfo"
      },
      "PayerInfo": {
        "type": "object",
        "properties": {
          "payerId": {
            "description": "The payer id of the health insurance company.",
            "example": "87726",
            "type": "string"
          },
          "payerName": {
            "description": "The name of the health insurance company.",
            "example": "UnitedHealthcare",
            "type": "string"
          }
        },
        "description": "Payer information associated with the ticket"
      },
      "ClaimLineType": {
        "type": "object",
        "properties": {
          "lineKey": {
            "description": "The lineKey typically refers to a unique identifier for a specific claim line within a claim.",
            "example": "lrizy7ahqahdbt1752584225159",
            "type": "string"
          },
          "lineNumber": {
            "description": "The lineNumber is a sequential identifier used to distinguish individual claim lines within a single claim.",
            "example": "1",
            "type": "string"
          },
          "unitCount": {
            "description": "The term unitCount (or simply 'units') refers to the quantity of a service, procedure, or item provided to a patient on a specific date.",
            "example": "1",
            "type": "string"
          },
          "serviceCode": {
            "description": "The serviceCode is a standardized code used to identify the specific medical service, procedure, or item provided to a patient.",
            "example": "J0638",
            "type": "string"
          },
          "revenueCode": {
            "description": "A revenueCode is a 4-digit code used primarily in institutional (facility) claims to indicate the type of service or department that provided the care. It helps categorize charges on a claim and links them to specific cost centers within a hospital or facility.",
            "example": "0121",
            "type": "string"
          },
          "linePaymentServiceCode": {
            "description": "The linePaymentServiceCode refers to the specific service code used to represent the adjudicated (finalized) payment decision for a particular service line within a claim. This code may differ from the originally submitted procedure code, especially if the payer adjusts or reclassifies the service during processing.",
            "example": "99214",
            "type": "string"
          },
          "procedureCode": {
            "description": "This entity stores the ICD procedure codes for the claim. Procedure codes are numbers or alphanumeric codes used to identify specific health interventions such as products, services or procedures taken by medical professional.",
            "example": "J0638",
            "type": "string"
          },
          "procedureTypeCode": {
            "description": "procedureTypeCode identifies the coding system used for the procedure or service being billed. It helps payers interpret the procedure code correctly by specifying its source or classification. E.g. HCPCS (Healthcare Common Procedure Coding System)",
            "example": "HC",
            "type": "string"
          },
          "modifiers": {
            "description": "A modifierCode is used in claim adjudication to provide additional details about a healthcare service or procedure that was performed. It helps clarify how, why, or where the service was delivered, especially when it deviates from the standard definition of the procedure code. Modifier codes ensure accurate billing and reimbursement by indicating special circumstances such as bilateral procedures, reduced services, or separate components. For example, RT indicates the procedure was performed on the right side of the body, LT for the left side, and TC denotes the technical component of a diagnostic service. These codes enhance claim specificity and accuracy.",
            "example": "RT",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "diagnosisPointers": {
            "description": "A diagnosis pointer is used in medical billing to link a diagnosis code to a specific procedure or service on a claim form. It helps insurance companies understand the medical reason for the service provided.",
            "example": [
              "1",
              "2",
              "",
              ""
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "lineEvents": {
            "description": "Line events",
            "$ref": "#/components/schemas/LineEvents"
          },
          "lineLevelTotalAmounts": {
            "description": "Line level total amounts",
            "$ref": "#/components/schemas/LineLevelTotalAmounts"
          },
          "lineIndicators": {
            "description": "Line indicators",
            "$ref": "#/components/schemas/LineIndicators"
          },
          "lineAdjudicationCodes": {
            "description": "Line Adjudication code types",
            "items": {
              "$ref": "#/components/schemas/LineAdjudicationCodeTypes"
            },
            "type": "array"
          }
        },
        "description": "ClaimLineType"
      },
      "ClaimTicketComment": {
        "type": "object",
        "properties": {
          "addedBy": {
            "description": "The user who added the comments.",
            "example": "12344455",
            "type": "string"
          },
          "addedOn": {
            "description": "The date the comments were added.",
            "example": "03/04/2025",
            "type": "string"
          },
          "comment": {
            "description": "Field comment",
            "type": "string"
          }
        },
        "description": "ClaimTicketComment"
      },
      "AttachmentList": {
        "type": "object",
        "properties": {
          "ticketNumber": {
            "description": "The type of ticket.",
            "example": "AT-12345678",
            "type": "string"
          },
          "ticketType": {
            "description": "The type of ticket.",
            "example": "RECON",
            "type": "string"
          },
          "fileName": {
            "description": "The name of the file uploaded.",
            "example": "attachment.pdf",
            "type": "string"
          },
          "reportTypeCode": {
            "description": "The type of attachment that was uploaded.",
            "example": "M1",
            "type": "string"
          },
          "reportTypeDesc": {
            "description": "The description of attachment that was uploaded.",
            "example": "Medical Record Attachment",
            "type": "string"
          },
          "documentId": {
            "description": "The document identifier which was was uploaded.",
            "example": "abcd-efgh-ijkl-mnop",
            "type": "string"
          }
        },
        "description": "AttachmentList"
      },
      "AdjudicationCodeType": {
        "type": "object",
        "properties": {
          "claimCodeType": {
            "description": "The type of code",
            "example": "REMARK",
            "type": "string"
          },
          "code": {
            "description": "Code value",
            "example": "YL",
            "type": "string"
          },
          "description": {
            "description": "Description of the code",
            "example": "Benefits for this claim are based on the provider's contracted rate.",
            "type": "string"
          }
        },
        "description": "AdjudicationCodeType"
      },
      "LineLevelTotalAmounts": {
        "type": "object",
        "properties": {
          "billedChargeAmount": {
            "description": "The dollar amount the provider requested to be reimbursed for the service they provided. Also known as the Submitted Service Charge Amount. Can be submitted on 1500 Paper claim form in field 24F UB04 Pare claim form in field 47 837P Loop 2400SV1 837I Loop 2400SV2",
            "example": "20044.36",
            "type": "string"
          },
          "notCoveredAmount": {
            "description": "The notCoveredAmount refers to the portion of the billed charges that is not covered by the health plan and is therefore not eligible for reimbursement. This amount is typically the responsibility of the patient or may be written off by the provider, depending on contractual agreements.",
            "example": "10.00",
            "type": "string"
          },
          "providerNotCoveredAmount": {
            "description": "Breaks out the The service amount not covered to the provider.",
            "example": "10.00",
            "type": "string"
          },
          "patientNotCoveredAmount": {
            "description": "Breaks out the service amount not covered to the patient.",
            "example": "20.00",
            "type": "string"
          },
          "providerWriteOffAmount": {
            "description": "Amount discounted from the claimed amount due to contract agreement. This includes Prompt Pay discounts.",
            "example": "3758.32",
            "type": "string"
          },
          "allowedAmount": {
            "description": "The portion of submitted charges covered under plan benefits. This amount is after discounts and not coveredexcluded expenses, and before employee and member responsibility (e.g., benefit limitations, copay amounts, etc.).",
            "example": "16286.04",
            "type": "string"
          },
          "deductibleAmount": {
            "description": "The set amount a member pays for services until they reach a specified limit (usually defined on an annual basis). After the limit is reached, the members payment for services changes to a percentage of covered amount. This dollar amount is derived using the members benefit rules. The Members Benefits are determined based on their eligibility using the claim service date spans.",
            "example": "500.00",
            "type": "string"
          },
          "copayAmount": {
            "description": "The fixed amount the member pays for a specific service as defined in their benefit plan. For example, 10 for an office visit. This dollar amount is derived using the members benefit rules. The Members Benefits are determined based on their eligibility using the claim service date spans.",
            "example": "10.00",
            "type": "string"
          },
          "coinsuranceAmount": {
            "description": "The amount (usually calculated as a percent of the providers submitted charges) the member pays for a specific service as defined in their benefit plan. For example. 80% per of the cost of an outpatient physical therapy visit. This dollar amount is derived using the members benefit rules. The Members Benefits are determined based on their eligibility using the claim service date spans.",
            "example": "0.00",
            "type": "string"
          },
          "paidAmount": {
            "description": "The actual amount paid to the provider for the service performed after all deductions and calculations are performed. This does not include the amount calculated as fee for service on a capitated service.",
            "example": "16286.04",
            "type": "string"
          },
          "memberResponsiblityAmount": {
            "description": "Member Responsibility amount is the sum of the various types of detail amounts that are coded as member responsible. Some of the detail amount types are Benefit amounts (deductible, copay, etc.) - Non-allowed amounts that the member is responsible for - Non-covered amounts that the member is responsible for - Etc.",
            "example": "0.00",
            "type": "string"
          },
          "medicarePaidAmount": {
            "description": "The amount that Medicare has agreed to pay for the service.",
            "example": "0.00",
            "type": "string"
          },
          "reserveAmount": {
            "description": "The reserveAmount refers to the estimated amount of money set aside by a payer (such as an insurance company) to cover the expected payment for a claim or group of claims. It acts as a financial placeholder until the claim is fully processed and finalized. This amount ensures that funds are available for future disbursement and may be adjusted as more information becomes available. In some cases, reserveAmount may also represent a withhold amount—a portion of the payment temporarily held back for administrative or contractual reasons, such as risk-sharing arrangements or performance-based incentives.",
            "example": "0.00",
            "type": "string"
          },
          "qualifiedPaymentAmount": {
            "description": "Qualified payment amount is a calulated amount to support surprise billing. It is term specific to UHG and will be published to the providers remittance advice. e.g. (Submitted amount - Pricing Amount) = Basis for Deductible - Provider Payout Amount = Qualified Payment Amount (100.00 - 75.00) = 25.00 - 70.00 = 45.00",
            "example": "0.00",
            "type": "string"
          }
        },
        "description": "LineLevelTotalAmounts"
      },
      "ClaimInfo": {
        "type": "object",
        "properties": {
          "claimNumber": {
            "description": "Field claimNumber",
            "example": "12344455",
            "type": "string"
          },
          "isOwedAmountUnknown": {
            "description": "A boolean field and is set to true or false if the Owed Amount is not known to the user.",
            "example": false,
            "type": "boolean"
          },
          "claimAmountOwed": {
            "description": "The total amount owed.",
            "example": "123.45",
            "type": "string"
          },
          "totalBilledChargedAmount": {
            "description": "The total amount a healthcare provider charges for all services or items listed on a claim.",
            "example": "46.00",
            "type": "string"
          },
          "claimStatus": {
            "description": "The status of the claim.",
            "example": "F",
            "type": "string"
          },
          "serviceStartDate": {
[...]
